<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div class="wrapper">
  <!-- title-holder  -->
  <div class="flex items-center justify-between pb-2.5">
    <h2>getOfflineShops</h2>
    <button class="secondary px-7 py-3" (click)="openAddEditShopDialog($event)"><i class="icon-plus"></i><span class="pl-5">Add Shop</span></button>
  </div>
  <!-- main-content -->
  <div class="space-y-5 pt-10">
    <div class="space-y-5" *ngIf="!isLoading">
      <div class="bg-white flex flex-wrap items-center justify-between p-4 cursor-pointer" *ngFor="let shop of shops" (click)="gotoShopOverview($event, shop)">
        <div class="w-full xl:w-10/12 lg:flex items-center lg:items-stretch">
          <div class="relative w-full lg:max-w-[200px]">
            <img [src]="!!(shop?.banner) ? constants.baseImageURL + shop.banner : constants.defaultImage" [alt]="shop.shop_name" class="w-full h-full object-cover pb-5 lg:pb-0" />
          </div>
          <div class="w-full">
            <div class="flex items-center space-x-6 px-2.5 lg:px-5 pb-4">
              <h4>{{shop.shop_name}}</h4>
              <span class="text-xs bg-magicPotion px-2 py-1 text-white">{{shop.shop_category.categoryname}}</span>
            </div>
            <div class="w-full flex flex-wrap space-y-2 xl:space-y-0">
              <div class="w-full md:w-1/3 px-2.5 lg:px-5">
                <span class="text-xs font-bold text-quicksilver"><i class="icon-rating pr-1"></i>Ratings</span>
                <div class="flex flex-wrap items-center pt-1.5">
                  <p-rating [(ngModel)]="shops.user_rating" class="pr-2" [readonly]="true" [cancel]="false"></p-rating>
                  <span class="text-quicksilver text-xs font-bold"> 19,981 ratings</span>
                </div>
              </div> 
              <div class="w-full md:w-1/3 px-2.5 lg:px-5 border-x">
                <span class="text-xs font-bold text-quicksilver"><i class="icon-location-1 pr-1"></i>Location</span>
                <p class="text-sm text-japaneseIndigo font-bold pt-2">
                  {{shop?.flat_no}} {{(shop?.street_name) ? (shop?.street_name + ',') : ''}} {{(shop?.area_name) ? (shop?.area_name + ',') : ''}} {{shop?.city}}, {{shop?.state}}, {{shop?.pincode}}.
                </p>
              </div>
              <div class="w-full md:w-1/3 px-2.5 lg:px-5">
                <span class="text-xs font-bold text-quicksilver"><i class="icon-online_offer pr-1"></i>Location</span>
                <p class="text-sm text-japaneseIndigo font-bold pt-2">250 is running offers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-2/12 flex justify-end space-x-2 pt-5 xl:pt-0">
          <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i class="icon-fill_megaphone text-base text-black"></i></a>
          <a href="javascript:void(0);" (click)="openAddEditShopDialog($event, shop._id)" class="bg-brightGray px-2 py-1 text-center rounded"><i class="icon-edit text-base text-black"></i></a>
          <a href="javascript:void(0);" (click)="gotoShopOverview($event, shop)" class="bg-brightGray px-2 py-1 text-center rounded"><i class="icon-show text-base text-black"></i></a>
          <a href="javascript:void(0);" (click)="openDeleteDialog($event, shop)" class="bg-brightGray px-2 py-1 text-center rounded"><i class="icon-delete_fill text-base text-black"></i></a>
        </div>
      </div>
    </div>

    <p *ngIf="!shops || !shops.length">No Shops Records Found, add new shop.</p>
    <div class="flex flex-wrap items-center justify-center" *ngIf="shops && shops.length">
      <!-- <div class="pagination-festum py-2"><p class="show-text">Showing {{offset}} to {{(((offset - 1) + perPageLimit) < pTotal) ? (offset - 1) + perPageLimit : pTotal}} Of {{ pTotal }} Events.</p></div> -->
      <p-paginator [rows]="pageObj.limit" [totalRecords]="pageObj.totalDocs" [rowsPerPageOptions]="[4, 6, 10, 20]" (onPageChange)="getOfflineShops($event)"></p-paginator>
    </div>

    <!-- ad banner -->
    <div class="w-full mt-5 addsBox">
      <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
    </div>
  </div>
</div>

<!-- Add Edit Shop Dialog -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="shopDialog" [title]="(shopId && shopId != '') ? 'Edit Shop' : 'Add Shop'" maxWidth="lg:max-w-7xl xl:px-0" [isCloseHidden]="true">
  <app-add-edit-shop-dialog *ngIf="isOpenAddEditShop" [shopId]="shopId" (closeAddEditFormEvent)="closeAddEditFormEvent($event)"></app-add-edit-shop-dialog>
</modal>

<!-- Close -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-shop-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete Event</h3>
      <p class="normal-case">Are you sure you want to delete {{tmpShopObj.name}}</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="closeDeleteDialog()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteOfflineShops()">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>