<!-- main-content  -->
<div class="space-y-5">  
  <div class="media-upload-holder pt-5">
    <span class="text-sm text-quicksilver font-semibold">Add Photos <span class="font-normal">(15 Images - up to 3MB/Image)</span></span>
    <div class="flex flex-wrap h-full pt-2">
      <div *ngFor="let photo of photoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
        <div class="rounded relative overflow-hidden h-full w-full">
          <img [alt]="'add-photo-' + i" [src]="!!(photo?.url) ? constants.baseImageURL + photo.url : constants.defaultImage" class="object-cover w-full h-full"/>
          <button (click)="removeImage(i)">Remove</button>
        </div>
      </div>
      <div class="upload-holder relative" *ngIf="photoArr.length < 15">
        <p-progressSpinner *ngIf="isImgLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
        <label class="upload-photo">
          <input (change)="uploadImage()" accept="image/png, image/jpeg, image/gif" class="appearance-none hidden" id="create-photo-upload" multiple name="images" type="file"/>
          <i class="icon-img_upload text-base text-quicksilver"></i>
          <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">Add Photos</span></div>
        </label>
      </div>
    </div>
  </div>  
  <div class="media-upload-holder">
    <span class="text-sm text-quicksilver font-semibold">Add Video <span class="font-normal">(2 videos - up to 512MB/Video)</span></span>
    <div class="flex flex-wrap h-full pt-2">
      <div *ngFor="let video of videoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
        <div class="rounded relative overflow-hidden h-full w-full">
          <video class="w-full h-full object-cover" height="100%" width="100%">
            <source [src]="!!(video?.url) ? constants.baseImageURL + video.url : constants.defaultImage" type="video/mp4">
          </video>
          <button (click)="removeVideo(i)">Remove</button>
        </div>
      </div>
      <div class="upload-holder relative" *ngIf="videoArr.length < 2">
        <p-progressSpinner *ngIf="isVideoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
        <label class="upload-photo">
          <input (change)="uploadVideo()" accept="video/mp4" class="appearance-none hidden" id="create-video-upload" name="videos" type="file"/>
          <i class="icon-video_upload text-base text-quicksilver"></i>
          <div class="mt-1 flex items-baseline justify-center">
            <span class="input-titel pt-1">Add video</span>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="flex justify-end hidden">
    <button class="secondary float-right btn-primary small leading-10 px-5 uppercase anim">Buy Space</button>
  </div>
</div>

<div class="mt-auto">
  <div class="w-full mt-5">
    <img alt="ring-ad" class="w-full object-cover" src="assets/images/banner-ads.png"/>
  </div>
  <div class="prw-next-btn">
    <button [routerLink]="'/live-stream/create/stream'" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button (click)="nextStep()" class="flex items-center active" type="button">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<!-- Images and Video Delete conformation -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete {{deleteItemObj.type}}</h3>
      <p class="normal-case">Are you sure you want to delete {{deleteItemObj.type}}</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteEvent()">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>