<div class="wrapper min-h-full">
  <div class="space-y-8 h-full">
    <!-- title-holder  -->
    <div class="flex justify-start items-center">
      <a href="javascript:void(0);" class="flex items-center" [routerLink]="'/promotions'"><i class="icon-left_arrow mr-4 text-2xl"></i></a>
      <h2>{{'newPromotion' | translate }}</h2>
    </div>
    <!-- main-content  -->
    <form class="space-y-5" [formGroup]="notificationForm">
      <div class="flex items-end flex-wrap -mx-2">
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7">
          <span class="input-titel">{{'promotionTitle' | translate }}<span>*</span></span>
          <input type="text" id="notification-title" formControlName="notification_title" class="input" />
          <span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.get('notification_title')?.invalid && (notificationForm.get('notification_title')?.dirty && notificationForm.get('notification_title')?.touched)">
            <span *ngIf="notificationForm.get('notification_title')?.errors?.['required']">
              Notification title is required.
            </span>
          </span>
        </div>
        <!--<div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7">-->
          <!--<span class="input-titel">{{'link' | translate }}<span>*</span></span>-->
          <!--<input type="text" id="link" formControlName="link" class="input" />-->
          <!--<span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.get('link')?.invalid && (notificationForm.get('link')?.dirty && notificationForm.get('link')?.touched)">-->
            <!--<span *ngIf="notificationForm.get('link')?.errors?.['required']">-->
              <!--Link is required.-->
            <!--</span>-->
            <!--<span *ngIf="notificationForm.get('link')?.errors?.['pattern']">-->
              <!--Please enter valid link.-->
            <!--</span>-->
          <!--</span>-->
        <!--</div>-->
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7">
            <span class="input-titel">{{'Date' | translate }}<span>*</span></span>
            <label class="bg-white rounded-md flex space-x-3 relative">
              <i class="icon-calendar-2 text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0 z-10"></i>
              <p-calendar class="w-full" styleClass="w-full" [formControlName]="'notification_date'" name="notification_date" [minDate]="minDateValue" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true" inputId="notification_date" appendTo="body"></p-calendar>
            </label>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.get('notification_date')?.invalid && (notificationForm.get('notification_date')?.dirty && notificationForm.get('notification_date')?.touched)">
                <span *ngIf="notificationForm.get('notification_date')?.errors?.['required']">
                  Notification Date is required.
                </span>
             </span>
        </div>
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7">
            <span class="input-titel">{{'Time' | translate }}<span>*</span></span>
            <label class="bg-white rounded-md flex space-x-3 relative">
              <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
              <p-calendar class="w-full" [hourFormat]="'24'" [timeOnly]="true" inputId="timeonly" [formControlName]="'notification_time'"></p-calendar>
            </label>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.get('notification_time')?.invalid && (notificationForm.get('notification_time')?.dirty && notificationForm.get('notification_time')?.touched)">
              <span *ngIf="notificationForm.get('notification_time')?.errors?.['required']">
                Notification time is required.
              </span>
            </span>
        </div>
        <div class="w-full space-y-2.5 px-2 relative pb-0.5 mb-7">
          <h5 class="input-titel">{{'Select Category' | translate }}<span>*</span></h5>
          <div class="flex pt-2">
              <div class="flex items-center pb-4 pr-4">
                <label class="checkbox w-8">
                  <input type="checkbox" name="is_notification" id="is_notification" [formControlName]="'is_notification'" (change)="updateNotification()" />
                  <i class="icon-right text-white"></i>
                </label>
                <span class="text-base font-bold text-japaneseIndigo pl-4">Notification</span>
              </div>
              <div class="flex items-center pb-4 pr-4">
                <label class="checkbox w-8">
                  <input type="checkbox" name="is_sms" id="is_sms" [formControlName]="'is_sms'" (change)="updateSMS()"/>
                  <i class="icon-right text-white"></i>
                </label>
                <span class="text-base font-bold text-japaneseIndigo pl-4">SMS</span>
              </div>
              <div class="flex items-center pb-4 pr-4">
                <label class="checkbox w-8">
                  <input type="checkbox" name="is_email" id="is_email" [formControlName]="'is_email'" (change)="updateEmail()" />
                  <i class="icon-right text-white"></i>
                </label>
                <span class="text-base font-bold text-japaneseIndigo pl-4">Email</span>
              </div>
          </div>
          <span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.hasError('requireAtLeastOne')">
            <span>At least one checkbox is required.</span>
          </span>
        </div>
        <div class="w-full relative group px-2 pb-0.5 mb-7" *ngIf="notificationForm.controls['is_notification'].value">
          <h5 class="input-titel">{{'Photo' | translate }} ({{'posterHint' | translate }})<span>*</span></h5>
          <p-progressSpinner *ngIf="isPhotoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-1 bottom-0 top-10 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
          <label class="upload upload-popup py-3">
            <input (change)="onChangePhoto($event)" accept="image/png, image/jpeg, image/jpg" class="appearance-none hidden" id="banner" name="banner" type="file"/>
            <span class="input-titel text-base p-0">
              <i class="icon-pdf_upload mr-2"></i>
              <span class="normal-case">{{inputText ? inputText : 'Upload Image'}}</span>
            </span>
          </label>
          <a *ngIf="inputText" class="absolute right-4 bottom-3 py-0.5 px-2 normal-case text-gray-400 anim hover:text-magicPotion text-sm font-semibold hidden border border-current group-hover:inline-block" [href]="constants.baseImageURL + image.value" target="_blank" title="View Image">View</a>
          <span class="absolute top-full text-red-500 text-xs" *ngIf="image?.invalid && (image?.dirty && image?.touched)">
            <span *ngIf="image?.errors?.['required']">
              Photo is required.
            </span>
          </span>
        </div>
        <div class="w-full space-y-2.5 px-2 relative pb-0.5 mb-7" *ngIf="notificationForm.controls['is_notification'].value">
          <h5 class="input-titel">{{'description' | translate }}<span>*</span></h5>
          <div class="w-full bg-white rounded">
            <ckeditor (ready)="onTextEditorReady($event)" [config]="editorConfig" [editor]="detailEditor" [formControlName]="'description'" class="h-44 text-editor" id="description-editor" name="description"></ckeditor>
            <span class="absolute top-full text-red-500 text-xs ml-0" *ngIf="notificationForm.get('description')?.invalid && (notificationForm.get('description')?.dirty && notificationForm.get('description')?.touched)">
              <span *ngIf="notificationForm.get('description')?.errors?.['required']">
                Description is required.
              </span>
            </span>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7" *ngIf="notificationForm.controls['is_email'].value">
          <span class="input-titel">Email Template<span>*</span></span>
          <select class="bg-white rounded-md flex space-x-3 outline-0 px-6 py-3 relative arrow" [formControlName]="'emailtemplate'">
            <option value=""></option>
            <option *ngFor="let tmp of EmailTemplatesList" [value]="tmp._id">{{tmp.title}}</option>
          </select>
          <span class="absolute top-full text-red-500 text-xs ml-0" *ngIf="notificationForm.get('emailtemplate')?.invalid && (notificationForm.get('emailtemplate')?.dirty && notificationForm.get('emailtemplate')?.touched)">
              <span *ngIf="notificationForm.get('emailtemplate')?.errors?.['required']">
                Email Template is required.
              </span>
            </span>
        </div>
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7" *ngIf="notificationForm.controls['is_sms'].value">
          <span class="input-titel">SMS Template<span>*</span></span>
          <select class="bg-white rounded-md flex space-x-3 outline-0 px-6 py-3 relative arrow" [formControlName]="'smstemplate'">
            <option value=""></option>
            <option *ngFor="let smsObj of SMSTemplatesList" [value]="smsObj._id">{{smsObj.title}}</option>
          </select>
          <span class="absolute top-full text-red-500 text-xs ml-0" *ngIf="notificationForm.get('smstemplate')?.invalid && (notificationForm.get('smstemplate')?.dirty && notificationForm.get('smstemplate')?.touched)">
              <span *ngIf="notificationForm.get('smstemplate')?.errors?.['required']">
                SMS Template is required.
              </span>
            </span>
        </div>
        <div class="w-full px-2 text-right">
          <button class="bg-japaneseIndigo rounded-lg text-white capitalize hover:bg-transparent border border-japaneseIndigo hover:text-japaneseIndigo px-8 py-2 anim" (click)="openPreviewNotification()">{{'preview' | translate }}</button>
        </div>
      </div>
      <div class="prw-next-btn">
        <button type="button" class="flex items-center"><i class="icon-left_arrow mr-3"></i><h5>{{'Back' | translate }}</h5></button>

        <div class="relative">
          <button class="secondary px-6 py-2 anim" type="submit" (click)="createNotification()">
            <span [ngClass]="{'opacity-0': isCreateNotificationLoading}">{{'done' | translate}}</span>
          </button>
          <div class="absolute inset-0 text-white flex items-center" *ngIf="isCreateNotificationLoading">
            <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Preview Notification -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="notification-pop" title="Promotion Preview" maxWidth="lg:max-w-7xl xl:px-0">
  <div class="relative pt-5">
    <div class="bg-white p-7 rounded-md w-full">
      <div class="flex justify-between items-start">
        <div class="relative w-full md:max-w-[128px]">
          <img [src]="!!(image?.value) ? constants.baseImageURL + image.value : constants.defaultImage" alt="Notification" class="w-32 h-32 object-cover" />
        </div>
        <div class="pl-5 w-full md:max-w-[clac(100%-128px)]">
          <div class="flex justify-between">
            <h4>{{notificationForm.value?.notification_title}}</h4>
          </div>
          <div class="flex">
            <div class="w-full md:w-1/2 inputHolder relative pb-0.5 mb-2">
              <span class="input-titel">{{'Date' | translate }}:</span>
              <p class="text-gray-400 text-base pt-1 font-medium normal-case">{{moment(notificationForm.value?.notification_date).format('YYYY-MM-DD')}}</p>
            </div>
            <div class="w-full md:w-1/2 inputHolder relative pb-0.5 mb-2">
              <span class="input-titel">{{'Time' | translate }}:</span>
              <p class="text-gray-400 text-base pt-1 font-medium normal-case">{{moment(notificationForm.value?.notification_time).format('HH:mm')}}</p>
            </div>
          </div>
          <div class="flex">
            <div class="w-full inputHolder relative pb-0.5 mb-2">
              <span class="input-titel">{{'description' | translate }}:</span>
              <p class="text-gray-400 text-base pt-3 font-medium normal-case" [innerHtml]="notificationForm.value?.description"></p>
            </div>
          </div>
          <div class="flex">
            <div class="w-full inputHolder relative pb-0.5 mb-2" *ngIf="notificationForm.value?.is_email">
              <span class="input-titel">Email Template:</span>
              <div id="emailPreview" [innerHtml]="selectedEmailTemplateContent?.htmlContent"></div>
            </div>
          </div>
          <!--<div class="p-3 lg:p-7 bg-white rounded-md space-y-1" [innerHtml]="notificationForm.value?.description"></div>-->

        </div>
      </div>
    </div>
  </div>
</modal>
