<p-progressSpinner *ngIf="isLoading || isCategoryLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>

<div class="wrapper min-h-full p-ngCss">
  <div class="space-y-8 h-full">
    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full lg:w-auto py-3">
        <h2>Booking</h2>
      </div>
      <div class="w-full lg:w-auto pt-5 lg:pt-0">
        <div class="flex flex-wrap justify-start xl:justify-end items-center -mx-3">
          <div class="w-auto px-2 xl:px-3 inputHolder relative">
            <span class="input-titel">Search</span>
            <input id="search" (keyup)="search($event)" autocapitalize="off" autocorrect="off" class="input" spellcheck="off" type="text" />
          </div>

          <div class="min-w-[250px] w-[250px] px-2 xl:px-3 relative">
            <span class="input-titel">Start And End Date</span>
            <label for="date" class="bg-white rounded-md flex w-full relative">
              <i class="icon-calendar text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0 z-10"></i>
              <p-calendar class="w-full" styleClass="w-full rounded-md outline-none" [(ngModel)]="date" name="date" [showButtonBar]="true" selectionMode="range" [readonlyInput]="true" inputId="range" (onClose)="filterChange(true)"></p-calendar>
            </label>
          </div>
          <div class="w-auto px-2 xl:px-3">
            <div class="flex flex-wrap justify-between items-center">
              <div class="min-w-[125px] w-[125px] pr-3 relative">
                <span class="input-titel">Start Time</span>
                <label for="start-time" class="bg-white rounded-md flex relative">
                  <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0 z-10"></i>
                  <p-calendar class="w-4/5" [(ngModel)]="startTime" name="start_time" [showTime]="true" [timeOnly]="true" inputId="start_time" (onBlur)="filterChange(false, true)"></p-calendar>
                </label>
              </div>
              <div class="min-w-[125px] w-[125px] pl-3 relative">
                <span class="input-titel">End Time</span>
                <label for="end-time" class="bg-white rounded-md flex relative">
                  <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0 z-10"></i>
                  <p-calendar class="w-4/5" [(ngModel)]="endTime" name="end_time" [showTime]="true" [timeOnly]="true" inputId="end_time" (onBlur)="filterChange(false, true)"></p-calendar>
                </label>
              </div>
            </div>
          </div>
          <div class="min-w-[225px] w-[225px] px-2 xl:px-3 relative">
            <span class="input-titel">Categories</span>
            <p-dropdown styleClass="w-full border-0 font-bold" panelStyleClass="p-0" [(ngModel)]="filterObj.category" [options]="categories" placeholder="All categories" optionLabel="categoryname" optionValue="_id" [showClear]="true" (onChange)="filterChange()"></p-dropdown>
          </div>
          <div class="min-w-[225px] w-[225px] px-2 xl:px-3 relative">
            <span class="input-titel">Entity</span>
            <p-dropdown styleClass="w-full border-0 font-bold" panelStyleClass="p-0" [(ngModel)]="filterObj.entity" [options]="constants.entities" placeholder="All Entities" optionLabel="entityname" optionValue="value" [showClear]="true" (onChange)="filterChange()"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-5">
      <div class="w-full bg-white flex flex-wrap lg:flex-nowrap p-2.5 rounded-md cursor-pointer" *ngFor="let booking of bookings">
        <div class="max-w-[170px] w-full h-[170px]">
          <img [src]="!!(booking?.event_id?.banner) ? constants.baseImageURL + booking?.event_id?.banner : constants.defaultImage" [alt]="booking?.event_id?.name" class="w-full h-full object-cover" />
        </div>
        <div class="w-full pt-2 px-3">
          <div class="flex justify-between items-center pb-2">
            <h4 class="text-japaneseIndigo">{{booking?.event_id?.name}}</h4>
            <h4>{{booking?.amount | number: '1.2-2'}} INR</h4>
          </div>
          <div class="flex items-center space-x-2 pb-4 border-b">
            <img [src]="!!(booking?.userid?.profilepic) ? constants.baseImageURL + booking?.userid?.profilepic : constants.defaultImage" [alt]="booking?.userid?.name" class="w-9 h-9 object-cover rounded-full" />
            <p class="text-base text-quicksilver font-normal">{{booking?.userid?.name}}</p>
          </div>
          <div class="flex items-center pt-4 space-x-7">
            <div>
              <span class="text-xs lg:text-sm font-semibold text-quicksilver pt-3"><i class="icon-calendar pr-2"></i>Date </span>
              <p class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{booking?.startDate | date:'dd MMM, yyyy'}} - {{booking?.endDate | date:'dd MMM, yyyy'}}</p>
            </div>
            <div class="border-x px-7">
              <span class="text-xs lg:text-sm font-semibold text-quicksilver pt-3"><i class="icon-time pr-2"></i>Time </span>
              <p class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{'0' + ' ' + booking?.startTime | date : 'hh:mm a'}} - {{'0' + ' ' + booking?.endTime | date : 'hh:mm a'}}</p>
            </div>
            <div>
              <span class="text-xs lg:text-sm font-semibold text-quicksilver pt-3"><i class="icon-location-1 pr-2"></i>Location </span>
              <p class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{booking?.event_id?.event_location?.area_name}}, {{booking?.event_id?.event_location?.city}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mt-5 addsBox">
      <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
    </div>
  </div>

  <p class="text-center text-xl" *ngIf="!bookings || !bookings?.length">No Booking Records Found.</p>
</div>