<div class="wrapper min-h-full">
  <div class="space-y-8 h-full">
    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full lg:w-4/12">
        <h2>Booking</h2>
      </div>
      <div class="w-full lg:w-8/12 pt-5 lg:pt-0">
        <div class="flex flex-wrap justify-between items-center -mx-3">
          <div class="w-1/3 px-2 xl:px-3">
            <label for="date" class="bg-white rounded-md flex space-x-3 w-full relative">
              <i class="icon-calendar-2 text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
              <input type="date" id="date" class="w-full rounded-md outline-none py-4" />
            </label>
          </div>
          <div class="w-1/3 px-2 xl:px-3">
            <label for="start-time" class="bg-white rounded-md flex space-x-3 w-full relative">
              <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
              <input type="time" id="start-time" class="w-full rounded-md outline-none py-4" />
            </label>
          </div>
          <div class="w-1/3 px-2 xl:px-3">
            <select name="All Category" class="arrow bg-white pl-5 pr-11 py-4 text-japaneseIndigo font-bold rounded-md tracking-wider appearance-none focus-visible:outline-none">
              <option value="">Select Category</option>
              <option value="">Event Category 2</option>
              <option value="">Event Category 3</option>
              <option value="">Event Category 4</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-5">
      <div class="w-full bg-white flex flex-wrap lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[170px] w-full h-[170px]">
          <img src="../assets/images/sweet-love-catering.png" alt="sweet-love-catering-2" class="w-full h-full object-cover" />
        </div>
        <div class="w-full pt-3 lg:pt-0 px-3">
          <div class="flex justify-between items-center pb-2">
            <h5>Sweet Love Catering</h5>
            <h5>250 INR</h5>
          </div>
          <div class="flex items-center space-x-2 pb-5 border-b">
            <img src="../assets/images/profile-3.png" alt="user-3" class="w-9 h-9 object-cover" />
            <p class="text-base text-quicksilver font-normal">Mobina Mirbagheri</p>
          </div>
          <div class="flex items-center pt-5 space-x-7">
            <div>
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-calendar2 pr-2"></i>Date </span>
              <p class="text-base">July 23, 2021</p>
            </div>
            <div class="border-x px-7">
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-light-fill-time pr-2"></i>Time </span>
              <p class="text-base">04:00PM</p>
            </div>
            <div>
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-location pr-2"></i>Location </span>
              <p class="text-base">Vesu, Surat</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white flex flex-wrap lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[170px] w-full h-[170px]">
          <img src="../assets/images/sweet-love-catering.png" alt="sweet-love-catering-2" class="w-full h-full object-cover" />
        </div>
        <div class="w-full pt-3 lg:pt-0 px-3">
          <div class="flex justify-between items-center pb-2">
            <h5>Sweet Love Catering</h5>
            <h5>250 INR</h5>
          </div>
          <div class="flex items-center space-x-2 pb-5 border-b">
            <img src="../assets/images/profile-3.png" alt="user-3" class="w-9 h-9 object-cover" />
            <p class="text-base text-quicksilver font-normal">Mobina Mirbagheri</p>
          </div>
          <div class="flex items-center pt-5 space-x-7">
            <div>
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-calendar2 pr-2"></i>Date </span>
              <p class="text-base">July 23, 2021</p>
            </div>
            <div class="border-x px-7">
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-light-fill-time pr-2"></i>Time </span>
              <p class="text-base">04:00PM</p>
            </div>
            <div>
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-location pr-2"></i>Location </span>
              <p class="text-base">Vesu, Surat</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white flex flex-wrap lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[170px] w-full h-[170px]">
          <img src="../assets/images/sweet-love-catering.png" alt="sweet-love-catering-2" class="w-full h-full object-cover" />
        </div>
        <div class="w-full pt-3 lg:pt-0 px-3">
          <div class="flex justify-between items-center pb-2">
            <h5>Sweet Love Catering</h5>
            <h5>250 INR</h5>
          </div>
          <div class="flex items-center space-x-2 pb-5 border-b">
            <img src="../assets/images/profile-3.png" alt="user-3" class="w-9 h-9 object-cover" />
            <p class="text-base text-quicksilver font-normal">Mobina Mirbagheri</p>
          </div>
          <div class="flex items-center pt-5 space-x-7">
            <div>
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-calendar2 pr-2"></i>Date </span>
              <p class="text-base">July 23, 2021</p>
            </div>
            <div class="border-x px-7">
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-light-fill-time pr-2"></i>Time </span>
              <p class="text-base">04:00PM</p>
            </div>
            <div>
              <span class="text-xs text-quicksilver font-bold">
                <i class="icon-location pr-2"></i>Location </span>
              <p class="text-base">Vesu, Surat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mt-5 addsBox">
      <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
    </div>
  </div>
</div>