<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>

<div class="space-y-5">
  <form [formGroup]="locationForm" class="space-y-5">
    <h5 class="px-2">Address</h5>
    <div class="w-full flex flex-wrap">
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-3 inputHolder">
        <span class="input-titel">Flat No.</span>
        <input class="input" [formControlName]="'flat_number'" name="flat_number" type="text"/>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-3 inputHolder">
        <span class="input-titel">Street Name.</span>
        <input class="input" [formControlName]="'street_name'" name="street_name" type="text"/>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-3 inputHolder">
        <span class="input-titel">Area Name.</span>
        <input class="input" [formControlName]="'area_name'" name="area_name" type="text"/>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-3 inputHolder relative">
        <label class="input-titel">City <span>*</span></label>
        <input class="input" [formControlName]="'city'" name="city" type="text"/>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="locationForm.get('city')?.invalid && (locationForm.get('city')?.dirty && locationForm.get('city')?.touched)">
          <span *ngIf="locationForm.get('city')?.errors?.['required']">
            City is required.
          </span>
        </span>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="isValidCity">
          City not match area wise.
        </span>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-3 inputHolder relative">
        <label class="input-titel">State <span>*</span></label>
        <input class="input" [formControlName]="'state'" name="state" type="text"/>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="locationForm.get('state')?.invalid && (locationForm.get('state')?.dirty && locationForm.get('state')?.touched)">
          <span *ngIf="locationForm.get('state')?.errors?.['required']">
            State is required.
          </span>
        </span>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="isValidState">
          State not match area wise.
        </span>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-3 inputHolder relative">
        <label class="input-titel">Pincode <span>*</span></label>
        <input class="input" [formControlName]="'pincode'" name="pincode" type="text"/>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="locationForm.get('pincode')?.invalid && (locationForm.get('pincode')?.dirty && locationForm.get('pincode')?.touched)">
          <span *ngIf="locationForm.get('pincode')?.errors?.['required']">
            Pincode is required.
          </span>
          <span *ngIf="locationForm.get('pincode')?.errors?.['pattern']">
            Please enter valid Pincode.
          </span>
        </span>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="isValidPinCode">
          Pincode not match area wise.
        </span>
      </div>
    </div>
    <div class="w-full px-2 pt-3 lg:pt-0 inputHolder">
      <label class="input-titel">What’s the Location?</label>
      <div class="bg-white rounded-md location relative">
        <input #search (keydown.enter)="$event.preventDefault()" autocapitalize="off" autocorrect="off" class="form-control absolute top-1 left-1 right-1 z-10 px-3 py-1.5 text-base rounded" placeholder="Search Nearest Location" spellcheck="off" type="text" type="text"/>
        <agm-map (mapClick)="mapClicked($event)" [disableDefaultUI]="false" [latitude]="lat" [longitude]="lng" [zoomControl]="false" [zoom]="zoom">
          <agm-marker (dragEnd)="markerDragEnd($event)" (markerClick)="clickedMarker(markers.label)" [label]="markers.label" [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
        </agm-map>
        <!-- (click)="googleMap()" -->
        <button [disabled]="isLocationLoading" (click)="addMapLocation()" class="secondary flex justify-end ml-auto px-5 py-2 anim uppercase mt-2 absolute bottom-1 right-1">
          Location from Google map
        </button>
      </div>
    </div>
  </form>
</div>
<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button (click)="onBackButtonClick()" [routerLink]="'/events/create/arrangement'" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <!-- [disabled]="!locationForm.valid" -->
    <button (click)="next()" class="flex items-center active" type="button">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>
