<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>

<div class="space-y-5">
  <!--<div class="w-full bg-white pl-5 py-4 flex justify-between cursor-pointer border shadow hover:bg-red-50"
   [ngClass]="{'border-magicPotion bg-red-50': (i + 1) === selectedEventIndex}"
    *ngFor="let event of events; let i = index" (click)="selectEvent(event, i + 1)">-->
    <!-- hover:bg-red-50 border-magicPotion bg-red-50 -->
  <div *ngIf="addEditEvent" class="w-full bg-white pl-5 py-4 flex justify-between border shadow">
    <div class="space-y-2">
      <h4>{{addEditEvent.name}}</h4>
      <span class="text-sm text-magicPotion font-bold">{{addEditEvent.event_category ? addEditEvent.event_category?.categoryname : addEditEvent.other}}</span>
    </div>
    <div class="flex items-start space-x-5">
      <a (click)="deleteEvent()" href="javascript:void(0)"><i class="icon-delete text-quicksilver"></i></a>
      <a (click)="isEditEvent = true" href="javascript:void(0)"><i class="icon-edit text-quicksilver"></i></a>
      <span class="bg-magicPotion text-xs font-bold px-2 py-1 text-white">{{constants?.eventTypeArr[constants?.eventTypeObj[addEditEvent?.event_type]]?.displayLabel}}</span>
    </div>
  </div>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5">
    <img alt="ring-ad" class="w-full object-cover" src="assets/images/banner-ads.png"/>
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button [routerLink]="'/events/create/add-event'" class="flex items-center" disabled type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button class="flex items-center active" type="button" (click)="next()">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<app-add-edit-event-dialog (isEditEventChange)="closePop($event)" (editedEvent)="editEvent($event)" *ngIf="isEditEvent" [eventObj]="addEditEvent" [popClass]="'active'"></app-add-edit-event-dialog>
