<h1>Create an Account</h1>
<p class="sm:text-lg xl:text-xl text-quicksilver font-normal sm:pt-3.5">Let’s get you all set up you can verify your personal account and login setting up your profile</p>
<div class="w-full pt-7 sm:pt-10">
  <form #registerNgForm="ngForm" [formGroup]="registerForm" class="space-y-5">
    <div class="relative">
      <label class="input-titel">Your Name <span class="text-red-500">*</span></label>
      <input type="text" name="Your Name" class="input_box" [formControlName]="'name'" id="name"/>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.dirty && registerForm.get('name')?.touched">
        <span *ngIf="registerForm.get('name')?.errors?.['required']">Your Name is required.</span>
      </span>
    </div>
    <div class="relative">
      <label class="input-titel">Email <span class="text-red-500">*</span></label>
      <input type="email" name="Email" class="input_box" [formControlName]="'email'" id="email"/>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty && registerForm.get('email')?.touched">
        <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
        <span *ngIf="registerForm.get('email')?.errors?.['pattern']">Please enter valid Email.</span>
      </span>
    </div>
    <div class="relative">
      <label class="input-titel">Phone Number <span class="text-red-500">*</span></label>
      <input type="text" name="Phone Number" class="input_box" [formControlName]="'mobile'" id="mobile" fuseValidNumber/>
      <!-- <span class="text-caribbeanGreen text-sm font-semibold absolute right-4 bottom-4">Verify</span> -->
      <span class="absolute top-full text-red-500 text-xs" *ngIf="registerForm.get('mobile')?.invalid && registerForm.get('mobile')?.dirty && registerForm.get('mobile')?.touched">
        <span *ngIf="registerForm.get('mobile')?.errors?.['required']">Phone Number is required.</span>
        <span *ngIf="registerForm.get('mobile')?.errors?.['pattern']">Please enter valid Phone number.</span>
      </span>
    </div>
    <div class="flex justify-between flex-wrap space-y-5 sm:space-y-0">
      <div class="relative w-full sm:w-[48%]">
        <label class="input-titel">password <span class="text-red-500">*</span></label>
        <input [type]="pwd ? 'text' : 'password'" name="Phone Number" class="input_box pr-10" [formControlName]="'password'" id="password"/>
        <span class="text-xl opacity-50 absolute right-3 bottom-3 cursor-pointer" (click)="pwd = !pwd" [ngClass]="pwd ? 'icon-hide_pass' : 'icon-pass_show'"></span>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty && registerForm.get('password')?.touched">
          <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Password should be 8 character.</span>
          <span *ngIf="registerForm.get('password')?.errors?.['maxlength']">Password must be under 16 character</span>
        </span>
      </div>
      <div class="relative w-full sm:w-[48%]">
        <label class="input-titel">Confirm Password <span class="text-red-500">*</span></label>
        <input [type]="confirmPwd ? 'text' : 'password'" name="Phone Number" class="input_box pr-10" [formControlName]="'confirm_password'" id="confirm_password"/>
        <span class="text-xl opacity-50 absolute right-3 bottom-3 cursor-pointer" (click)="confirmPwd = !confirmPwd" [ngClass]="confirmPwd ? 'icon-hide_pass' : 'icon-pass_show'"></span>
        <span class="absolute top-full text-red-500 text-xs"
              *ngIf="confirmPassword?.invalid && confirmPassword?.dirty && confirmPassword?.touched">
        <span *ngIf="confirmPassword?.errors?.['required']">Password is required.</span>
        <span *ngIf="!confirmPassword?.errors?.['required'] && !confirmPassword?.errors?.['minlength'] &&
         !confirmPassword?.errors?.['maxlength'] && confirmPassword?.errors?.['mustMatch']">
          Confirm passwords must match
        </span>
      </span>
      </div>
    </div>
    <div class="relative">
      <label class="input-titel">Refer Code</label>
      <input type="text" name="Refer Code" class="input_box" [formControlName]="'refer_code'" id="refer_code"/>
      <span class="text-quicksilver text-xs font-light absolute right-0 top-0">(Optional)</span>
    </div>
    <div class="block w-full relative">
      <label class="inline-flex items-center cursor-pointer" (click)="tAndCPop()">
        <div class="checkbox rounded bg-white">
          <input type="checkbox" [formControlName]="'tandc'" name="tandc" [checked]="false" style="width: 26px !important;height: 26px !important;" />
          <i class="icon-right text-white text-13"></i>
        </div>
        <span class="input-titel text-sm pl-3 pt-1">By continuing, I agree to the <strong class="text-magicPotion">terms and conditions</strong>.</span>
      </label>
      <span class="absolute top-full left-0 text-red-500 text-xs" *ngIf="registerForm.get('tandc')?.invalid && (registerForm.get('tandc')?.dirty && registerForm.get('tandc')?.touched)">
        <span *ngIf="registerForm.get('tandc')?.errors?.['required']">
          Terms And Conditions is required.
        </span>
      </span>
    </div>

    <!-- Register Button -->
    <div class="relative pt-4">
      <button class="secondary w-full py-[15px] uppercase relative" type="submit" (click)="register()">
        <span [ngClass]="{'opacity-0': registerForm.disabled}">Register Now</span>
      </button>
      <div class="absolute inset-0 text-white flex items-center" *ngIf="registerForm.disabled">
        <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
      </div>
    </div>

    <div type="button" class="relative py-5">
      <span class="absolute inset-x-0 top-1/2 -translate-y-1/2 w-full h-[1px] bg-brightGray"></span>
      <span class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-max p-2 bg-white">or</span>
    </div>
    <div class="flex items-center justify-between">
      <button type="button" class="btn p-3 relative w-[48%] font-bold text-base text-japaneseIndigo border-2 border-[#D3DCEA] rounded">
        <img src="/assets/images/google 1.png" class="absolute top-1/2 left-3.5 -translate-y-1/2" alt="google"/>
        Google
      </button>
      <button type="button" class="btn p-3 relative w-[48%] font-bold text-base text-japaneseIndigo border-2 border-[#D3DCEA] rounded">
        <img src="/assets/images/facebook-icon.png" class="absolute top-1/2 left-3.5 -translate-y-1/2 w-4" alt="google"/>
        Facebook
      </button>
    </div>
    <span class="block text-sm text-japaneseIndigo font-bold text-center">Are you new? <a [routerLink]="'/login'">Login</a></span>
  </form>
</div>

<!-- T & C -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="tandc" title="Terms and Conditions">
  <div class="pt-6 space-y-5 lg:space-y-8">
    <ul class="space-y-2.5 list-disc list-inside text-xs font-medium">
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum.</li>
    </ul>
    <div class="flex items-center space-x-5">
      <!-- <button class="secondary w-full py-2 anim" accesskey="alt+tab" (click)="closePop()">CANCEL</button> -->
      <button class="primary w-full py-2 anim" (click)="applyTAndC()">APPLY</button>
    </div>
  </div>
</modal>