<h1>Enter new Password</h1>
<p class="sm:text-lg xl:text-xl text-quicksilver font-normal sm:pt-3.5">Please enter a new password</p>
<div class="w-full pt-7 sm:pt-10">
  <form [formGroup]="setNewPasswordForm" class="space-y-5">
    <div class="relative">
      <label class="input-titel">Password</label>
      <input [type]="pwd ? 'text' : 'password'" name="password" class="input_box pr-10" formControlName="password"/>
      <span class="text-xl opacity-50 absolute right-3 bottom-3 cursor-pointer" (click)="pwd = !pwd" [ngClass]="pwd ? 'icon-hide_pass' : 'icon-pass_show'"></span>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="password?.invalid && password?.dirty && password?.touched">
        <span *ngIf="password?.errors?.['required']">Password is required.</span>
        <span *ngIf="password?.errors?.['minlength']">Password must be at-least 8 characters.</span>
        <span *ngIf="password?.errors?.['maxlength']">Password must be under 16 character</span>
      </span>
    </div>
    <div class="relative">
      <label class="input-titel">Confirm Password</label>
      <input [type]="confirmPwd ? 'text' : 'password'" name="confirm_password" class="input_box pr-10" formControlName="confirm_password"/>
      <span class="text-xl opacity-50 absolute right-3 bottom-3 cursor-pointer" (click)="confirmPwd = !confirmPwd" [ngClass]="confirmPwd ? 'icon-hide_pass' : 'icon-pass_show'"></span>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="confirmPassword?.invalid && confirmPassword?.dirty && confirmPassword?.touched">
        <span *ngIf="confirmPassword?.errors?.['required']">Password is required.</span>
        <span *ngIf="!confirmPassword?.errors?.['required'] && !confirmPassword?.errors?.['minlength'] && !confirmPassword?.errors?.['maxlength'] && confirmPassword?.errors?.['mustMatch']"> Confirm passwords must match </span>
      </span>
    </div>
    
    <div class="relative">
      <button class="secondary w-full py-[15px] uppercase relative" type="submit" (click)="setNewPassword()" [disabled]="setNewPasswordForm.invalid || isLoading">
        <span [ngClass]="{'opacity-0': isLoading}">Submit a new password</span>
      </button>
      <div class="absolute inset-0 text-white flex items-center" *ngIf="isLoading">
        <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
      </div>
    </div>
  </form>
</div>