<div class="">
  <!-- select your Business   -->
  <div class="">
    <h5>Bill Details</h5>
    <div class="bg-white rounded p-8 mt-6 space-y-5">
      <div class="flex items-start" *ngIf="notificationObj && notificationObj.is_notification && (!selectedPlanObj || (selectedPlanObj && !calculateTotalObj.planDiscount))">
        <i class="w-8 icon-bell_fill text-magicPotion text-2xl mr-5"></i>
        <div class="w-full flex justify-between">
          <div class="">
            <p class="text-base text-japaneseIndigo font-bold">Notification</p>
            <span class="text-sm text-gray-300 font-normal" *ngIf="calculateTotalObj.planDiscount">{{numberOfUsers}} User x {{settingObj?.notificationcost}}</span>
            <span class="text-sm text-gray-300 font-normal" *ngIf="!calculateTotalObj.planDiscount">{{selectedPlanObj.notification_amount | number:'1.2-2'}} FOR {{selectedPlanObj.total_users | number:'1.0-0'}} USERS</span>
          </div>
          <h4 class="font-normal"><i class="icon-rs rs-black text-base mr-2"></i>{{(calculateTotalObj?.notificationTotal || 0) | number:'1.2-2'}}</h4>
        </div>
      </div>
      <div class="flex items-start" *ngIf="notificationObj && notificationObj.is_sms && (!selectedPlanObj || (selectedPlanObj && !calculateTotalObj.planDiscount))">
        <i class="w-8 icon-massage_fill text-magicPotion text-2xl mr-5"></i>
        <div class="w-full flex justify-between">
          <div class="">
            <p class="text-base text-japaneseIndigo font-bold">SMS</p>
            <span class="text-sm text-gray-300 font-normal" *ngIf="calculateTotalObj.planDiscount">{{numberOfUsers}} Phone Number x {{settingObj?.smscost}}</span>
            <span class="text-sm text-gray-300 font-normal" *ngIf="!calculateTotalObj.planDiscount">{{selectedPlanObj.sms_amount | number:'1.2-2'}} FOR {{selectedPlanObj.total_users | number:'1.0-0'}} USERS</span>
          </div>
          <h4 class="font-normal"><i class="icon-rs rs-black text-base mr-2"></i>{{(calculateTotalObj?.smsTotal || 0) | number:'1.2-2'}}</h4>
        </div>
      </div>
      <div class="flex items-start" *ngIf="notificationObj && notificationObj.is_email && (!selectedPlanObj || (selectedPlanObj && !calculateTotalObj.planDiscount))">
        <i class="w-8 icon-email_fill text-magicPotion text-2xl mr-5"></i>
        <div class="w-full flex justify-between">
          <div class="">
            <p class="text-base text-japaneseIndigo font-bold">Email</p>
            <span class="text-sm text-gray-300 font-normal" *ngIf="calculateTotalObj.planDiscount">{{numberOfUsers}} Email ID x {{settingObj?.emailcost}}</span>
            <span class="text-sm text-gray-300 font-normal" *ngIf="!calculateTotalObj.planDiscount">{{selectedPlanObj.email_amount | number:'1.2-2'}} FOR {{selectedPlanObj.total_users | number:'1.0-0'}} USERS</span>
          </div>
          <h4 class="font-normal"><i class="icon-rs rs-black text-base mr-2"></i>{{(calculateTotalObj?.emailTotal || 0) | number:'1.2-2'}}</h4>
        </div>
      </div>
      <div class="flex items-start" *ngIf="selectedPlanObj && calculateTotalObj.planDiscount">
        <i class="w-8 icon-email_fill text-magicPotion text-2xl mr-5"></i>
        <div class="w-full flex justify-between">
          <div class="">
            <p class="text-base text-japaneseIndigo font-bold">All</p>
            <span class="text-sm text-gray-300 font-normal">{{selectedPlanObj.combo_amount | number:'1.2-2'}} FOR {{selectedPlanObj.total_users | number:'1.0-0'}} USERS</span>
          </div>
          <h4 class="font-normal"><i class="icon-rs rs-black text-base mr-2"></i>{{(selectedPlanObj?.combo_amount || 0) | number:'1.2-2'}}</h4>
        </div>
      </div>
      <div class="flex justify-between capitalize text-magicPotion" *ngIf="selectedCoupon && selectedCoupon._id && selectedCoupon._id != ''">
        <h5>discount savings</h5>
        <h4>- <i class="icon-rs rs-black text-base mr-2"></i>{{(calculateTotalObj?.totalCouponDiscount || 0) | number:'1.2-2'}}</h4>
      </div>
      <span class="block border-b-2 border-dashed border-gray-300"></span>
      <div class="flex justify-between capitalize">
        <h2>total</h2>
        <h4><i class="icon-rs rs-black text-lg mr-2"></i>{{(calculateTotalObj.total || 0) | number:'1.2-2'}}</h4>
      </div>
    </div>
  </div>
  <div class="" *ngIf="couponsList && couponsList.length">
    <h5 class="capitalize">discount coupon</h5>
    <div *ngFor="let coupon of couponsList">
      <div class="flex justify-between items-center border border-caribbeanGreen rounded-md px-5 py-6 bg-green-50"
           *ngIf="selectedCoupon && selectedCoupon._id && selectedCoupon._id == coupon._id">
        <div>
          <h5 class="text-caribbeanGreen pb-2">Coupon applied - You saved ₹{{(calculateTotalObj?.totalCouponDiscount || 0) | number:'1.2-2'}}</h5>
          <span class="text-sm text-quicksilver">Coupon Code : {{selectedCoupon?.code}}</span>
        </div>
        <div>
          <a href="javascript:void(0);" (click)="onRemoveCoupon()"><i class="icon-delete text-magicPotion text-2xl"></i></a>
        </div>
      </div>
      <div class="bg-white rounded p-8 flex items-start mt-3" *ngIf="!selectedCoupon || !selectedCoupon._id || selectedCoupon._id != coupon._id">
        <i class="w-8 icon-coupan text-magicPotion text-2xl mr-5"></i>
        <div class="w-full flex justify-between">
          <div class="">
            <p class="text-base text-japaneseIndigo font-bold">Apply Coupons</p>
            <span class="text-sm text-gray-300 font-normal" [innerHTML]="coupon?.description || ''"></span>
          </div>
          <div class="flex items-center text-lg text-japaneseIndigo capitalize">
            <button title="Apply Code" class="bg-japaneseIndigo text-white border border-japaneseIndigo hover:bg-transparent hover:text-japaneseIndigo px-3 py-2 rounded-md anim" (click)="onApplyCoupon(coupon)">
              Apply Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pay now button  -->
  <button title="Pay NOW" type="button" class="secondary w-full uppercase py-2.5 anim mt-5" (click)="payNow()">
    <h5>Pay NOW</h5>
  </button>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- next preview button -->
  <div class="prw-next-btn mt-auto">
    <button title="Back" type="button" class="flex items-center active" (click)="onBackClick()">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button title="Next" type="button" class="flex items-center active">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>