<div class="wrapper min-h-full">
  <div class="space-y-8 h-full">
    <!-- title-holder  -->
    <div class="flex justify-start items-center">
      <a href="javascript:void(0);" class="flex items-center" [routerLink]="'/notifications'"><i class="icon-left_arrow mr-4 text-2xl"></i></a>
      <h2>Create New Promotion</h2>
    </div>
    <!-- main-content  -->
    <form class="space-y-5" [formGroup]="notificationForm">
      <div class="flex items-end flex-wrap -mx-2">
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7">
          <span class="input-titel text-xl text-japaneseIndigo font-bold">Promotion Title<span>*</span></span>
          <input type="text" id="notification-title" formControlName="notification_title" class="input" />
          <span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.get('notification_title')?.invalid && (notificationForm.get('notification_title')?.dirty && notificationForm.get('notification_title')?.touched)">
            <span *ngIf="notificationForm.get('notification_title')?.errors?.['required']">
              Notification title is required.
            </span>
          </span>
        </div>
        <div class="w-full md:w-1/2 px-2 inputHolder relative pb-0.5 mb-7">
          <span class="input-titel text-xl text-japaneseIndigo font-bold">Link<span>*</span></span>
          <input type="text" id="link" formControlName="link" class="input" />
          <span class="absolute top-full text-red-500 text-xs" *ngIf="notificationForm.get('link')?.invalid && (notificationForm.get('link')?.dirty && notificationForm.get('link')?.touched)">
            <span *ngIf="notificationForm.get('link')?.errors?.['required']">
              Link is required.
            </span>
            <span *ngIf="notificationForm.get('link')?.errors?.['pattern']">
              Please enter valid link.
            </span>
          </span>
        </div>
        <div class="w-full relative group px-2 pb-0.5 mb-7">
          <h5 class="input-titel text-xl text-japaneseIndigo font-bold">Photo<span>*</span></h5>
          <p-progressSpinner *ngIf="isPhotoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-1 bottom-0 top-10 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
          <label class="upload upload-popup py-3">
            <input (change)="onChangePhoto($event)" accept="image/png, image/jpeg, image/jpg" class="appearance-none hidden" id="banner" name="banner" type="file"/>
            <span class="input-titel text-base p-0">
              <i class="icon-pdf_upload mr-2"></i>
              <span class="normal-case">{{inputText ? inputText : 'Upload Image'}}</span>
            </span>
          </label>
          <a *ngIf="inputText" class="absolute right-4 bottom-3 py-0.5 px-2 normal-case text-gray-400 anim hover:text-magicPotion text-sm font-semibold hidden border border-current group-hover:inline-block" [href]="constants.baseImageURL + image.value" target="_blank" title="View Image">View</a>
          <span class="absolute top-full text-red-500 text-xs" *ngIf="image?.invalid && (image?.dirty && image?.touched)">
            <span *ngIf="image?.errors?.['required']">
              Photo is required.
            </span>
          </span>
        </div>
        <div class="w-full space-y-2.5 px-2 relative pb-0.5 mb-7">
          <h5>Description</h5>
          <div class="w-full bg-white rounded">
            <ckeditor (ready)="onTextEditorReady($event)" [config]="editorConfig" [editor]="detailEditor" [formControlName]="'description'" class="h-44 text-editor" id="description-editor" name="description"></ckeditor>
            <span class="absolute top-full text-red-500 text-xs ml-0" *ngIf="notificationForm.get('description')?.invalid && (notificationForm.get('description')?.dirty && notificationForm.get('description')?.touched)">
              <span *ngIf="notificationForm.get('description')?.errors?.['required']">
                Description is required.
              </span>
            </span>
          </div>
        </div>
        <div class="w-full px-2 text-right">
          <button class="bg-japaneseIndigo rounded-lg text-white capitalize hover:bg-transparent border border-japaneseIndigo hover:text-japaneseIndigo px-8 py-2 anim" (click)="openPreviewNotification()">preview</button>
        </div>
      </div>
      <div class="prw-next-btn">
        <button type="button" class="flex items-center"><i class="icon-left_arrow mr-3"></i><h5>Back</h5></button>

        <div class="relative">
          <button class="secondary px-6 py-2 anim" type="submit" (click)="createNotification()">
            <span [ngClass]="{'opacity-0': isCreateNotificationLoading}">Done</span>
          </button>
          <div class="absolute inset-0 text-white flex items-center" *ngIf="isCreateNotificationLoading">
            <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Preview Notification -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="notification-pop" title="Promotion" maxWidth="lg:max-w-7xl xl:px-0">
  <div class="relative pt-5">
    <div class="bg-white p-7 rounded-md w-full">
      <div class="flex justify-between items-start">
        <div class="relative w-full md:max-w-[128px]">
          <img [src]="!!(image?.value) ? constants.baseImageURL + image.value : constants.defaultImage" alt="Notification" class="w-32 h-32 object-cover" />
        </div>
        <div class="pl-5 w-full md:max-w-[clac(100%-128px)]">
          <div class="flex justify-between">
            <h4>{{notificationForm.value?.notification_title}}</h4>
          </div>
          <!--<div class="p-3 lg:p-7 bg-white rounded-md space-y-1" [innerHtml]="notificationForm.value?.description"></div>-->
          <p class="text-gray-400 text-base pt-3 font-medium normal-case" [innerHtml]="notificationForm.value?.description"></p>
        </div>
      </div>
    </div>
  </div>
</modal>
