<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="fixed bg-white bg-opacity-25 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>

<form class="space-y-5">
  <div class="upload-holder w-full h-auto">
    <span class="text-sm text-quicksilver font-semibold">Add Poster <span class="font-normal">(Max size 10MB)</span></span>
    <label class="upload upload-popup p-0 relative group" id="posterUpload">
      <input #poster (change)="onPosterChange($event)" accept="image/png, image/jpeg, image/gif" class="poster hidden" id="poster" type="file" />
<!--      <img *ngIf="posterImageAndVideoObj.banner" [src]="!!(posterImageAndVideoObj?.banner) ? constants.baseImageURL + posterImageAndVideoObj.banner : constants.defaultImage" class="absolute inset-0 w-full h-full object-cover z-10 group-hover:-z-10"/>-->
    </label>
  </div>
  <div class="media-upload-holder pt-5">
    <span class="text-sm text-quicksilver font-semibold">Add Photos <span class="font-normal">(15 Images - up to 3MB/Image)</span></span>
    <div class="flex flex-wrap h-full pt-2">
      <div *ngFor="let photo of posterImageAndVideoObj.photos; let i = index" class="upload-box mr-2.5 mb-2.5">
        <div class="rounded relative overflow-hidden h-full w-full">
          <img [alt]="'add-photo-' + i" [src]="!!(photo?.url) ? constants.baseImageURL + photo.url : constants.defaultImage" *ngIf="photo.url" class="object-cover w-full h-full"/>
          <button (click)="removeImage(i)">Remove</button>
        </div>
      </div>
      <div (click)="openUploadPhotoDialog()" class="upload-holder" *ngIf="posterImageAndVideoObj?.photos?.length < 15">
        <label class="upload-photo" for="event-upload1">
          <!-- <input type="file" id="photo" name="photo" (change)="onFileChange($event, 'photo')" id="event-upload1" class="appearance-none hidden" accept="image/png, image/jpeg, image/gif" /> -->
          <i class="icon-img_upload text-base text-quicksilver"></i>
          <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">Add Photos</span></div>
        </label>
      </div>
    </div>
  </div>
  <div class="media-upload-holder">
    <span class="text-sm text-quicksilver font-semibold">Add Video <span class="font-normal">(2 videos - up to 512MB/Video)</span></span>
    <div class="flex space-x-2.5 h-full pt-2">
      <div *ngFor="let video of posterImageAndVideoObj.videos; let i = index" class="upload-box">
        <div class="rounded relative overflow-hidden h-full w-full">
          <!-- <iframe [src]="video.video" frameborder="0" class="w-full h-full"></iframe> -->
          <video width="100%" height="100%" class="w-full h-full object-cover">
            <source [src]="!!(video?.url) ? constants.baseImageURL + video.url : constants.defaultImage" *ngIf="video.url" type="video/mp4">
          </video>
          <button (click)="removeVideo(i)">Remove</button>
        </div>
      </div>
      <!-- *ngIf="videoArr.i <= 2" -->
      <div (click)="openUploadVideoDialog()" class="upload-holder" *ngIf="posterImageAndVideoObj.videos.length < 2">
        <label class="upload-photo" for="event-upload1">
          <!-- <input type="file" id="photo" name="photo" (change)="onFileChange($event, 'photo')" id="event-upload1" class="appearance-none hidden" accept="image/png, image/jpeg, image/gif" /> -->
          <i class="icon-video_upload text-base text-quicksilver"></i>
          <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">Add video</span></div>
        </label>
      </div>
    </div>
  </div>
  <!-- <div class="flex justify-end">
    <a class="secondary float-right btn-primary small leading-10 px-5 uppercase anim cursor-pointer" [routerLink]="'/buy-space-plans'">Buy Space</a>
  </div> -->
</form>

<div class="mt-auto pt-5">
  <!-- <div class="w-full mt-5">
    <img alt="ring-ad" class="w-full object-cover" src="assets/images/banner-ads.png"/>
  </div> -->
  <div class="prw-next-btn">
    <button [routerLink]="'/events/create/location'" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button (click)="nextStep()" class="flex items-center active" type="button">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<!-- Poster crop -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="imgCropper" title="Poster">
  <div class="flex flex-wrap -mx-4 py-5 relative">
    <span (click)="popClose('imgCropper');" class="absolute right-4 top-[-30px] cursor-pointer text-xl"><i class="icon-close"></i></span>
    <div class="w-full lg:w-1/2 px-4">
      <image-cropper (imageCropped)="cropImg($event)" (imageLoaded)="imageLoaded()" [aspectRatio]="2 / 1 " [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" format="png"></image-cropper>
    </div>
    <div class="w-full lg:w-1/2 px-4">
      <h6 class="text-lg pb-4">{{ 'Image Preview' }}</h6>
      <img [src]="cropImgPreview" *ngIf="!isCropperLoading" class="responsive-img"/>
    </div>
  </div>
  <button (click)="savePoster(cropImgPreview)" class="secondary w-full uppercase py-2 anim" [disabled]="isPosterLoading">{{ isPosterLoading ? 'Please wait...' : 'Save Poster' }}</button>
</modal>
<!-- Photo -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="photo" title="Upload Photo" *ngIf="photoForm">
  <form #photosNgForm="ngForm" [formGroup]="photoForm" class="py-6 space-y-5">
    <div class="upload-holder- w-full">
      <h6 class="input-titel text-sm font-bold text-quicksilver flex items-center">Select Photo <p class="text-10 ml-2">15 Images (up to 3MB/Image)</p></h6>
      <!--  {{(posterImageAndVideoObj?.photos?.length) ? (posterImageAndVideoObj?.photos?.length + '(Already Uploaded) - 15 =') : ''}} {{ 15 - (posterImageAndVideoObj?.photos?.length || 0)}} -->
      <div class="block">
        <ngx-dropzone #dropzonePhotos class="flex-wrap" (change)="onSelectImages($event)" [maxFileSize]="3145728" accept="image/jpeg,image/jpg,image/png,image/gif">
          <ngx-dropzone-label>Drop images here</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imagesFiles" [file]="f" [removable]="true" (removed)="onRemoveImages(f)"></ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>

      <div class="text-red-500 text-xs pt-1" *ngIf="rejectedPhotosList?.length">
        Rejected Photos ( Because of Maximum Image Size is {{constants.maxImageSizeInMB}} MB. ) :-
        <div>
          <span *ngFor="let rpl of rejectedPhotosList">{{rpl?.name}}, </span>
        </div>
      </div>
      <!-- <label class="upload upload-popup py-3" for="create-photo-upload">
        <input accept="image/png, image/jpeg, image/gif" class="appearance-none hidden" id="create-photo-upload" name="images" type="file" (change)="readURL($event);" multiple />
        <span class="input-titel flex justify-center items-center"><i class="icon-img_upload text-lg mr-2 leading-none"></i> {{inputText ? inputText : 'Choose Images'}}</span>
      </label> -->
    </div>
    <div class="w-full">
      <span class="input-titel">Details <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : (descriptionLimit > constants.CKEditorCharacterLimit0)}">( {{descriptionLimit}} characters out of {{constants.CKEditorCharacterLimit0}} )</i></span>
      <textarea #imageDescription class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="5" formControlName="description" (keyup)="descriptionLimit = imageDescription.value.length"></textarea>
    </div>
  </form>
  <button (click)="uploadImage()" class="secondary w-full uppercase py-2 anim" [disabled]="isPhotoLoading">{{ isPhotoLoading ? 'Please wait...' : 'Submit' }}</button>
</modal>
<!-- Video -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="video" title="Upload video" *ngIf="videoForm">
  <form #videosNgForm="ngForm" [formGroup]="videoForm" class="py-6 space-y-5">
    <div class="upload-holder- w-full">
      <h6 class="input-titel text-sm font-bold text-quicksilver flex items-center">Select video <p class="text-10 ml-2"> ( {{ 2 - posterImageAndVideoObj.videos.length}} videos - up to 512MB/Video)</p></h6>
      <!-- <label class="upload upload-popup py-3" for="create-video-upload">
        <input accept="video/mp4" class="appearance-none hidden" id="create-video-upload" name="images" type="file" (change)="readURL($event);"/>
        <span class="input-titel flex justify-center items-center"><i class="icon-video_upload text-lg mr-2 leading-none"></i> {{inputText ? inputText : 'Choose Video'}}</span>
      </label> -->
      <div class="block">
        <ngx-dropzone #dropzoneVideos class="flex-wrap" (change)="onSelectVideos($event)" [maxFileSize]="4294967296" accept="video/mp4,video/x-m4v,video/*">
          <ngx-dropzone-label>Drop videos here</ngx-dropzone-label>
          <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of videosFiles" [file]="f" [removable]="true" (removed)="onRemoveVideos(f)"></ngx-dropzone-video-preview>
        </ngx-dropzone>
      </div>

      <div class="text-red-500 text-xs pt-1" *ngIf="rejectedVideosList?.length">
        Rejected Videos ( Because of Maximum Image Size is {{constants.maxVideoSizeInMB}} MB. ) :-
        <div>
          <span *ngFor="let rpl of rejectedVideosList">{{rpl?.name}}, </span>
        </div>
      </div>
    </div>
    <div class="w-full">
      <span class="input-titel">Details <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : (descriptionLimit > constants.CKEditorCharacterLimit0)}">( {{descriptionLimit}} characters out of {{constants.CKEditorCharacterLimit0}} )</i></span>
      <textarea #videoDescription class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="5" formControlName="description" (keyup)="descriptionLimit = videoDescription.value.length"></textarea>
    </div>
  </form>
  <button (click)="uploadVideo()" class="secondary w-full uppercase py-2 anim" [disabled]="isVideoLoading">{{ isVideoLoading ? 'Please wait...' : 'Submit' }}</button>
</modal>

<!-- Images and Video Delete conformation -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete {{deleteItemObj.type}}</h3>
      <p class="normal-case">Are you sure you want to delete {{deleteItemObj.type}}</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteEvent()">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>