:ng-deep {
  .dropify-wrapper .dropify-message span.file-icon {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .dropify-wrapper .dropify-preview .dropify-render img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: unset;
  }
}
