<h1 class="whitespace-nowrap">Forget Your Password?</h1>
<p class="sm:text-lg xl:text-xl text-quicksilver font-normal sm:pt-3.5 xl:pr-8">Please enter registered phone number to receive a verification code.</p>
<div class="w-full pt-7 sm:pt-10">
  <form class="space-y-5" >
    <div class="relative">
      <label class="input-titel">Phone number</label>
      <input type="text" [formControl]="phone" name="phone" class="input_box" fuseValidNumber/>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="phone.invalid && phone.dirty && phone.touched">
        <span *ngIf="phone?.errors?.['required']">
          Phone number is required.
        </span>
        <span *ngIf="phone?.errors?.['pattern']">
          Phone number should be valid.
        </span>
      </span>
    </div>
    <div class="relative">
      <button class="secondary w-full py-[15px] uppercase relative" type="submit" (click)="sendVerificationCode()">
        <span [ngClass]="{'opacity-0': isLoading}">Send Verification Code</span>
      </button>
      <div class="absolute inset-0 text-white flex items-center" *ngIf="isLoading">
        <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
      </div>
    </div>
  </form>
</div>