<div class="space-y-5">
  <div class="w-full bg-white pl-5 py-4 flex justify-between shadow">
    <div class="space-y-2">
      <h4>Cooking Together</h4>
      <span class="text-sm text-magicPotion font-bold">Conference</span>
    </div>
    <div class="flex items-start space-x-5">
      <a href="#"><i class="icon-delete text-quicksilver"></i></a>
      <a href="#"><i class="icon-edit text-quicksilver"></i></a>
      <span class="bg-magicPotion text-xs font-bold px-2 py-1 text-white">B2B</span>
    </div>
  </div>
  <div class="w-full bg-white pl-5 py-4 flex justify-between shadow">
    <div class="space-y-2">
      <h4>Cooking Together</h4>
      <span class="text-sm text-magicPotion font-bold">Conference</span>
    </div>
    <div class="flex items-start space-x-5">
      <a href="#"><i class="icon-delete text-quicksilver"></i></a>
      <a href="#"><i class="icon-edit text-quicksilver"></i></a>
      <span class="bg-magicPotion text-xs font-bold px-2 py-1 text-white">B2B</span>
    </div>
  </div>
  <div class="w-full bg-white pl-5 py-4 flex justify-between shadow">
    <div class="space-y-2">
      <h4>Cooking Together</h4>
      <span class="text-sm text-magicPotion font-bold">Conference</span>
    </div>
    <div class="flex items-start space-x-5">
      <a href="#"><i class="icon-delete text-quicksilver"></i></a>
      <a href="#"><i class="icon-edit text-quicksilver"></i></a>
      <span class="bg-magicPotion text-xs font-bold px-2 py-1 text-white">B2B</span>
    </div>
  </div>
  <div class="w-full bg-white pl-5 py-4 flex justify-between shadow">
    <div class="space-y-2">
      <h4>Cooking Together</h4>
      <span class="text-sm text-magicPotion font-bold">Conference</span>
    </div>
    <div class="flex items-start space-x-5">
      <a href="#"><i class="icon-delete text-quicksilver"></i></a>
      <a href="#"><i class="icon-edit text-quicksilver"></i></a>
      <span class="bg-magicPotion text-xs font-bold px-2 py-1 text-white">B2B</span>
    </div>
  </div>
</div>


<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5">
    <img src="assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover"/>
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button type="button" class="flex items-center" [routerLink]="'/create-event/add-event'">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button type="button" class="flex items-center active"  [routerLink]="'/create-event/about-event'">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>