<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="fixed bg-white bg-opacity-25 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<!-- main-content  -->
<div class="space-y-5">
  <div class="upload-holder w-full h-auto">
    <span class="text-sm text-quicksilver font-semibold">Add Poster <span class="font-normal">(Max File size 10MB & Resolution Must be 1080PX x 780PX)</span><span class="text-red-500 text-base">*</span></span>
    <label class="upload upload-popup p-0 relative group" id="posterUpload">
      <input #poster (change)="onPosterChange($event)" accept="image/png, image/jpeg, image/gif" class="poster hidden" id="poster" type="file" />
    </label>
  </div>
  <div class="media-upload-holder pt-5">
    <span class="text-sm text-quicksilver font-semibold">Add Photos <span class="font-normal">({{photosUploadLimit}} Images - up to 7MB/Image & Resolution up to 1080PX x 1080PX)</span></span>
    <div class="w-full pt-2" *ngIf="photoArr.length < photosUploadLimit">
      <div class="block relative">
        <ngx-dropzone #dropzonePhotos class="flex-wrap" (change)="onSelectImages($event)" [maxFileSize]="3145728" accept="image/jpeg,image/jpg,image/png,image/gif">
          <ngx-dropzone-label>Max {{photosUploadLimit - photoArr.length}} images (up to 7MB/image & Resolution up to 1080PX x 1080PX)</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imagesFiles" [file]="f" [removable]="true" (removed)="onRemoveImages(f)"></ngx-dropzone-image-preview>
        </ngx-dropzone>
        <button (click)="uploadImage()" *ngIf="imagesFiles?.length" class="absolute bottom-2 right-2 text-xs font-semibold text-magicPotion uppercase">Upload</button>
        <p-progressSpinner *ngIf="isImgLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
      </div>
      <div class="text-red-500 text-xs pt-1" *ngIf="rejectedPhotosList?.length">
        Rejected Photos ( Because of Maximum Image Size is {{constants.maxImageSizeInMB}} MB. ) :-
        <div>
          <span *ngFor="let rpl of rejectedPhotosList">{{rpl?.name}}, </span>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap h-full pt-2">
      <div *ngFor="let photo of photoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
        <div class="rounded relative overflow-hidden h-full w-full">
<!--          <img [alt]="'add-photo-' + i" [src]="!!(photo?.url) ? constants.baseImageURL + photo.url : constants.defaultImage" class="object-cover w-full h-full"/>-->
          <p-image [alt]="'add-photo-' + i" [src]="!!(photo?.url) ? constants.baseImageURL + photo.url : constants.defaultImage" *ngIf="photo.url" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true"></p-image>
          <button class="edit"  (click)="editImage($event,i)">Edit</button>
          <button (click)="removeImage(i)" class="remove">Remove</button>
        </div>
      </div>
<!--      <div class="upload-holder relative" *ngIf="isEditMode">-->
<!--        <p-progressSpinner *ngIf="isImgLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>-->
<!--        <label class="upload-photo">-->
<!--          <input (change)="uploadImage()" accept="image/png, image/jpeg, image/gif" class="appearance-none hidden" id="create-photo-upload" multiple name="images" type="file"/>-->
<!--          <i class="icon-img_upload text-base text-quicksilver"></i>-->
<!--          <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">Add Photos</span></div>-->
<!--        </label>-->
<!--      </div>-->
    </div>
  </div>  
  <div class="media-upload-holder">
    <span class="text-sm text-quicksilver font-semibold">Add Video <span class="font-normal">({{videosUploadLimit}} Videos - up to 256MB/Video)</span></span>
    <div class="w-full pt-2" *ngIf="videoArr.length < videosUploadLimit">
      <div class="block relative">
        <ngx-dropzone #dropzoneVideos class="flex-wrap" (change)="onSelectVideos($event)" [maxFileSize]="4294967296" accept="video/mp4,video/x-m4v,video/*">
          <ngx-dropzone-label>Max {{videosUploadLimit - videoArr.length}} videos (up to 256MB/video)</ngx-dropzone-label>
          <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of videosFiles" [file]="f" [removable]="true" (removed)="onRemoveVideos(f)"></ngx-dropzone-video-preview>
        </ngx-dropzone>
        <button (click)="uploadVideo()" *ngIf="videosFiles?.length" class="absolute bottom-2 right-2 text-xs font-semibold text-magicPotion uppercase">Upload</button>
        <p-progressSpinner *ngIf="isVideoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
      </div>
      <div class="text-red-500 text-xs pt-1" *ngIf="rejectedVideosList?.length">
        Rejected Videos ( Because of Maximum Image Size is {{constants.maxVideoSizeInMB}} MB. ) :-
        <div>
          <span *ngFor="let rpl of rejectedVideosList">{{rpl?.name}}, </span>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap h-full pt-2">
      <div *ngFor="let video of videoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
        <div class="rounded relative overflow-hidden h-full w-full">
          <video class="w-full h-full object-cover" height="100%" width="100%">
            <source [src]="!!(video?.url) ? constants.baseImageURL + video.url : constants.defaultImage" type="video/mp4">
          </video>
          <button (click)="removeVideo(i)">Remove</button>
        </div>
      </div>
      <div class="upload-holder relative" *ngIf="false">
      <!-- <div class="upload-holder relative" *ngIf="videoArr.length < 2"> -->
        <p-progressSpinner *ngIf="isVideoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
        <label class="upload-photo">
          <input (change)="uploadVideo()" accept="video/mp4" class="appearance-none hidden" id="create-video-upload" name="videos" type="file"/>
          <i class="icon-video_upload text-base text-quicksilver"></i>
          <div class="mt-1 flex items-baseline justify-center">
            <span class="input-titel pt-1">Add video</span>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="flex justify-end hidden">
    <button class="secondary float-right btn-primary small leading-10 px-5 uppercase anim">Buy Space</button>
  </div>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <div class="prw-next-btn">
    <button [routerLink]="'/live-stream/create/stream'" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button (click)="nextStep()" class="flex items-center active" type="button">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<!-- Poster crop -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="imgCropper" title="Poster">
  <div class="flex flex-wrap -mx-4 py-5 relative">
    <span (click)="popClose('imgCropper');" class="absolute right-4 top-[-30px] cursor-pointer text-xl"><i class="icon-close"></i></span>
    <div class="w-full lg:w-1/2 px-4">
      <image-cropper (imageCropped)="cropImg($event)" (imageLoaded)="imageLoaded()" [aspectRatio]="2 / 1 " [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" format="png"></image-cropper>
    </div>
    <div class="w-full lg:w-1/2 px-4">
      <h6 class="text-lg pb-4">{{ 'Image Preview' }}</h6>
      <img [src]="cropImgPreview" *ngIf="!isCropperLoading" class="responsive-img"/>
    </div>
  </div>
  <button (click)="savePoster(cropImgPreview)" class="secondary w-full uppercase py-2 anim" [disabled]="isPosterLoading">{{ isPosterLoading ? 'Please wait...' : 'Save Poster' }}</button>
</modal>

<!-- Images and Video Delete conformation -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete {{deleteItemObj.type}}</h3>
      <p class="normal-case">Are you sure you want to delete {{deleteItemObj.type}}</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteEvent()">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>