<div class="wrapper min-h-full flex flex-col">
  <div class="space-y-8 h-full">
    <!-- title-holder  -->
    <div class="flex justify-between items-center">
      <a href="javascript:void(0);" class="flex items-center">
        <i class="icon-left_arrow  mr-4 text-2xl"></i>
        <h2>Promote</h2>
      </a>
    </div>
    <!-- step-progress-bar  -->
    <div class="w-full overflow-hidden">
      <ul class="flex justify-between step-progress-holder">
        <li>
          <div>
            <span>01</span>
          </div>
          <h3>Select User Type</h3>
        </li>
        <li>
          <div>
            <span>02</span>
          </div>
          <h3>User</h3>
        </li>
        <li>
          <div>
            <span>03</span>
          </div>
          <h3>publish date & time</h3>
        </li>
        <li>
          <div>
            <span>04</span>
          </div>
          <h3>Notification Mode</h3>
        </li>
        <li>
          <div>
            <span>05</span>
          </div>
          <h3>Payment</h3>
        </li>
      </ul>
    </div>
    <!-- select your Business -->
    <div class="">
      <h3>Select Business</h3>
      <div class="flex flex-wrap justify-start pt-4 -mx-3">
        <div class="w-1/2 lg:w-1/3 xl:w-1/4 p-3 group">
          <a href="javascript:void(0);" class="text-center bg-white rounded flex flex-col justify-between items-center h-full px-5 py-7 border-2 border-transparent group-hover:border-2 group-hover:border-magicPotion anim">
            <div class="w-32 h-32">
              <img src="../assets/images/event-user.png" alt="Event user" class="w-full h-full object-contain" />
            </div>
            <p class="text-base font-bold group-hover:text-spiroDiscoBall pt-8 whitespace-nowrap group-hover:text-magicPotion">Event User</p>
          </a>
        </div>
        <div class="w-1/2 lg:w-1/3 xl:w-1/4 p-3 group">
          <a href="javascript:void(0);" class="text-center bg-white rounded flex flex-col justify-between items-center h-full px-5 py-7 border-2 border-transparent group-hover:border-2 group-hover:border-magicPotion anim">
            <div class="w-32 h-32">
              <img src="../assets/images/shope-user.png" alt="shope User" class="w-full h-full object-cover" />
            </div>
            <p class="text-base font-bold group-hover:text-spiroDiscoBall pt-8 whitespace-nowrap group-hover:text-magicPotion">Shop User</p>
          </a>
        </div>
        <div class="w-1/2 lg:w-1/3 xl:w-1/4 p-3 group">
          <a href="javascript:void(0);" class="text-center bg-white rounded flex flex-col justify-between items-center h-full px-5 py-7 border-2 border-transparent group-hover:border-2 group-hover:border-magicPotion anim">
            <div class="w-32 h-32">
              <img src="../assets/images/online-shop-user.png" alt="Online Shop user" class="w-full h-full object-cover" />
            </div>
            <p class="text-base font-bold group-hover:text-spiroDiscoBall pt-8 whitespace-nowrap group-hover:text-magicPotion">online shop offers user</p>
          </a>
        </div>
        <div class="w-1/2 lg:w-1/3 xl:w-1/4 p-3 group">
          <a href="javascript:void(0);" class="text-center bg-white rounded flex flex-col justify-between items-center h-full px-5 py-7 border-2 border-transparent group-hover:border-2 group-hover:border-magicPotion anim">
            <div class="w-32 h-32">
              <img src="../assets/images/live-streaming-user.png" alt="Live Streaming User" class="w-full h-full object-cover" />
            </div>
            <p class="text-base font-bold group-hover:text-spiroDiscoBall pt-8 whitespace-nowrap group-hover:text-magicPotion">live streaming user</p>
          </a>
        </div>
        <div class="w-1/2 lg:w-1/3 xl:w-1/4 p-3 group">
          <a href="javascript:void(0);" class="text-center bg-white rounded flex flex-col justify-between items-center h-full px-5 py-7 border-2 border-transparent group-hover:border-2 group-hover:border-magicPotion anim">
            <div class="w-32 h-32">
              <img src="../assets/images/all-user.png" alt="All User" class="w-full h-full object-cover" />
            </div>
            <p class="text-base font-bold group-hover:text-spiroDiscoBall pt-8 whitespace-nowrap group-hover:text-magicPotion">All User</p>
          </a>
        </div>
        <div class="w-1/2 lg:w-1/3 xl:w-1/4 p-3 group">
          <a href="javascript:void(0);" class="text-center bg-white rounded flex flex-col justify-between items-center h-full px-5 py-7 border-2 border-transparent group-hover:border-2 group-hover:border-magicPotion anim">
            <div class="w-32 h-32">
              <img src="../assets/images/existing-user.png" alt="Existing User" class="w-full h-full object-cover" />
            </div>
            <p class="text-base font-bold group-hover:text-spiroDiscoBall pt-8 whitespace-nowrap group-hover:text-magicPotion">Existing User</p>
          </a>
        </div>
      </div>
    </div>            
  </div>
  <div class="mt-auto">
    <!-- advisement -->
    <div class="w-full mt-7">
      <img src="../assets/images/ad-banner.png" alt="ring-ad" class="w-full object-cover" />
    </div>
  </div>
  <!-- next preview button -->
  <div class="prw-next-btn mt-auto">
    <button type="button" class="flex items-center">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button type="button" class="flex items-center active">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>