<div class="wrapper min-h-full flex flex-col">
  <div class="space-y-8 h-full">
    <!-- title-holder  -->
    <div class="flex justify-between items-center">
      <a href="javascript:void(0);" class="flex items-center">
        <i class="icon-left_arrow  mr-4 text-2xl"></i>
        <h2>Promote</h2>
      </a>
    </div>
    <!-- step-progress-bar  -->
    <div class="w-full overflow-hidden overflow-x-auto capitalize">
      <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
