<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="fixed bg-white bg-opacity-25 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div class="px-2">
  <!-- company details  -->
  <form [formGroup]="companyForm">
    <div class="flex items-end flex-wrap -mx-2">
      <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative">
        <span class="input-titel">Company name</span>
        <input class="input" type="text" id="name" name="name" [formControlName]="'name'" />
        <span class="absolute top-full text-red-500 text-xs" *ngIf="companyForm.get('name')?.invalid && (companyForm.get('name')?.dirty && companyForm.get('name')?.touched)">
          <span *ngIf="companyForm.get('name')?.errors?.['minlength']">
            This field must have at least 2 character.
          </span>
        </span>
      </div>
      <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative group">
        <span class="input-titel">Company GST (Optional)</span>
        <p-progressSpinner *ngIf="isPdfLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-1 bottom-0 top-10 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
        <label class="upload upload-popup py-3">
          <input (change)="onChangePDF($event)" accept="application/pdf" class="appearance-none hidden" id="company_gst" name="images" type="file"/>
          <span class="input-titel text-base p-0">
            <i class="icon-pdf_upload mr-2"></i> 
            <span class="normal-case">{{inputText ? inputText : 'Upload PDF'}}</span>
            <!-- <span>{{companyObj?.company_details?.gst}}</span> -->
          </span>
        </label>
        <a *ngIf="inputText" class="absolute right-4 bottom-3 py-0.5 px-2 normal-case text-gray-400 anim hover:text-magicPotion text-sm font-semibold hidden border border-current group-hover:inline-block" [href]="constants.baseImageURL + gstPdf" target="_blank" title="View File">View</a>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="isInValidPDF">
          Please upload only PDF file. 
        </span>
      </div>
    </div>
    <div class="flex items-end flex-wrap -mx-2">
      <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative">
        <span class="input-titel">Company Contact No</span>
        <div #phoneF="ngForm" [formGroup]="phoneForm">
          <ngx-intl-tel-input
            [cssClass]="'w-full'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name
            ]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [numberFormat]="PhoneNumberFormat.National"
            name="phone"
            formControlName="phone"
          >
          </ngx-intl-tel-input>
        </div>
        <span class="absolute top-full text-red-500 text-xs left-2" *ngIf="phoneF.form.controls['phone'].touched && phoneF.form.controls['phone'].invalid">
          Please enter valid Contact Number.
        </span>
      </div>
      <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative">
        <span class="input-titel">Company Email</span>
        <input [formControlName]="'email'" class="input" type="text"/>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="companyForm.get('email')?.invalid && (companyForm.get('email')?.dirty && companyForm.get('email')?.touched)">
          <span *ngIf="companyForm.get('email')?.errors?.['pattern']">
            Please enter valid Email.
          </span>
        </span>
      </div>
    </div>
    <div class="w-full pt-5 relative">
      <span class="input-titel">About Our Company <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : textEditor}">( {{textEditorLimit}} characters out of {{textEditorMaxLimit}} )</i></span>
      <div class="w-full bg-white rounded">
        <ckeditor (ready)="onTextEditorReady($event, 'about')" (keyup)="editorCharacterSet()" (keydown)="editorCharacterSet()" [config]="editorConfig" [editor]="detailEditor" [formControlName]="'about'" class="h-44 text-editor" id="about" name="about"></ckeditor>
      </div>
      <!-- <textarea [formControlName]="'about'" class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="4"></textarea> -->
      <span class="absolute top-full text-red-500 text-xs" *ngIf="companyForm.get('about')?.invalid && (companyForm.get('about')?.dirty && companyForm.get('about')?.touched)">
        <span *ngIf="companyForm.get('about')?.errors?.['required']">
          About is required.
        </span>
      </span>
    </div>
    <!-- Address  -->
    <div class="pt-5 -mx-2">
      <h3 class="px-2">Address</h3>
      <div class="w-full flex flex-wrap">
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-5 inputHolder">
          <span class="input-titel">Flat No.</span>
          <input [formControlName]="'flat_no'" class="input" type="text"/>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-5 inputHolder">
          <span class="input-titel">Street Name.</span>
          <input [formControlName]="'street'" class="input" type="text"/>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-5 inputHolder">
          <span class="input-titel">Area Name.</span>
          <input [formControlName]="'area'" class="input" type="text"/>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-5 inputHolder relative">
          <label class="input-titel">City</label>
          <input [formControlName]="'city'" class="input" type="text" fuseValidAlphabet (keyup)="pincodeValidation(pincode.value)"/>
          <span class="absolute top-full text-red-500 text-xs" *ngIf="companyForm.get('city')?.invalid && (companyForm.get('city')?.dirty && companyForm.get('city')?.touched)">
            <span *ngIf="companyForm.get('city')?.errors?.['required']">
              City is required.
            </span>
            <span *ngIf="companyForm.get('city')?.errors?.['not_match']">
              City is not match pin code wise.
            </span>
          </span>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-5 inputHolder relative">
          <label class="input-titel">State</label>
          <input [formControlName]="'state'" class="input" type="text" fuseValidAlphabet (keyup)="pincodeValidation(pincode.value)"/>
          <span class="absolute top-full text-red-500 text-xs" *ngIf="companyForm.get('state')?.invalid && (companyForm.get('state')?.dirty && companyForm.get('state')?.touched)">
            <span *ngIf="companyForm.get('state')?.errors?.['required']">
              State is required.
            </span>
            <span *ngIf="companyForm.get('state')?.errors?.['not_match']">
              State is not match pin code wise.
            </span>
          </span>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 pt-5 inputHolder relative">
          <label class="input-titel">Pincode</label>
          <input #pincode [formControlName]="'pincode'" class="input" type="text" fuseValidNumber (keyup)="pincodeValidation(pincode.value)"/>
          <span class="absolute top-full text-red-500 text-xs" *ngIf="companyForm.get('pincode')?.invalid && (companyForm.get('pincode')?.dirty && companyForm.get('pincode')?.touched)">
            <span *ngIf="companyForm.get('pincode')?.errors?.['required']">
              Pincode is required.
            </span>
            <span *ngIf="companyForm.get('pincode')?.errors?.['pattern']">
              Please enter valid Pincode.
            </span>
            <span *ngIf="companyForm.get('pincode')?.errors?.['not_match']">
              Pincode is not found.
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- upload photo And Video  -->
    <div class="flex flex-wrap justify-between -mx-2 mt-7">
      <div class="w-full lg:w-1/2 px-2">
        <div class="media-upload-holder">
          <span class="text-quicksilver font-semibold">Company Photos<span class="font-normal"> Max {{photosUploadLimit}} images (up to 5MB/image)</span></span>
          <div class="w-full pt-2" *ngIf="photoArr.length < photosUploadLimit">
            <div class="block relative">
              <ngx-dropzone #dropzonePhotos class="flex-wrap" (change)="onSelectImages($event)" [maxFileSize]="3145728" accept="image/jpeg,image/jpg,image/png,image/gif">
                <ngx-dropzone-label>Max {{photosUploadLimit - photoArr.length}} images (up to 5MB/image)</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imagesFiles" [file]="f" [removable]="true" (removed)="onRemoveImages(f)"></ngx-dropzone-image-preview>
              </ngx-dropzone>
              <button (click)="uploadImage()" *ngIf="imagesFiles?.length" class="absolute bottom-2 right-2 text-xs font-semibold text-magicPotion uppercase">Upload</button>
              <p-progressSpinner *ngIf="isImgLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
            </div>
            <div class="text-red-500 text-xs pt-1" *ngIf="rejectedPhotosList?.length">
              Rejected Photos ( Because of Maximum Image Size is {{constants.maxImageSizeInMB}} MB. ) :-
              <div>
                <span *ngFor="let rpl of rejectedPhotosList">{{rpl?.name}}, </span>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap h-full pt-2">
            <div *ngFor="let photo of photoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
              <div class="rounded relative overflow-hidden h-full w-full">
                <img [alt]="'add-photo-' + i" [src]="!!(photo?.url) ? constants.baseImageURL + photo.url : constants.defaultImage" *ngIf="isString(photo.url)" class="object-cover w-full h-full"/>
                <button (click)="removeImage(i)">Remove</button>
              </div>
            </div>
            <div class="upload-holder relative" *ngIf="false">
            <!-- <div class="upload-holder relative" *ngIf="photoArr.length < photosUploadLimit"> -->
              <p-progressSpinner *ngIf="isImgLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
              <label class="upload-photo">
                <input (change)="uploadImage()" accept="image/png, image/jpeg, image/gif" class="appearance-none hidden" id="create-photo-upload" multiple name="images" type="file"/>
                <i class="icon-img_upload text-base text-quicksilver"></i>
                <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">Add Photos</span></div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-2">
        <div class="media-upload-holder">
          <span class="text-quicksilver font-semibold">Company Video <span class="font-normal">Max {{videosUploadLimit}} videos (up to 512MB/video)</span></span>
          <div class="w-full pt-2" *ngIf="videoArr.length < videosUploadLimit">
            <div class="block relative">
              <ngx-dropzone #dropzoneVideos class="flex-wrap" (change)="onSelectVideos($event)" [maxFileSize]="4294967296" accept="video/mp4,video/x-m4v,video/*">
                <ngx-dropzone-label>Max {{videosUploadLimit - videoArr.length}} videos (up to 512MB/video)</ngx-dropzone-label>
                <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of videosFiles" [file]="f" [removable]="true" (removed)="onRemoveVideos(f)"></ngx-dropzone-video-preview>
              </ngx-dropzone>
              <button (click)="uploadVideo()" *ngIf="videosFiles?.length" class="absolute bottom-2 right-2 text-xs font-semibold text-magicPotion uppercase">Upload</button>
              <p-progressSpinner *ngIf="isVideoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
            </div>
            <div class="text-red-500 text-xs pt-1" *ngIf="rejectedVideosList?.length">
              Rejected Videos ( Because of Maximum Image Size is {{constants.maxVideoSizeInMB}} MB. ) :-
              <div>
                <span *ngFor="let rpl of rejectedVideosList">{{rpl?.name}}, </span>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap h-full pt-2">
            <div *ngFor="let video of videoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
              <div class="rounded relative overflow-hidden h-full w-full">
                <video class="w-full h-full object-cover" height="100%" width="100%">
                  <source [src]="!!(video?.url) ? constants.baseImageURL + video.url : constants.defaultImage" *ngIf="isString(video.url)" type="video/mp4">
                </video>
                <button (click)="removeVideo(i)">Remove</button>
              </div>
            </div>
            <div class="upload-holder relative" *ngIf="false">
            <!-- <div class="upload-holder relative" *ngIf="videoArr.length < videosUploadLimit"> -->
              <p-progressSpinner *ngIf="isVideoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
              <label class="upload-photo">
                <input (change)="uploadVideo()" accept="video/mp4" class="appearance-none hidden" id="create-video-upload" name="videos" type="file"/>
                <i class="icon-video_upload text-base text-quicksilver"></i>
                <div class="mt-1 flex items-baseline justify-center">
                  <span class="input-titel pt-1">Add video</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button [routerLink]="'/events/create/' + (isHideDiscountitem ? 'permission' : 'discount')" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button (click)="nextStep()" class="flex items-center active" type="button" [disabled]="isLoading || isPdfLoading || isImgLoading || isVideoLoading">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<!-- Images and Video Delete conformation -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete {{deleteItemObj.type}}</h3>
      <p class="normal-case">Are you sure you want to delete {{deleteItemObj.type}}</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteEvent()">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>