<div class="wrapper min-h-full">
  <div class="space-y-7 h-full">
    <h2>Broadcast Stream</h2>
    <div class="p-0 rounded-md">
      <div class="space-y-3 lg:space-y-6 py-8 border-b border-gray-200">
        <canvas id="preview"></canvas>
        <span class="icon-mic"></span>
        <div class="flex justify-center space-x-2">
          <button type="button" class="p-3 px-4 bg-brightGray rounded-md text-lg font-bold uppercase" (click)="setMicrophone()">
            <mat-icon aria-hidden="false" aria-label="Mic icon" fontIcon="mic" *ngIf="isMicroPhone"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Mic icon" fontIcon="mic_off" *ngIf="!isMicroPhone"></mat-icon>
          </button>
          <button type="button" class="p-3 px-4 bg-brightGray rounded-md text-lg font-bold uppercase" (click)="setWebCam()">
            <mat-icon aria-hidden="false" aria-label="video icon" fontIcon="videocam" *ngIf="isVideo"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="video icon" fontIcon="videocam_off" *ngIf="!isVideo"></mat-icon>
          </button>
          <button type="button" class="p-3 px-4 bg-brightGray rounded-md text-lg font-bold uppercase" (click)="openSetting()">
            <mat-icon aria-hidden="false" aria-label="setting icon" fontIcon="settings"></mat-icon>
          </button>
          <button class="secondary py-2 px-5 mr-2 anim uppercase"  *ngIf="!isStreamStarted" (click)="startBroadcast()">
            <span>Start Streaming</span>
          </button>
          <button class="secondary py-2 px-5 anim uppercase" *ngIf="isStreamStarted" (click)="stopBroadcast()">
            <span>Stop Streaming</span>
          </button>
        </div>
        <form class="w-full flex items-end flex-wrap p-ngCss" [formGroup]="newBroadCastForm" novalidate>
          <div class="w-full lg:w-1/2 px-2 pt-5 pb-0.5 inputHolder relative">
            <span class="input-titel">Select Webcam<span>*</span></span>
            <select formControlName="webcam" class="bg-white rounded-md flex w-full space-x-3 outline-0 px-6 py-3 relative arrow" (change)="handleVideoDeviceSelect($event)">
              <option value="">Please Select Webcam</option>
              <option *ngFor="let vod of videoDevices" [value]="vod.deviceId">{{vod.label}}</option>
            </select>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="newBroadCastForm.controls['webcam'].invalid && (newBroadCastForm.controls['webcam'].dirty || newBroadCastForm.controls['webcam'].touched)">
              <span *ngIf="newBroadCastForm.controls['webcam'].errors.required">
                Webcam is required.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 px-2 pt-5 pb-0.5 inputHolder relative">
            <span class="input-titel">Select Microphone<span>*</span></span>
            <select formControlName="microphone" class="bg-white rounded-md flex w-full space-x-3 outline-0 px-6 py-3 relative arrow" (change)="handleAudioDeviceSelect($event)">
              <option value="">Please Select Microphone</option>
              <option *ngFor="let aud of audioDevices" [value]="aud.deviceId">{{aud.label}}</option>
            </select>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="newBroadCastForm.controls['microphone'].invalid && (newBroadCastForm.controls['microphone'].dirty || newBroadCastForm.controls['microphone'].touched)">
              <span *ngIf="newBroadCastForm.controls['microphone'].errors.required">
                Microphone is required.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 px-2 pt-5 pb-0.5 inputHolder relative">
            <span class="input-titel">Select Channel Config<span>*</span></span>
            <select formControlName="channel_config"  class="bg-white rounded-md flex w-full space-x-3 outline-0 px-6 py-3 relative arrow">
              <option value="">Please Select Channel Config</option>
              <option value="BASIC_LANDSCAPE">Basic: Landscape</option>
              <option value="BASIC_PORTRAIT">Basic: Portrait</option>
              <option value="STANDARD_LANDSCAPE">Standard: Landscape</option>
              <option value="STANDARD_PORTRAIT">Standard: Portrait</option>
            </select>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="newBroadCastForm.controls['channel_config'].invalid && (newBroadCastForm.controls['channel_config'].dirty && newBroadCastForm.controls['channel_config'].touched)">
              <span *ngIf="newBroadCastForm.controls['channel_config'].errors.required">
                Channel config is required.
              </span>
            </span>
          </div>
        </form>
      </div>
      <div class="flex justify-end">
        <div class="relative">
          <button class="secondary py-2 px-10 mr-2 anim uppercase" type="submit" [disabled]="isStreamStarted" (click)="startBroadcast()">
            <span>Start Broadcast</span>
          </button>
          <button class="secondary py-2 px-10 anim uppercase" type="submit" (click)="stopBroadcast()">
            <span>Stop Broadcast</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>