<div class="wrapper min-h-full">
  <div class="space-y-8 h-full">
    <!-- title-holder  -->
    <div class="flex justify-between items-center">
      <a href="javascript:void(0);" class="flex items-center">
        <h2>Notification</h2>
      </a>
      <div class="flex items-center space-x-5">
        <button class="secondary px-5 py-2 capitalize anim"><i class="icon-history mr-3"></i><span>history</span></button>
        <button class="secondary px-5 py-2 capitalize anim" routerLink="create"><i class="icon-plus mr-3"></i><span>Create new</span></button>
      </div>
    </div>
    <!-- main-content  -->
    <div class="space-y-5">
      <div class="bg-white p-7 rounded-md">
        <div class="flex justify-between items-center">
          <div class="w-2/12">
            <img src="../assets/images/creat-notification.png" alt="Notification" class="h-full object-cover" />
          </div>
          <div class="w-10/12 pl-2">
            <div class="flex justify-between">
              <h4>Create an notification as you want!</h4>
            </div>
            <p class="text-gray-400 text-base pt-3 font-medium">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
          </div>
        </div>
      </div>
      <div class="bg-white p-5 rounded-md">
        <div class="flex justify-between items-center">
          <div class="w-2/12">
            <img src="../assets/images/creat-notification-2.png" alt="Notification" class="h-full object-cover" />
          </div>
          <div class="w-10/12 pl-2">
            <div class="flex justify-between">
              <h4>Lorem Ipsum is simply dummy text of the</h4>
              <a href="javascript:void(0);"><i class="icon-more font-bold text-base"></i></a>
            </div>
            <p class="text-gray-400 text-base pt-3 font-medium">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
            <div class="flex justify-end">
              <button class="secondary flex items-center px-3 py-1.5 anim" (click)="promoteNotification('test')"><i class="icon-fill_megaphone mr-2"></i><span>Promote</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-5 rounded-md">
        <div class="flex justify-between items-center">
          <div class="w-2/12">
            <img src="../assets/images/creat-notification-2.png" alt="Notification" class="h-full object-cover" />
          </div>
          <div class="w-10/12 pl-2">
            <div class="flex justify-between">
              <h4>Lorem Ipsum is simply dummy text of the</h4>
              <a href="javascript:void(0);"><i class="icon-more font-bold text-base"></i></a>
            </div>
            <p class="text-gray-400 text-base pt-3 font-medium">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
            <div class="flex justify-end">
              <button class="secondary flex items-center px-3 py-1.5 anim" (click)="promoteNotification('test')"><i class="icon-fill_megaphone mr-2"></i><span>Promote</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-5 rounded-md">
        <div class="flex justify-between items-center">
          <div class="w-2/12">
            <img src="../assets/images/creat-notification-2.png" alt="Notification" class="h-full object-cover" />
          </div>
          <div class="w-10/12 pl-2">
            <div class="flex justify-between">
              <h4>Lorem Ipsum is simply dummy text of the</h4>
              <a href="javascript:void(0);"><i class="icon-more font-bold text-base"></i></a>
            </div>
            <p class="text-gray-400 text-base pt-3 font-medium">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
            <div class="flex justify-end">
              <button class="secondary flex items-center px-3 py-1.5 anim" (click)="promoteNotification('test')"><i class="icon-fill_megaphone mr-2"></i><span>Promote</span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- advisement -->
      <div class="w-full mt-5">
        <img src="../assets/images/ad-banner.png" alt="ring-ad" class="w-full object-cover" />
      </div>
      <div class="bg-white p-5 rounded-md">
        <div class="flex justify-between items-center">
          <div class="w-2/12">
            <img src="../assets/images/creat-notification-2.png" alt="Notification" class="h-full object-cover"/>
          </div>
          <div class="w-10/12 pl-2">
            <div class="flex justify-between">
              <h4>Lorem Ipsum is simply dummy text of the</h4>
              <a href="javascript:void(0);"><i class="icon-more font-bold text-base"></i></a>
            </div>
            <p class="text-gray-400 text-base pt-3 font-medium">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
            <div class="flex justify-end">
              <button class="secondary flex items-center px-3 py-1.5 anim" (click)="promoteNotification('test')"><i class="icon-fill_megaphone mr-2"></i><span>Promote</span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- next preview button  -->
      <div class="prw-next-btn">
        <button type="button" class="flex items-center">
          <i class="icon-left_arrow mr-3"></i>
          <h5>Back</h5>
        </button>
        <button type="button" class="flex items-center active">
          <h5>Next</h5>
          <i class="icon-right_arrow ml-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>