<div class="flex min-h-full wrapper">
  <div class="flex flex-wrap space-y-7 w-full">
    <div class="space-y-6 w-full">
      <h2>Gallery</h2>
      <div class="teb-holder gallery-holder border-t border-b-0">
        <button type="button" class="gallery active" data-tab="all">All</button>
        <button type="button" class="gallery" data-tab="photo">Photo</button>
        <button type="button" class="gallery" data-tab="video">Video</button>
      </div>
      <div class="gallery-holder">
        <div class="w-full relative tab-main active" id="all">
          <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-1.png" alt="gallery-1" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-5.png" alt="gallery-2" class="w-full" />
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-2.png" alt="gallery-2" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-3.png" alt="gallery-3" class="w-full" />
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <img src="../assets/images/gallery-3.png" alt="gallery-3" class="w-full" />
                </div>
              </li>
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-7.png" alt="gallery-7" class="w-full" />
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-4.png" alt="gallery-4" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-8.png" alt="gallery-8" class="w-full" />
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full relative tab-main" id="photo">
          <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <ul class="space-y-8">
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-2.png" alt="gallery-2" class="w-full" />
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-4.png" alt="gallery-5" class="w-full" />
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-6.png" alt="gallery-4" class="w-full" />
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li class="image-card">
                <div>
                  <img src="../assets/images/gallery-3.png" alt="gallery-3" class="w-full" />
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full relative tab-main" id="video">
          <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-1.png" alt="gallery-1" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-3.png" alt="gallery-1" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-5.png" alt="gallery-1" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
            </ul>
            <ul class="space-y-8">
              <li id="video-card" class="text-sm leading-6">
                <div class="bg-white rounded-md relative overflow-hidden w-full h-full">
                  <div class="relative pointer-events-none video-cover anim z-10">
                    <img src="../assets/images/gallery-2.png" alt="gallery-1" class="w-full" />
                    <a href="javascript:void(0);" class="absolute bottom-3 right-3 text-4xl">
                      <i class="icon-play text-white"></i>
                    </a>
                  </div>
                  <a href="javascript:void(0);" class="absolute inset-0 w-full h-full opacity-100 pointer-events-auto">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oYRda7UtuhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>