<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div *ngIf="events && !isLoading" class="">
  <div class="-mt-12 relative -z-10">
    <!-- src="../assets/images/cooking-together-big.png"  -->
    <img [src]="!!(events?.banner) ? constants.baseImageURL + events.banner : constants.defaultImage" alt="cooking-together-bg" class="w-full object-cover max-h-80"/>
  </div>
  <div class="wrapper min-h-full -mt-14 z-10">
    <div class="flex items-center justify-between bg-white py-5 px-7 rounded-md">
      <div class="w-full md:w-1/2 space-y-3">
        <div class="flex items-center space-x-3">
          <span class="text-xs text-white font-bold px-3 rounded-xl py-1" [ngClass]="!!(events?.is_approved) ? 'bg-caribbeanGreen' : 'bg-magicPotion'">{{!!(events?.is_approved) ? 'Verified' : 'Unverified'}}</span>
          <span class="text-xs text-white font-bold px-3 rounded-xl py-1" [ngClass]="!!(events?.accept_booking) ? 'bg-caribbeanGreen' : 'bg-magicPotion'">{{!!(events?.accept_booking) ? 'Booking Accepting' : 'Booking Not Accepting'}}</span>
        </div>
        <h2>{{ events.name }}</h2>
        <div class="flex items-center space-x-1">
          <p-rating [(ngModel)]="events.ratings" [readonly]="true" [cancel]="false"></p-rating>
          <!-- <div id="rateYo"></div> -->
          <span class="text-quicksilver text-xs font-bold pl-2"> {{events.totalreview}} Ratings </span>
        </div>
      </div>
      <div class="w-full md:w-1/2 space-y-3">
        <h3 class="text-right">250 INR</h3>
        <div class="flex space-x-2 justify-end">
          <a class="bg-brightGray flex items-center justify-center w-[30px] h-[30px] text-center rounded" (click)="editEvent($event, events._id)" *ngIf="!events?.accept_booking" href="javascript:void(0);"><i class="icon-edit text-sm leading-0 text-japaneseIndigo"></i></a>
          <!-- <a class="bg-brightGray flex items-center justify-center w-[30px] h-[30px] text-center rounded" href="javascript:void(0);"><i class="icon-fill_megaphone text-sm leading-0 text-japaneseIndigo"></i></a> -->
          <!-- <a class="bg-brightGray flex items-center justify-center w-[30px] h-[30px] text-center rounded" href="javascript:void(0);"><i class="icon-share text-sm leading-0 text-japaneseIndigo"></i></a> -->
        </div>
        <div class="flex items-center justify-end space-x-3">
          <label class="flex items-center justify-end">
            <input type="checkbox" class="switch mr-1.5 lg:mx-3 order-2" (click)="liveEvent($event, events)" [checked]="events?.is_live" [disabled]="!events.is_approved"/>
            <span class="text-base font-bold anim order-3">Live</span>
          </label>
          <span class="px-3 py-1 rounded-sm text-xs text-white font-bold bg-magicPotion">{{events?.event_category?.categoryname}}</span>
          <span class="px-3 py-1 rounded-sm text-xs text-white font-bold bg-japaneseIndigo">{{constants?.eventTypeArr[constants?.eventTypeObj[events?.event_type]]?.displayLabel}}</span>
        </div>
      </div>
    </div>
    <!-- tab-holder  -->
    <div class="teb-holder">
      <button [class]="overview ? 'active' : ''" (click)="onTabChange('overview')" type="button" *ngIf="events">Overview</button>
      <button [class]="attendee ? 'active' : ''" (click)="onTabChange('attendee')" type="button" *ngIf="events?.attendee?.length">Attendee</button>
      <button [class]="reviews ? 'active' : ''" (click)="onTabChange('reviews')" type="button" *ngIf="events?.reviews?.length">Reviews</button>
    </div>
    <!-- tab-contents-holder -->
    <div class="pt-7 lg:pt-10">
      <!--overview-tab-contents -->
      <div class="relative tab-main" [class]="!reviews ? 'active' : ''" *ngIf="!reviews">
        <div class="flex flex-wrap">
          <!-- Overview left-bar -->
          <div class="w-full lg:w-8/12 lg:pr-5 space-y-7" *ngIf="overview">
            <div class="p-7 bg-white rounded-md space-y-1" *ngIf="events.about.about_event != ''">
              <h5>About Event</h5>
              <div [innerHtml]="events?.about?.about_event"></div>
            </div>
            <!-- Photo-holder -->
            <div *ngIf="events.photos != ''" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Photo</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60 hover:text-red-500" href="javascript:void(0);" (click)="openImageAndVideoDialog(events.photos, true, false)">View All</a>
              </div>
              <!-- photo-holder -->
              <div class="w-full">
                <div class="flex flex-wrap -mx-2">
                  <div *ngFor="let img of events.photos" class="w-full lg:w-2/12 p-2 ov-p">
                    <div class="rounded relative overflow-hidden bg-white h-24">
                      <p-image [src]="!!(img?.url) ? constants.baseImageURL + img.url : constants.defaultImage" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true"></p-image>
                      <!-- <img [src]="!!(img?.url) ? constants.baseImageURL + img.url : constants.defaultImage" alt="upload-1" class="w-full h-full object-cover"/> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- videos-holder -->
            <div *ngIf="events.videos != ''" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Videos</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60 hover:text-red-500" href="javascript:void(0);" (click)="openImageAndVideoDialog(events.videos, false, false)">View All</a>
              </div>
              <!-- media-holder -->
              <div class="w-full">
                <div class="flex flex-wrap -mx-2">
                  <div *ngFor="let video of events.videos" class="w-full lg:w-1/5 p-2 ov-p">
                    <div class="rounded relative overflow-hidden h-28">
                      <video [src]="!!(video?.url) ? constants.baseImageURL + video.url : constants.defaultImage" class="w-full h-full object-cover bg-white"></video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion -->
            <div *ngIf="events.seating_arrangements && events.seating_arrangements.length" class="space-y-1.5">
              <h5 class="text-lg font-bold">Arrangement</h5>
              <div class="accordions w-full space-y-5">
                <div *ngFor="let seating of events.seating_arrangements;let i = index;" class="accordion_item cursor-pointer h-full p-0 relative">
                  <div #accordionClick class="title_tab flex justify-between items-center px-5 py-6 max-h-[78px] accordion">
                    <div (click)="accordionClick.click()" class="space-x-7 flex items-center">
                      <div class="w-10 text-center">
                        <img alt="{{seating?.seating_item?.itemname}}" class="mx-auto h-10 max-w-full object-contain" [src]="!!(seating?.seating_item?.itemimage) ? constants.baseImageURL + seating.seating_item.itemimage : constants.defaultImage"/>
                      </div>
                      <h4>{{seating?.seating_item?.itemname}}</h4>
                    </div>
                    <div class="flex items-center space-x-7">
                      <span (click)="accordionClick.click()" class="uper-down flex items-center cursor-pointer">
                        <i class="icon-drop_arrow"></i>
                      </span>
                    </div>
                  </div>
                  <div class="inner_content i_c space-y-6 border-t px-5 py-6">
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="select-item" src="../assets/images/select-item.png"/>
                      </div>
                      <div class="w-full space-y-2">
                        <div class="flex items-center justify-between">
                          <h6 class="text-lg text-japaneseIndigo font-bold">Select Item</h6>
                        </div>
                        <div class="borders">
                          <div class="" *ngFor="let arrangement of seating.arrangements">
                            <div class="flex flex-wrap items-center">
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">No of {{seating?.seating_item?.itemname}}</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.number_of_seating_item}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Location</span>
                                <span class="block text-base font-bold text-quicksilver">{{((arrangement.vertical_location == 'TOP') ? 'T' : (arrangement.vertical_location == 'CENTER' ? 'C' : 'B'))}} - {{((arrangement.horizontal_location == 'LEFT') ? 'L' : ((arrangement.horizontal_location == 'CENTER') ? 'C' : (arrangement.horizontal_location == 'RIGHT' ? 'R' : 'N')))}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                                  *ngIf="(seating.seating_item.itemname !== 'Chair' && seating.seating_item.itemname !== 'chair') && (seating.seating_item.itemname != 'Stand' && seating.seating_item.itemname != 'stand')">
                                <span class="block text-xs xl:text-sm text-quicksilver">per {{seating?.seating_item?.itemname}} person capacity</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.per_seating_person}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Total person capacity</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.total_person}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                                  *ngIf="(seating.seating_item.itemname !== 'Chair' && seating.seating_item.itemname !== 'chair') && (seating.seating_item.itemname != 'Stand' && seating.seating_item.itemname != 'stand')">
                                <span class="block text-xs xl:text-sm text-quicksilver">Per {{seating?.seating_item?.itemname}} Price</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.per_seating_price}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">per person price</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.per_person_price}} INR</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Total Amount</span>
                                <span class="block text-base font-bold text-japaneseIndigo">{{arrangement.total_amount}} INR</span>
                              </div>
                              <div class="space-y-1 pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <p>Description</p>
                                <span class="text-base text-quicksilver font-bold">{{arrangement?.description || 'null'}}</span>
                              </div>
                              <div class="flex items-center pt-4 ml-auto" *ngIf="(seating.seating_item.itemname !== 'Chair' && seating.seating_item.itemname !== 'chair') && (seating.seating_item.itemname != 'Stand' && seating.seating_item.itemname != 'stand')">
                                <input class="switch mx-3 order-2" id="on" type="checkbox" [(ngModel)]="arrangement.booking_acceptance"/>
                                <span class="off text-base font-bold anim order-1 text-caribbeanGreen">per table</span>
                                <span class="on text-base font-bold anim order-3">per person</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="non-veg" src="../assets/images/non-veg.png"/>
                      </div>
                      <div class="flex w-full space-y-2">
                        <div class="min-w-[120px] pr-5">
                          <p>Food</p>
                          <span class="text-lg font-bold text-japaneseIndigo capitalize">{{seating.food}}</span>
                        </div>
                        <div class="border-l border-slate-500 px-4" *ngIf="seating?.food_description">
                          <p class="pb-1 text-slate-400">Description</p>
                          <p class="text-xs">{{seating.food_description}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="not-include" src="../assets/images/not-include.png"/>
                      </div>
                      <div class="flex w-full space-y-2">
                        <div class="min-w-[120px] pr-5">
                          <p>Equipment</p>
                          <span class="text-lg font-bold text-japaneseIndigo capitalize">{{seating.equipment ? 'Not Include' : 'Include'}}</span>
                        </div>
                        <div class="border-l border-slate-500 px-4" *ngIf="seating?.equipment_description">
                          <p class="pb-1 text-slate-400">Description</p>
                          <p class="text-xs">{{seating.equipment_description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Company Details -->
            <div *ngIf="events.companydetail" class="space-y-1.5">
              <h5 class="text-lg font-bold">Company Details</h5>
              <div class="p-7 bg-white rounded-md space-y-1">
                <span class="block text-base lg:text-lg font-bold">{{ events.companydetail.name }}</span>
                <div [innerHtml]="events?.companydetail?.about"></div>
                <!-- <p class="text-quicksilver text-sm leading-6 font-normal">{{ events.companydetail.about }}</p> -->
              </div>
            </div>            
            <!-- Photo-holder -->
            <div *ngIf="events.companydetail.photos != ''" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Photo</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60" href="javascript:void(0);" (click)="openImageAndVideoDialog(events.companydetail.photos, true, true)">View All</a>
              </div>
              <!-- photo-holder -->
              <div class="w-full">
                <div class="flex flex-wrap -mx-2">
                  <div *ngFor="let img of events.companydetail.photos" class="w-full lg:w-2/12 p-2 ov-p">
                    <div class="rounded relative overflow-hidden bg-white h-24">
                      <p-image [src]="!!(img?.url) ? constants.baseImageURL + img.url : constants.defaultImage" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true"></p-image>
                      <img [src]="!!(img?.url) ? constants.baseImageURL + img.url : constants.defaultImage" alt="upload-1" class="w-full h-full object-cover"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- videos-holder -->
            <div *ngIf="events.companydetail.videos != ''" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Videos</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60" href="javascript:void(0);" (click)="openImageAndVideoDialog(events.companydetail.videos, false, true)">View All</a>
              </div>
              <!-- media-holder -->
              <div class="w-full">
                <div class="flex flex-wrap -mx-2">
                  <div *ngFor="let video of events.companydetail.videos" class="w-full lg:w-1/5 p-2 ov-p">
                    <div class="rounded relative overflow-hidden h-28">
                      <video [src]="!!(video?.url) ? constants.baseImageURL + video.url : constants.defaultImage" class="w-full h-full object-cover bg-white"></video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Company Details -->
            <div *ngIf="events?.tandc?.t_and_c != ''" class="space-y-1.5">
              <h3 class="text-lg">Terms & Conditions</h3>
              <div class="p-3.5 xl:p-5 bg-white rounded-md">
                <div [innerHtml]="events?.tandc?.t_and_c"></div>
              </div>
            </div>
            <!-- Social-Media -->
            <div class="w-full space-y-3"
            *ngIf="events?.tandc?.facebook && events?.tandc?.facebook != '' ||
                  events?.tandc?.twitter && events?.tandc?.twitter != '' ||
                  events?.tandc?.youtube && events?.tandc?.youtube != '' ||
                  events?.tandc?.pinterest && events?.tandc?.pinterest != '' ||
                  events?.tandc?.instagram && events?.tandc?.instagram != '' ||
                  events?.tandc?.linkedin && events?.tandc?.linkedin != ''"
                  >
              <span class="block text-base lg:text-xl font-bold">Social Media</span>
              <div class="flex items-center space-x-5 p-5 lg:p-7 bg-white rounded-lg">
                <a *ngIf="events?.tandc?.facebook != ''" [href]="events?.tandc?.facebook" target="_blank">
                  <img class="w-10 h-10 object-cover" alt="facebook" src="../assets/images/facebook.png" />
                </a>
                <a *ngIf="events?.tandc?.twitter != ''" [href]="events?.tandc?.twitter" target="_blank">
                  <img class="w-10 h-10 object-cover" alt="twiiter" src="../assets/images/twiiter.png" />
                </a>
                <a *ngIf="events?.tandc?.youtube != ''" [href]="events?.tandc?.youtube" target="_blank">
                  <img class="w-10 h-10 object-cover" alt="youtube" src="../assets/images/youtube.png" />
                </a>
                <a *ngIf="events?.tandc?.pinterest != ''" [href]="events?.tandc?.pinterest" target="_blank">
                  <img class="w-10 h-10 object-cover" alt="pinterest" src="../assets/images/pinterest.png" />
                </a>
                <a *ngIf="events?.tandc?.instagram != ''" [href]="events?.tandc?.instagram" target="_blank">
                  <img class="w-10 h-10 object-cover" alt="instagram" src="../assets/images/instagram.png" />
                </a>
                <a *ngIf="events?.tandc?.linkedin != ''" [href]="events?.tandc?.linkedin" target="_blank">
                  <img class="w-10 h-10 object-cover" alt="linkdin" src="../assets/images/linked.png" />
                </a>
              </div>
            </div>
            <!-- product_ad -->
            <div class="w-full mt-5 addsBox">
              <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
            </div>
          </div>
          <!-- Attendee left-bar -->
          <div class="w-full lg:w-8/12 space-y-2.5" *ngIf="attendee">
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Reynaldo Franklin</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#55841251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$560.00</h3>
                <span class="block input-titel text-magicPotion text-right">15 Ticket</span>
              </div>
            </div>
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Mark Jecno</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#23541251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$2100.00</h3>
                <span class="block input-titel text-magicPotion text-right">100 Ticket</span>
              </div>
            </div>
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Joila balia</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#55841251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$900.00</h3>
                <span class="block input-titel text-magicPotion text-right">10 Ticket</span>
              </div>
            </div>
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Mackenzie Holder</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#55841251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$900.00</h3>
                <span class="block input-titel text-magicPotion text-right">10 Ticket</span>
              </div>
            </div>
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Mackenzie Holder</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#55841251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$900.00</h3>
                <span class="block input-titel text-magicPotion text-right">10 Ticket</span>
              </div>
            </div>
            <div class="w-full addsBox">
              <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
            </div>
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Mackenzie Holder</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#55841251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$900.00</h3>
                <span class="block input-titel text-magicPotion text-right">10 Ticket</span>
              </div>
            </div>
            <div class="bg-white px-5 py-2.5 flex justify-between items-center rounded-md">
              <div class="space-y-2">
                <div class="flex items-center space-x-3">
                  <h3 class="text-base">Mackenzie Holder</h3>
                  <span class="input-titel font-bold text-caribbeanGreen" style="padding-bottom: 0;">#55841251</span>
                </div>
                <p class="text-quicksilver text-xs font-bold flex items-center">July 13, 2021</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-lg">$900.00</h3>
                <span class="block input-titel text-magicPotion text-right">10 Ticket</span>
              </div>
            </div>
          </div>
          <!-- right-bar  -->
          <div class="w-full lg:w-4/12 lg:pl-5 space-y-7 sticky top-0">
            <!-- map-content  -->
            <div class="w-full p-2.5 bg-white rounded-md" *ngIf="events?.event_location?.location?.coordinates?.length">
              <div class="relative">
                <agm-map [latitude]="events?.event_location?.location?.coordinates[1]" [longitude]="events?.event_location?.location?.coordinates[0]" [zoom]="zoom" class="w-full h-56">
                  <agm-marker [latitude]="events?.event_location?.location?.coordinates[1]" [longitude]="events?.event_location?.location?.coordinates[0]"></agm-marker>
                </agm-map>
                <a class="w-10 h-10 flex items-center justify-center text-xl bg-white shadow-sm absolute right-4 bottom-4 text-magicPotion" href="javascript:void(0);"><i class="icon-map"></i></a>
              </div>
              <div class="p-3.5 xl:p-5">
                <span class="input-titel"><i class="icon-location-1 mr-1"></i> Location</span>
                <h3 class="text-sm xl:text-base">{{ events.event_location.city + ', ' + events.event_location.state }}</h3>
              </div>
            </div>
            <!-- date-content  -->
            <div class="w-full p-5 xl:p-7 bg-white rounded-md space-y-3"
            *ngIf="events?.about?.start_date || events?.about?.end_date || events?.about?.start_time || events?.about?.end_time" >
              <div class="w-full">
                <div class="text-xs lg:text-sm font-medium text-quicksilver flex items-center"><i class="icon-calendar mr-1.5 text-base"></i>Date </div>
                <span class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{ events?.about?.start_date | date:'dd MMM, yyyy' }} - {{ events?.about?.end_date | date:'dd MMM, yyyy' }}</span>
              </div>
              <div class="w-full">
                <div class="text-xs lg:text-sm font-medium text-quicksilver flex items-center"><i class="icon-time mr-1.5 text-sm"></i>Time </div>
                <span class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{ events?.about?.start_time }} - {{ events?.about?.end_time }}</span>
              </div>
            </div>
            <!-- Discount On Total Bill  -->
            <div class="bg-gradient-to-r from-[#13e1b094] to-[#13E1B0] p-3.5 xl:p-5 rounded-lg relative overflow-hidden" *ngFor="let discount of events?.discounts || []">
              <div class="w-full space-y-4">
                <h4 class="text-white">{{discount?.discountname}}</h4>
                <h1 class="text-black font-bold">{{discount?.discount}}%</h1>
                <div class="space-y-2">
                  <span class="text-xs text-white font-normal block">{{discount?.description}}</span>
                </div>
                <img alt="celebration" class="absolute -right-3 -bottom-3 opacity-80" src="../assets/images/event-subscription.png"/>
              </div>
            </div>
            <!-- Book_ticket_detils -->
            <div class="bg-white rounded-md overflow-hidden" *ngIf="events?.seating_arrangements?.length">
              <div class="flex justify-between px-5 py-2 bg-japaneseIndigo">
                <span class="text-sm font-bold text-white">Book Ticket</span>
                <span class="text-sm font-bold text-white">Total Amount</span>
              </div>
              <div class="bg-white" *ngFor="let book of events?.seating_arrangements">
                <div class="flex justify-between border-t border-brightGray px-5 py-2" *ngFor="let ticket of book?.arrangements">
                  <span class="text-sm font-bold text-japaneseIndigo">{{ticket?.total_person}} {{((ticket.vertical_location == 'TOP') ? 'T' : (ticket.vertical_location == 'CENTER' ? 'C' : 'B'))}} - {{((ticket.horizontal_location == 'LEFT') ? 'L' : ((ticket.horizontal_location == 'CENTER') ? 'C' : (ticket.horizontal_location == 'RIGHT' ? 'R' : 'N')))}}</span>
                  <span class="text-sm font-bold text-japaneseIndigo">{{book?.seating_item?.itemname}}</span>
                  <span class="text-sm font-bold text-japaneseIndigo">₹{{ticket?.total_amount}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Reviews-Teb-Content   -->
      <div class="w-full space-y-7 tab-main" [class]="reviews ? 'active' : ''">
        <div class="w-full space-y-2">

          <div *ngFor="let reviews of events?.reviews" class="flex justify-between p-7 bg-white rounded-md">
            <div class="">
              <div class="w-28 h-28 border-2 border-brightGray rounded-full overflow-hidden bg-white">
                <img alt="cutting-board" class="w-full h-full object-cover" [src]="!!(reviews?.userid?.profilepic) ? constants.baseImageURL + reviews?.userid?.profilepic : constants.userDefaultImage"/>
              </div>
            </div>
            <div class="w-full pl-5">
              <div class="flex justify-between">
                <h3>{{ reviews?.userid?.name }}</h3>
                <div class="flex items-center space-x-2">
                  <span class="text-xs text-quicksilver">{{ reviews?.createdAt | date:'dd MMM, yyyy' }}</span>
                  <p-rating [(ngModel)]="reviews.ratings" [readonly]="true" [cancel]="false"></p-rating>
                </div>
              </div>
              <p class="text-japaneseIndigo text-sm font-normal leading-6 pt-2">{{ reviews?.review }}</p>
            </div>
          </div>
          <div class="w-full py-2.5 addsBox">
            <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom-bar -->
  <div class="-mb-14 mt-14 bg-white pb-4">
    <div class="flex flex-wrap items-center justify-between max-w-7xl mx-auto px-5 xl:px-8">
      <div class="flex items-center space-x-2 pt-4">
        <h4 class="pr-5 border-r border-brightGray"><span class="text-quicksilver font-normal">Sold :</span>
          {{ events.sold }}</h4>
        <h4 class="px-5"><span class="text-quicksilver font-normal">Unsold  :</span> 235</h4>
      </div>
      <div class="flex items-center space-x-2 pt-4">
        <span class="text-xs font-bold text-quicksilver whitespace-nowrap">150 Sold</span>
        <div class="w-32 md:w-[150px] xl:w-[203px] bg-[#D6D7DC] rounded-full h-1.5">
          <div class="bg-magicPotion h-1.5 rounded-full" style="width: 30%"></div>
        </div>
        <span class="text-xs font-bold text-quicksilver whitespace-nowrap">521 UnSold</span>
      </div>
      <div class="pt-4">
        <a class="secondary px-5 py-2 flex items-end rounded-sm max-w-max mx-auto" href="javascript:void(0);"><i class="icon-scanner mr-3 text-lg"></i>SCAN QR</a>
      </div>
    </div>
  </div>
  
  <app-image-and-video-preview *ngIf="isOpenPopup" (openClosePopup)="closePop($event)" [isImageOrVideoFlag]="isImage" [isCompanyImagesAndVideo]="companyIAndV" [expectedProp]="imagesOrVideosArr"></app-image-and-video-preview>
</div>
