<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div *ngIf="event && !isLoading" class="">
  <div class="-mt-12 relative -z-10">
    <!-- src="../assets/images/cooking-together-big.png"  -->
    <img [src]="!!(event?.banner) ? constants?.baseImageURL + event.banner : constants?.defaultImage" alt="cooking-together-bg" class="w-full object-cover max-h-80"/>
  </div>
  <div class="wrapper min-h-full -mt-14 z-10">
    <div class="flex items-center justify-between bg-white py-5 px-7 rounded-md">
      <div class="w-full md:w-1/2 space-y-3">
        <div class="flex items-center space-x-3">
          <span class="text-xs text-white font-bold px-3 rounded-xl py-1" [ngClass]="!!(event?.is_approved) ? 'bg-caribbeanGreen' : 'bg-magicPotion'">{{!!(event?.is_approved) ? 'Verified' : 'Unverified'}}</span>
          <span class="text-xs text-white font-bold px-3 rounded-xl py-1" [ngClass]="!!(event?.accept_booking) ? 'bg-caribbeanGreen' : 'bg-magicPotion'">{{!!(event?.accept_booking) ? 'Booking Accepting' : 'Booking Not Accepting'}}</span>
        </div>
        <h2>{{ event.name }}</h2>
        <div class="flex items-center space-x-1">
          <p-rating [(ngModel)]="event.ratings" [readonly]="true" [cancel]="false"></p-rating>
          <!-- <div id="rateYo"></div> -->
          <span class="text-quicksilver text-xs font-bold pl-2"> {{event?.totalreview}} Ratings </span>
        </div>
      </div>
      <div class="w-full md:w-1/2 space-y-3">
        <h3 class="text-right">250 INR</h3>
        <div class="flex space-x-2 justify-end">
          <a class="bg-brightGray flex items-center justify-center w-[30px] h-[30px] text-center rounded" (click)="editEvent($event, event._id)" *ngIf="event?.iseditable" href="javascript:void(0);"><i class="icon-edit text-sm leading-0 text-japaneseIndigo"></i></a>
          <!-- <a class="bg-brightGray flex items-center justify-center w-[30px] h-[30px] text-center rounded" href="javascript:void(0);"><i class="icon-fill_megaphone text-sm leading-0 text-japaneseIndigo"></i></a> -->
          <!-- <a class="bg-brightGray flex items-center justify-center w-[30px] h-[30px] text-center rounded" href="javascript:void(0);"><i class="icon-share text-sm leading-0 text-japaneseIndigo"></i></a> -->
          <a class="flex items-center justify-center h-[30px] text-center rounded bg-red-500 text-white text-xs px-2 font-semibold active:bg-red-400" (click)="cancelEventPopup($event)" *ngIf="event?.iseditable" href="javascript:void(0);">Cancel Event</a>
        </div>
        <div class="flex items-center justify-end space-x-3">
          <label class="flex items-center justify-end">
            <input type="checkbox" class="switch mr-1.5 lg:mx-3 order-2" (click)="liveEvent($event, event)" [checked]="event?.is_live" [disabled]="!event?.is_approved" />
            <span class="text-base font-bold anim order-3">Live</span>
          </label>
          <span class="px-3 py-1 rounded-sm text-xs text-white font-bold bg-magicPotion">{{(event?.event_category?.categoryname) ? event?.event_category?.categoryname : event?.other }}</span>
          <span class="px-3 py-1 rounded-sm text-xs text-white font-bold bg-japaneseIndigo">{{constants?.eventTypeArr[constants?.eventTypeObj[event?.event_type]]?.displayLabel}}</span>
        </div>
      </div>
    </div>
    <!-- tab-holder  -->
    <div class="teb-holder">
      <button [class]="overview ? 'active' : ''" (click)="onTabChange('overview')" type="button">Overview</button>
      <button [class]="attendee ? 'active' : ''" (click)="onTabChange('attendee')" type="button" *ngIf="!!(event?.accept_booking) && attendees && attendees?.length">Attendees</button>
      <button [class]="reviews ? 'active' : ''" (click)="onTabChange('reviews')" type="button" *ngIf="event?.reviews?.length">Reviews</button>
      <button [class]="deposit ? 'active' : ''" (click)="onTabChange('deposit')" type="button" *ngIf="event?.total_event_deposit">Deposit</button>

      <a class="secondary px-5 py-2 flex items-end rounded-sm max-w-max ml-auto" href="javascript:void(0);" (click)="exportAttendees()" *ngIf="!!(event?.accept_booking) && event?.is_live && attendee && attendees && attendees?.length">Export</a>
    </div>
    <!-- tab-contents-holder -->
    <div class="pt-7 lg:pt-10">
      <!--overview-tab-contents -->
      <div class="relative tab-main" [class]="(!reviews && !deposit) ? 'active' : ''" *ngIf="!reviews && !deposit">
        <div class="flex flex-wrap">
          <!-- Overview left-bar -->
          <div class="w-full lg:w-8/12 lg:pr-5 space-y-7" *ngIf="overview">
            <div class="p-7 bg-white rounded-md space-y-1" *ngIf="event?.about?.about_event != ''">
              <h5>About Event</h5>
              <div [innerHtml]="event?.about?.about_event"></div>
            </div>
            <!-- Photo-holder -->
            <div *ngIf="event?.photos?.length" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Photo</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60 hover:text-red-500" href="javascript:void(0);" (click)="openImageAndVideoDialog(event?.photos, true, false)">View All</a>
              </div>
              <!-- photo-holder -->
              <div class="w-full">
                <div class="flex overflow-hidden -mx-2">
                  <div *ngFor="let img of event?.photos" class="w-auto p-2">
                    <div class="rounded relative overflow-hidden bg-white h-28 w-[7.3rem]">
                      <p-image [src]="!!(img?.url) ? constants?.baseImageURL + img?.url : constants?.defaultImage" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true"></p-image>
                      <!-- <img [src]="!!(img?.url) ? constants?.baseImageURL + img?.url : constants?.defaultImage" alt="upload-1" class="w-full h-full object-cover"/> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- videos-holder -->
            <div *ngIf="event?.videos?.length" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Videos</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60 hover:text-red-500" href="javascript:void(0);" (click)="openImageAndVideoDialog(event?.videos, false, false)">View All</a>
              </div>
              <!-- media-holder -->
              <div class="w-full">
                <div class="flex overflow-hidden -mx-2">
                  <div *ngFor="let video of event?.videos" class="p-2 group hover:bg-slate-100">
                    <div class="rounded relative overflow-hidden h-32 w-36 cursor-pointer" (click)="openImageAndVideoDialog([video], false, false, true)">
                      <video [src]="!!(video?.url) ? constants?.baseImageURL + video?.url : constants?.defaultImage" class="w-full h-full object-cover bg-white"></video>
                      <div class="opacity-0 bg-black bg-opacity-50 flex items-center justify-center group-hover:opacity-100 absolute inset-0 transition-all duration-300">
                        <i class="pi pi-eye text-2xl text-white"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion -->
            <div *ngIf="event?.seating_arrangements && event?.seating_arrangements?.length" class="space-y-1.5">
              <h5 class="text-lg font-bold pb-5">Arrangement</h5>
              <!-- <div class="accordions w-full space-y-5">
                <div *ngFor="let seating of event?.seating_arrangements;let i = index;" class="accordion_item cursor-pointer h-full p-0 relative">
                  <div #accordionClick class="title_tab flex justify-between items-center px-5 py-6 max-h-[78px] accordion">
                    <div (click)="accordionClick.click()" class="space-x-7 flex items-center">
                      <div class="w-10 text-center">
                        <img alt="{{seating?.seating_item?.itemname}}" class="mx-auto h-10 max-w-full object-contain" [src]="!!(seating?.seating_item?.itemimage) ? constants?.baseImageURL + seating?.seating_item?.itemimage : constants?.defaultImage"/>
                      </div>
                      <h4>{{seating?.seating_item?.itemname}}</h4>
                    </div>
                    <div class="flex items-center space-x-7">
                      <span (click)="accordionClick.click()" class="uper-down flex items-center cursor-pointer"><i class="icon-drop_arrow"></i></span>
                    </div>
                  </div>
                  <div class="inner_content i_c space-y-6 border-t px-5 py-6">
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="select-item" src="../assets/images/select-item.png"/>
                      </div>
                      <div class="w-full space-y-2">
                        <div class="flex items-center justify-between">
                          <h6 class="text-lg text-japaneseIndigo font-bold">Select Item</h6>
                        </div>
                        <div class="borders">
                          <div class="" *ngFor="let arrangement of seating?.arrangements">
                            <div class="flex flex-wrap items-center">
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">No of {{seating?.seating_item?.itemname}}</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.number_of_seating_item}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Location</span>
                                <span class="block text-base font-bold text-quicksilver">{{((arrangement.vertical_location == 'FRONT') ? 'F' : (arrangement.vertical_location == 'CENTER' ? 'C' : 'L'))}} - {{((arrangement.horizontal_location == 'LEFT') ? 'L' : ((arrangement.horizontal_location == 'CENTER') ? 'C' : (arrangement.horizontal_location == 'RIGHT' ? 'R' : 'N')))}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                                *ngIf="(!seating?.seating_item?.isonlyperperson)">
                                <span class="block text-xs xl:text-sm text-quicksilver">per {{seating?.seating_item?.itemname}} person capacity</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.per_seating_person}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Total person capacity</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.total_person}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                                *ngIf="(!seating?.seating_item?.isonlyperperson)">
                                <span class="block text-xs xl:text-sm text-quicksilver">Per {{seating?.seating_item?.itemname}} Price</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.per_seating_price}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">per person price</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement.per_person_price}} INR</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Total Amount</span>
                                <span class="block text-base font-bold text-japaneseIndigo">{{arrangement.total_amount}} INR</span>
                              </div>
                              <div class="space-y-1 pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <p>Description</p>
                                <span class="text-base text-quicksilver font-bold" [innerHTML]="arrangement?.description || 'null'"></span>
                              </div>
                              <div class="flex items-center pt-4 ml-auto" *ngIf="(!seating?.seating_item?.isonlyperperson)">
                                <input class="switch mx-3 order-2" id="on" type="checkbox" [(ngModel)]="arrangement.booking_acceptance"/>
                                <span class="off text-base font-bold anim order-1 text-caribbeanGreen">per table</span>
                                <span class="on text-base font-bold anim order-3">per person</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="non-veg" src="../assets/images/non-veg.png"/>
                      </div>
                      <div class="flex w-full space-y-2">
                        <div class="min-w-[148px] pr-5">
                          <p>Food</p>
                          <span class="text-lg font-bold text-japaneseIndigo capitalize">{{(seating.food == 'BOTH') ? 'Veg & Non-Veg' : seating.food}}</span>
                        </div>
                        <div class="border-l border-slate-500 px-4" *ngIf="seating?.food_description">
                          <p class="pb-1 text-slate-400">Description</p>
                          <p class="text-xs" [innerHTML]="seating.food_description || ''"></p>
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="not-include" src="../assets/images/not-include.png"/>
                      </div>
                      <div class="flex w-full space-y-2">
                        <div class="min-w-[148px] pr-5">
                          <p>Equipment</p>
                          <span class="text-lg font-bold text-japaneseIndigo capitalize">{{seating.equipment ? 'Not Include' : 'Include'}}</span>
                        </div>
                        <div class="border-l border-slate-500 px-4" *ngIf="seating?.equipment_description">
                          <p class="pb-1 text-slate-400">Description</p>
                          <p class="text-xs" [innerHTML]="seating.equipment_description || ''"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <mat-accordion>
                <mat-expansion-panel *ngFor="let seating of event?.seating_arrangements;let i = index;">
                  <mat-expansion-panel-header class="px-5 py-6">
                    <mat-panel-title class="space-x-7 flex items-center">
                      <div class="w-10 text-center">
                        <img alt="{{seating?.seating_item?.itemname}}" class="mx-auto h-10 max-w-full object-contain" [src]="!!(seating?.seating_item?.itemimage) ? constants?.baseImageURL + seating?.seating_item?.itemimage : constants?.defaultImage"/>
                      </div>
                      <h4>{{seating?.seating_item?.itemname}}</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  
                  <div class="space-y-6 py-6">
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="select-item" src="../assets/images/select-item.png"/>
                      </div>
                      <div class="w-full space-y-2">
                        <div class="flex items-center justify-between">
                          <h6 class="text-lg text-japaneseIndigo font-bold">Select Item</h6>
                        </div>
                        <div class="borders">
                          <div class="" *ngFor="let arrangement of seating?.arrangements">
                            <div class="flex flex-wrap items-center">
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">No of {{seating?.seating_item?.itemname}}</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement?.number_of_seating_item}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Location</span>
                                <span class="block text-base font-bold text-quicksilver">{{((arrangement?.vertical_location == 'FRONT') ? 'F' : (arrangement?.vertical_location == 'MIDDLE' ? 'M' : 'B'))}} - {{((arrangement?.horizontal_location == 'LEFT') ? 'L' : ((arrangement?.horizontal_location == 'CENTER') ? 'C' : (arrangement?.horizontal_location == 'RIGHT' ? 'R' : 'N')))}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                                *ngIf="(!seating?.seating_item?.isonlyperperson)">
                                <span class="block text-xs xl:text-sm text-quicksilver">per {{seating?.seating_item?.itemname}} person capacity</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement?.per_seating_person}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Total person capacity</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement?.total_person}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                                *ngIf="(!seating?.seating_item?.isonlyperperson)">
                                <span class="block text-xs xl:text-sm text-quicksilver">Per {{seating?.seating_item?.itemname}} Price</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement?.per_seating_price || 0 | number:'1.2-2'}}</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">per person price</span>
                                <span class="block text-base font-bold text-quicksilver">{{arrangement?.per_person_price || 0 | number:'1.2-2'}} INR</span>
                              </div>
                              <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <span class="block text-xs xl:text-sm text-quicksilver">Total Amount</span>
                                <span class="block text-base font-bold text-japaneseIndigo">{{arrangement?.total_amount || 0 | number:'1.2-2'}} INR</span>
                              </div>
                              <div class="space-y-1 pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                                <p class="block text-xs xl:text-sm text-quicksilver">Description</p>
                                <span class="text-base text-quicksilver font-bold" [innerHTML]="arrangement?.description || 'null'"></span>
                              </div>
                              <div class="flex items-center pt-4 ml-auto" *ngIf="(!seating?.seating_item?.isonlyperperson)">
                                <!-- <input class="switch mx-3 order-2" id="on" type="checkbox" [(ngModel)]="arrangement.booking_acceptance"/>
                                <span class="off text-base font-bold anim order-1 text-caribbeanGreen">Per table</span>
                                <span class="on text-base font-bold anim order-3">Per person</span> -->
                                <span class="off text-base font-bold anim order-1 text-caribbeanGreen capitalize" *ngIf="!arrangement?.booking_acceptance">Per table</span>
                                <span class="on text-base font-bold anim order-3 text-caribbeanGreen capitalize" *ngIf="arrangement?.booking_acceptance">Per person</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="non-veg" src="../assets/images/non-veg.png"/>
                      </div>
                      <div class="flex w-full space-y-2">
                        <div class="min-w-[148px] pr-5">
                          <p>Food</p>
                          <span class="text-lg font-bold text-japaneseIndigo capitalize">{{(seating?.food == 'BOTH') ? 'Veg & Non-Veg' : seating?.food}}</span>
                        </div>
                        <div class="border-l border-slate-500 px-4" *ngIf="seating?.food_description">
                          <p class="pb-1 text-slate-400">Description</p>
                          <p class="text-xs" [innerHTML]="seating?.food_description || ''"></p>
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <div class="pr-5">
                        <img alt="not-include" src="../assets/images/not-include.png"/>
                      </div>
                      <div class="flex w-full space-y-2">
                        <div class="min-w-[148px] pr-5">
                          <p>Equipment</p>
                          <span class="text-lg font-bold text-japaneseIndigo capitalize">{{seating?.equipment ? 'Not Include' : 'Include'}}</span>
                        </div>
                        <div class="border-l border-slate-500 px-4" *ngIf="seating?.equipment_description">
                          <p class="pb-1 text-slate-400">Description</p>
                          <p class="text-xs" [innerHTML]="seating?.equipment_description || ''"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Company Details -->
            <div *ngIf="event?.companydetail" class="space-y-1.5">
              <h5 class="text-lg font-bold">Company Details</h5>
              <div class="p-7 bg-white rounded-md space-y-1">
                <span class="block text-base lg:text-lg font-bold">{{ event?.companydetail?.name }}</span>
                <div [innerHtml]="event?.companydetail?.about"></div>
                <!-- <p class="text-quicksilver text-sm leading-6 font-normal">{{ event.companydetail.about }}</p> -->
              </div>
            </div>
            <!-- Photo-holder -->
            <div *ngIf="event?.companydetail?.photos?.length" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Photo</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60" href="javascript:void(0);" (click)="openImageAndVideoDialog(event?.companydetail?.photos, true, true)">View All</a>
              </div>
              <!-- photo-holder -->
              <div class="w-full">
                <div class="flex -mx-2">
                  <div *ngFor="let img of event?.companydetail?.photos" class="w-auto p-2">
                    <div class="rounded relative overflow-hidden bg-white h-28 w-[7.3rem]">
                      <p-image [src]="!!(img?.url) ? constants?.baseImageURL + img?.url : constants?.defaultImage" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true"></p-image>
                      <img [src]="!!(img?.url) ? constants?.baseImageURL + img?.url : constants?.defaultImage" alt="upload-1" class="w-full h-full object-cover"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- videos-holder -->
            <div *ngIf="event?.companydetail?.videos?.length" class="media-upload-holder">
              <!-- media title  -->
              <div class="flex justify-between items-center">
                <h3 class="text-lg">Videos</h3>
                <a class="text-spiroDiscoBall text-sm font-bold opacity-60" href="javascript:void(0);" (click)="openImageAndVideoDialog(event?.companydetail?.videos, false, true)">View All</a>
              </div>
              <!-- media-holder -->
              <div class="w-full">
                <div class="flex -mx-2">
                  <div *ngFor="let video of event?.companydetail?.videos" class="p-2 group hover:bg-slate-100">
                    <div class="rounded relative overflow-hidden h-32 w-36 cursor-pointer" (click)="openImageAndVideoDialog([video], false, false, true)">
                      <video [src]="!!(video?.url) ? constants?.baseImageURL + video.url : constants?.defaultImage" class="w-full h-full object-cover bg-white"></video>
                      <div class="opacity-0 bg-black bg-opacity-50 flex items-center justify-center group-hover:opacity-100 absolute inset-0 transition-all duration-300">
                        <i class="pi pi-eye text-2xl text-white"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Company Details -->
            <div *ngIf="event?.tandc?.t_and_c && event?.tandc?.t_and_c != ''" class="space-y-1.5">
              <h3 class="text-lg">Terms & Conditions</h3>
              <div class="p-3.5 xl:p-5 bg-white rounded-md">
                <div [innerHtml]="event?.tandc?.t_and_c"></div>
              </div>
            </div>
            <!-- Social-Media -->
            <div class="w-full space-y-3"
              *ngIf="event?.tandc?.facebook && event?.tandc?.facebook != '' ||
                event?.tandc?.twitter && event?.tandc?.twitter != '' ||
                event?.tandc?.youtube && event?.tandc?.youtube != '' ||
                event?.tandc?.pinterest && event?.tandc?.pinterest != '' ||
                event?.tandc?.instagram && event?.tandc?.instagram != '' ||
                event?.tandc?.linkedin && event?.tandc?.linkedin != ''"
              >
              <span class="block text-base lg:text-xl font-bold">Social Media</span>
              <div class="flex items-center space-x-5 p-5 lg:p-7 bg-white rounded-lg">
                <a *ngIf="event?.tandc?.facebook != ''" [href]="event?.tandc?.facebook" target="_blank">
                <img class="w-10 h-10 object-cover" alt="facebook" src="../assets/images/facebook.png" />
                </a>
                <a *ngIf="event?.tandc?.twitter != ''" [href]="event?.tandc?.twitter" target="_blank">
                <img class="w-10 h-10 object-cover" alt="twiiter" src="../assets/images/twiiter.png" />
                </a>
                <a *ngIf="event?.tandc?.youtube != ''" [href]="event?.tandc?.youtube" target="_blank">
                <img class="w-10 h-10 object-cover" alt="youtube" src="../assets/images/youtube.png" />
                </a>
                <a *ngIf="event?.tandc?.pinterest != ''" [href]="event?.tandc?.pinterest" target="_blank">
                <img class="w-10 h-10 object-cover" alt="pinterest" src="../assets/images/pinterest.png" />
                </a>
                <a *ngIf="event?.tandc?.instagram != ''" [href]="event?.tandc?.instagram" target="_blank">
                <img class="w-10 h-10 object-cover" alt="instagram" src="../assets/images/instagram.png" />
                </a>
                <a *ngIf="event?.tandc?.linkedin != ''" [href]="event?.tandc?.linkedin" target="_blank">
                <img class="w-10 h-10 object-cover" alt="linkdin" src="../assets/images/linked.png" />
                </a>
              </div>
            </div>
            <!-- product_ad -->
            <div class="w-full mt-5 addsBox">
              <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
            </div>
          </div>
          <!-- Attendee left-bar -->
          <div class="w-full lg:w-8/12 space-y-2.5" *ngIf="attendee && attendees && attendees?.length">
            <div class="accordions">
              <div *ngFor="let attendee of attendees;let i = index;" class="accordion_item p-0 cursor-pointer relative mb-5">
                <div #accordionClick (click)="toggleAccordion($event, i)" class="title_tab bg-white px-5 py-2.5 flex justify-between items-center rounded-md accordion">
                  <div class="space-y-2">
                    <div class="flex items-center space-x-3">
                      <h3 class="text-base">{{attendee?.userid?.name}}</h3>
                      <span class="input-titel font-bold text-caribbeanGreen pb-0" *ngIf="attendee && attendee?.invoice_no">#{{attendee?.invoice_no}}</span>
                    </div>
                    <p class="text-quicksilver text-xs font-bold flex items-center" *ngIf="attendee && attendee?.createdAt">{{attendee?.createdAt | date:'dd MMM, yyyy  hh:mm a'}}</p>
                  </div>
                  <div class="space-y-1">
                    <h3 class="text-lg" *ngIf="attendee && attendee?.amount">₹{{attendee?.amount | number: '1.2-2'}}</h3>
                    <span class="block input-titel text-magicPotion text-right" *ngIf="attendee && attendee?.booked_tickets">{{attendee?.booked_tickets}} Ticket</span>
                  </div>
                </div>
                <div class="border-t panel overflow-y-auto">
                  <div class="inner_content i_c px-5 py-6">
                    <div>
                      <div *ngFor="let seat of attendee?.seats || []">
                        <div class="flex- items-center justify-between" *ngFor="let arrangement of seat?.arrangements || []">
                          <div class="flex justify-between w-full text-quicksilver text-sm font-bold text-left">
                            <span class="block w-1/6 py-1">{{seat?.seating_item?.itemname}}</span>
                            <span class="block w-2/6 py-1">{{arrangement?.vertical_location}} - {{arrangement?.horizontal_location}}</span>
                            <span class="block w-2/6 py-1">{{arrangement?.ItemCount || 0}} Ticket Booked</span>
                            <span class="block w-1/6 py-1 text-right">₹{{arrangement?.totalAmountItemCount | number: '1.2-2'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full addsBox">
              <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
            </div>
            <div *ngIf="attendee && (!attendees || !attendees?.length)">
              <h3>No attendees Found</h3>
            </div>
          </div>
          <!-- right-bar  -->
          <div class="w-full lg:w-4/12 lg:pl-5 space-y-7 sticky top-0 ml-auto">
            <!-- map-content  -->
            <div class="w-full p-2.5 bg-white rounded-md" *ngIf="event?.event_location?.location?.coordinates?.length">
              <div class="relative">
                <agm-map [latitude]="event?.event_location?.location?.coordinates[1]" [longitude]="event?.event_location?.location?.coordinates[0]" [zoom]="zoom" class="w-full h-56">
                <agm-marker [latitude]="event?.event_location?.location?.coordinates[1]" [longitude]="event?.event_location?.location?.coordinates[0]"></agm-marker>
                </agm-map>
                <a class="w-10 h-10 flex items-center justify-center text-xl bg-white shadow-sm absolute right-4 bottom-4 text-magicPotion" href="javascript:void(0);"><i class="icon-map"></i></a>
              </div>
              <div class="p-3.5 xl:p-5">
                <span class="input-titel"><i class="icon-location-1 mr-1"></i> Location</span>
                <h3 class="text-sm xl:text-base">{{ event.event_location.city + ', ' + event.event_location.state }}</h3>
              </div>
            </div>
            <!-- date-content  -->
            <div class="w-full p-5 xl:p-7 bg-white rounded-md space-y-3"
              *ngIf="event?.about?.start_date || event?.about?.end_date || event?.about?.start_time || event?.about?.end_time" >
              <div class="w-full">
                <div class="text-xs lg:text-sm font-medium text-quicksilver flex items-center"><i class="icon-calendar mr-1.5 text-base"></i>Date </div>
                <span class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{ event?.about?.start_date | date:'dd MMM, yyyy' }} - {{ event?.about?.end_date | date:'dd MMM, yyyy' }}</span>
              </div>
              <div class="w-full">
                <div class="text-xs lg:text-sm font-medium text-quicksilver flex items-center"><i class="icon-time mr-1.5 text-sm"></i>Time </div>
                <span class="text-japaneseIndigo text-xs lg:text-sm font-bold">{{ '0' + ' ' + event?.about?.start_time | date : 'hh:mm a'}} - {{ '0' + ' ' + event?.about?.end_time | date : 'hh:mm a'}}</span>
              </div>
            </div>
            <!-- Discount On Total Bill  -->
            <div class="bg-gradient-to-r from-[#13e1b094] to-[#13E1B0] p-3.5 xl:p-5 rounded-lg relative overflow-hidden" *ngFor="let discount of event?.discounts || []">
              <div class="w-full space-y-4">
                <h4 class="text-white">{{discount?.discountname}}</h4>
                <h1 class="text-black font-bold">{{discount?.discount}}%</h1>
                <div class="space-y-2">
                  <span class="text-xs text-white font-normal block">{{discount?.description}}</span>
                </div>
                <img alt="celebration" class="absolute -right-3 -bottom-3 opacity-80" src="../assets/images/event-subscription.png"/>
              </div>
            </div>
            <!-- Book_ticket_detils -->
            <div class="bg-white rounded-md overflow-hidden" *ngIf="attendees?.length">
              <div class="flex justify-between px-5 py-2 bg-japaneseIndigo">
                <span class="text-sm font-bold text-white">Book Ticket</span>
                <span class="text-sm font-bold text-white">Total Amount</span>
              </div>
              <div class="" *ngFor="let attendee of attendees;let i = index;">
                <div class="bg-white" *ngFor="let seat of attendee?.seats || []">
                  <div class="flex justify-between border-t border-brightGray px-5 py-2" *ngFor="let arrangement of seat?.arrangements || []">
                    <span class="text-sm font-bold text-japaneseIndigo w-1/3">{{arrangement?.ItemCount || 0}} {{((arrangement.vertical_location == 'FRONT') ? 'F' : (arrangement.vertical_location == 'MIDDLE' ? 'M' : 'B'))}} - {{((arrangement.horizontal_location == 'LEFT') ? 'L' : ((arrangement.horizontal_location == 'CENTER') ? 'C' : (arrangement.horizontal_location == 'RIGHT' ? 'R' : 'N')))}}</span>
                    <span class="text-sm font-bold text-japaneseIndigo w-1/3 text-center">{{seat?.seating_item?.itemname}}</span>
                    <span class="text-sm font-bold text-japaneseIndigo w-1/3 text-right">₹{{arrangement?.totalAmountItemCount | number: '1.2-2'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Reviews-Teb-Content   -->
      <div class="w-full space-y-7 tab-main" [class]="reviews ? 'active' : ''">
        <div class="w-full space-y-2">
          <div *ngFor="let reviews of event?.reviews" class="flex justify-between p-7 bg-white rounded-md">
            <div class="">
              <div class="w-28 h-28 border-2 border-brightGray rounded-full overflow-hidden bg-white">
                <img alt="cutting-board" class="w-full h-full object-cover" [src]="!!(reviews?.userid?.profilepic) ? constants?.baseImageURL + reviews?.userid?.profilepic : constants.userDefaultImage"/>
              </div>
            </div>
            <div class="w-full pl-5">
              <div class="flex justify-between">
                <h3>{{ reviews?.userid?.name }}</h3>
                <div class="flex items-center space-x-2">
                  <span class="text-xs text-quicksilver">{{ reviews?.createdAt | date:'dd MMM, yyyy' }}</span>
                  <p-rating [(ngModel)]="reviews.ratings" [readonly]="true" [cancel]="false"></p-rating>
                </div>
              </div>
              <p class="text-japaneseIndigo text-sm font-normal leading-6 pt-2">{{ reviews?.review }}</p>
            </div>
          </div>
          <div class="w-full py-2.5 addsBox">
            <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
          </div>
        </div>
      </div>
      <!-- Deposit-Teb-Content   -->
      <div class="w-full space-y-7 tab-main" [class]="deposit ? 'active' : ''">
        <div class="w-full space-y-5 px-5">
          <div class="w-full text-sm space-y-1">
            <h5 class="text-red-600">*Note:</h5>
            <p class="px-0.5">We take 10% of <strong>₹{{event?.total_event_cost?.display_value}}/-</strong> as a security deposit for the safety of our users. Nominal bank charges will be deducted from the deposited amount <strong>₹{{event?.total_event_deposit?.display_value}}/-</strong> and will be refunded within 7 working days after the completion of your event.</p>
          </div>
          <div class="flex flex-wrap">
            <div class="pt-5 pr-5">
              <div class="p-7 bg-white rounded-md space-y-1">
                <h5>₹{{event?.total_event_cost?.display_value}}/-</h5>
                <div>Total Event Cost</div>
              </div>
            </div>
            <div class="pt-5 pr-5">
              <div class="p-7 bg-white rounded-md space-y-1">
                <h5 class="text-red-500">₹{{event?.total_event_deposit?.display_value}}/-</h5>
                <div>Due Event Deposit</div>
              </div>
            </div>
            <div class="pt-5 pr-5 mt-auto">
              <button type="button" class="secondary px-5 py-2 flex items-end rounded-sm max-w-max mx-auto" (click)="addDeposit()">Add Deposit</button>
            </div>
            <!-- <div class="pt-5 w-full">
              <div class="p-7 bg-white rounded-md space-y-1">
                <h5>₹{{event?.total_event_deposit?.display_value}}/-</h5>
                <div>Due Event Deposit</div>
              </div>
            </div> -->
          </div>
          <div class="w-full py-2.5 addsBox">
            <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bottom-bar -->
<div class="-mb-14 mt-14 bg-white pb-4">
  <div class="flex flex-wrap items-center justify-between max-w-7xl mx-auto px-5 xl:px-8">
    <div class="flex items-center space-x-2 pt-4">
      <h4 class="pr-5 border-r border-brightGray"><span class="text-quicksilver font-normal">Sold :</span>
        {{ event?.total_booked_seats || 0}}
      </h4>
      <h4 class="px-5"><span class="text-quicksilver font-normal">Unsold  :</span> {{event?.total_available_seats || 0}}</h4>
    </div>
    <div class="flex items-center space-x-2 pt-4">
      <span class="text-xs font-bold text-quicksilver whitespace-nowrap">{{event?.total_booked_seats || 0}} Sold</span>
      <!--<div class="w-32 md:w-[150px] xl:w-[203px] bg-[#D6D7DC] rounded-full h-1.5">
        <div class="bg-magicPotion h-1.5 rounded-full" style="width: 30%"></div>
        </div>-->
      <div class="w-32 h-1.5">
        <p-progressBar [styleClass]="'h-1.5'" [value]="((event?.total_booked_seats || 0) * 100) / (event?.total_seats || 0)" [showValue]="false"></p-progressBar>
      </div>
      <span class="text-xs font-bold text-quicksilver whitespace-nowrap">{{event?.total_available_seats || 0}} UnSold</span>
    </div>
    <div class="pt-4">
      <a class="secondary px-5 py-2 flex items-end rounded-sm max-w-max mx-auto" href="javascript:void(0);"><i class="icon-scanner mr-3 text-lg"></i>SCAN QR</a>
    </div>
  </div>
</div>
<app-image-and-video-preview *ngIf="isOpenPopup" (openClosePopup)="closePop($event)" [isSingleVideo]="isSingleVideo" [isImageOrVideoFlag]="isImage" [isCompanyImagesAndVideo]="companyIAndV" [expectedProp]="imagesOrVideosArr"></app-image-and-video-preview>

<div class="fixed bg-black bg-opacity-25 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30 flex items-center justify-center text-center p-5" *ngIf="cancelEventPop">
  <div class="p-7 bg-white shadow-lg rounded max-w-3xl max-h-[80vh] overflow-y-auto text-left space-y-5 lg:space-y-8">
    <app-rpcp-rules></app-rpcp-rules>
    <div class="flex items-center justify-end space-x-5">
      <button class="secondary px-7 py-1.5 anim" accesskey="alt+tab" (click)="closePop()">CANCEL</button>
      <button class="primary px-7 py-1.5 anim" (click)="deletePop()">Cancel Event</button>
    </div>
  </div>
</div>

<!-- Close -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pt-5 pb-8">
      <h3 class="w-full pb-2 normal-case">Cancel Event</h3>
      <p class="normal-case">Are you sure you want to Cancel Event.</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim" type="submit" (click)="cancelEvent(event._id)">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Cancel Event</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>