<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div class="space-y-5 px-2">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let seating of arrangementsArr;let i = index;">
      <mat-expansion-panel-header class="px-5 py-6">
        <mat-panel-title class="flex items-center justify-between">
          <div class="space-x-7 flex items-center">
            <div class="w-10 text-center">
              <img alt="{{seating?.seating_item?.itemname}}" class="mx-auto h-10 max-w-full object-contain" [src]="!!(seating?.seating_item?.itemimage) ? constants?.baseImageURL + seating?.seating_item?.itemimage : constants?.defaultImage"/>
            </div>
            <h4>{{seating?.seating_item?.itemname}}</h4>
          </div>            
          <div class="flex items-center space-x-7 pr-2">
            <a href="javascript:void(0);" (click)="deletePop(seating?.seating_item)"><i class="icon-delete text-lg text-quicksilver"></i></a>
            <a href="javascript:void(0);" (click)="openArrangementPopup(seating)"><i class="icon-edit text-lg text-quicksilver"></i></a>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="space-y-6 py-6">
        <div class="flex">
          <div class="pr-5">
            <img alt="select-item" src="../assets/images/select-item.png"/>
          </div>
          <div class="w-full space-y-2">
            <div class="flex items-center justify-between">
              <h6 class="text-lg text-japaneseIndigo font-bold">Select Item</h6>
            </div>
            <div class="borders">
              <div class="" *ngFor="let arrangement of seating?.arrangements">
                <div class="flex flex-wrap items-center">
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                    <span class="block text-xs xl:text-sm text-quicksilver">No of {{seating?.seating_item?.itemname}}</span>
                    <span class="block text-base font-bold text-quicksilver">{{arrangement.number_of_seating_item}}</span>
                  </div>
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                    <span class="block text-xs xl:text-sm text-quicksilver">Location</span>
                    <span class="block text-base font-bold text-quicksilver">{{((arrangement.vertical_location == 'TOP') ? 'T' : (arrangement.vertical_location == 'CENTER' ? 'C' : 'B'))}} - {{((arrangement.horizontal_location == 'LEFT') ? 'L' : ((arrangement.horizontal_location == 'CENTER') ? 'C' : (arrangement.horizontal_location == 'RIGHT' ? 'R' : 'N')))}}</span>
                  </div>
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                    *ngIf="(seating?.seating_item?.itemname !== 'Chair' && seating?.seating_item?.itemname !== 'chair') && (seating?.seating_item?.itemname != 'Stand' && seating?.seating_item?.itemname != 'stand')">
                    <span class="block text-xs xl:text-sm text-quicksilver">per {{seating?.seating_item?.itemname}} person capacity</span>
                    <span class="block text-base font-bold text-quicksilver">{{arrangement.per_seating_person}}</span>
                  </div>
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                    <span class="block text-xs xl:text-sm text-quicksilver">Total person capacity</span>
                    <span class="block text-base font-bold text-quicksilver">{{arrangement.total_person}}</span>
                  </div>
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4"
                    *ngIf="(seating?.seating_item?.itemname !== 'Chair' && seating?.seating_item?.itemname !== 'chair') && (seating?.seating_item?.itemname != 'Stand' && seating?.seating_item?.itemname != 'stand')">
                    <span class="block text-xs xl:text-sm text-quicksilver">Per {{seating?.seating_item?.itemname}} Price</span>
                    <span class="block text-base font-bold text-quicksilver">{{arrangement.per_seating_price || 0 | number:'1.2-2'}}</span>
                  </div>
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                    <span class="block text-xs xl:text-sm text-quicksilver">per person price</span>
                    <span class="block text-base font-bold text-quicksilver">{{arrangement.per_person_price || 0 | number:'1.2-2'}} INR</span>
                  </div>
                  <div class="space-y-1 border-r pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                    <span class="block text-xs xl:text-sm text-quicksilver">Total Amount</span>
                    <span class="block text-base font-bold text-japaneseIndigo">{{arrangement.total_amount || 0 | number:'1.2-2'}} INR</span>
                  </div>
                  <div class="space-y-1 pr-3 xl:pr-5 mr-3 xl:mr-5 mb-4">
                    <p class="block text-xs xl:text-sm text-quicksilver">Description</p>
                    <span class="text-base text-quicksilver font-bold" [innerHTML]="arrangement?.description || 'null'"></span>
                  </div>
                  <div class="flex items-center pt-4 ml-auto" *ngIf="(seating?.seating_item?.itemname !== 'Chair' && seating?.seating_item?.itemname !== 'chair') && (seating?.seating_item?.itemname != 'Stand' && seating?.seating_item?.itemname != 'stand')">
                    <!-- <input class="switch mx-3 order-2" id="on" type="checkbox" [(ngModel)]="arrangement.booking_acceptance"/>
                    <span class="off text-base font-bold anim order-1 text-caribbeanGreen">Per table</span>
                    <span class="on text-base font-bold anim order-3">Per person</span> -->
                    <span class="off text-base font-bold anim order-1 text-caribbeanGreen capitalize" *ngIf="!arrangement.booking_acceptance">Per table</span>
                    <span class="on text-base font-bold anim order-3 text-caribbeanGreen capitalize" *ngIf="arrangement.booking_acceptance">Per person</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="pr-5">
            <img alt="non-veg" src="../assets/images/non-veg.png"/>
          </div>
          <div class="flex w-full space-y-2">
            <div class="min-w-[148px] pr-5">
              <p>Food</p>
              <span class="text-lg font-bold text-japaneseIndigo capitalize">{{(seating.food == 'BOTH') ? 'Veg & Non-Veg' : seating.food}}</span>
            </div>
            <div class="border-l border-slate-500 px-4" *ngIf="seating?.food_description">
              <p class="pb-1 text-slate-400">Description</p>
              <div class="text-sm" [innerHTML]="seating.food_description || ''"></div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="pr-5">
            <img alt="not-include" src="../assets/images/not-include.png"/>
          </div>
          <div class="flex w-full space-y-2">
            <div class="min-w-[148px] pr-5">
              <p>Equipment</p>
              <span class="text-lg font-bold text-japaneseIndigo capitalize">{{seating.equipment ? 'Not Include' : 'Include'}}</span>
            </div>
            <div class="border-l border-slate-500 px-4" *ngIf="seating?.equipment_description">
              <p class="pb-1 text-slate-400">Description</p>
              <div class="text-sm" [innerHTML]="seating.equipment_description || ''"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button [routerLink]="'/events/create/about-event'" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <!-- [disabled]="!occasions || !occasions.length" -->
    <button class="flex items-center active" type="button" (click)="onNextStep()">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<!-- Close -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete Event</h3>
      <p class="normal-case">Are you sure you want to delete <strong class="">{{tmpSeatingObj?.itemname}}</strong>.</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteArrangement(tmpSeatingObj)">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>

<app-arrangement-dialog (isAddEventChange)="closePop($event)" (addEditArrangement)="addEditArrangement($event)" *ngIf="isArrangement"
 [popClass]="'active'" [seatingItems]="seatingItems" [editArrangementObj]="editArrangementObj" [arrangementsArr]="arrangementsArr"></app-arrangement-dialog>