<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="fixed bg-white bg-opacity-25 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>

<form #newEventNgForm="ngForm" [formGroup]="aboutEventForm" class="p-ngCss space-y-5 px-2" id="about-event">
  <div class="flex flex-wrap -mx-2">
    <div class="w-full xl:w-1/2 px-2 pt-5 relative">
      <span class="input-titel">Start And End Date <span class="text-ev-red">*</span></span>
      <label class="bg-white rounded-md flex space-x-3 relative">
        <i class="icon-calendar-2 text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0 z-10"></i>
        <p-calendar class="w-full" styleClass="w-full"
        [formControlName]="'date'" name="date" [minDate]="minStartDateValue" [defaultDate]="minStartDateValue" [dateFormat]="'dd/mm/yy'" selectionMode="range" [touchUI]="true" [readonlyInput]="true" inputId="range"></p-calendar>
      </label>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="aboutEventForm.get('date')?.invalid && (aboutEventForm.get('date')?.dirty && aboutEventForm.get('date')?.touched)">
        <span *ngIf="aboutEventForm.get('date')?.errors?.['required']">
          Date is required.
        </span>
        <span *ngIf="aboutEventForm.get('date')?.errors?.['end_date_require']">
          End Date is required.
        </span>
      </span>
    </div>
    <div class="w-full xl:w-1/2 px-2 pt-5 flex space-x-4">
      <div class="w-full lg:w-1/2 relative">
        <span class="input-titel"> Time <span class="text-ev-red">*</span></span>
        <label class="bg-white rounded-md flex space-x-3 relative">
          <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
          <p-calendar class="w-4/5" [formControlName]="'start_time'" name="start_time" [showTime]="true" [hourFormat]="'12'" [timeOnly]="true" inputId="start_time" [showButtonBar]="true"></p-calendar>
        </label>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="aboutEventForm.get('start_time')?.invalid && (aboutEventForm.get('start_time')?.dirty && aboutEventForm.get('start_time')?.touched)">
          <span *ngIf="aboutEventForm.get('start_time')?.errors?.['required']">
            Start time is required.
          </span>
        </span>
      </div>
      <div class="w-full lg:w-1/2 relative">
        <span class="input-titel">End Time <span class="text-ev-red">*</span></span>
        <label class="bg-white rounded-md flex space-x-3 relative">
          <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
          <p-calendar class="w-4/5" [formControlName]="'end_time'" name="end_time" [showTime]="true" [hourFormat]="'12'" [timeOnly]="true" inputId="end_time" [showButtonBar]="true"></p-calendar>
        </label>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="aboutEventForm.get('end_time')?.invalid && (aboutEventForm.get('end_time')?.dirty && aboutEventForm.get('end_time')?.touched)">
          <span *ngIf="aboutEventForm.get('end_time')?.errors?.['required']">
            End time is required.
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="w-full relative">
    <span class="input-titel">About Event <span class="text-ev-red">*</span> <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : textEditor}">( {{textEditorLimit}} characters out of {{textEditorMaxLimit}} )</i></span>
    <div class="w-full bg-white rounded relative">
      <ckeditor (ready)="onTextEditorReady($event)" (keyup)="editorCharacterSet()" [config]="editorConfig" [editor]="detailEditor" [formControlName]="'about_event'" class="h-44 text-editor" id="about_event" name="about_event"></ckeditor>
      <!-- <span class="absolute top-full text-red-500 text-xs" *ngIf="textEditor != ''">{{textEditor}}</span> -->
      <span class="absolute top-full text-red-500 text-xs" *ngIf="aboutEventForm.get('about_event')?.invalid && (aboutEventForm.get('about_event')?.dirty && aboutEventForm.get('about_event')?.touched)">
        <span *ngIf="aboutEventForm.get('about_event')?.errors?.['required']">
          About Event is required.
        </span>
      </span>
    </div>
    <!-- <textarea cols="30" rows="4" [formControlName]="'about_event'" name="about_event" class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md placeholder:text-sm placeholder:text-[#a6a6a6] placeholder:font-bold"></textarea> -->
  </div>
  <div class="w-full text-sm space-y-1 pt-6">
    <h5 class="text-red-600">*Note:</h5>
    <!-- <p><strong>Date :-</strong> Booking are not allowed before June 2023</p> -->
    <p><strong>Date</strong>  You need to enter the starting and ending date of your event. </p>
    <p><strong>Time </strong> Starting and ending times should not be the same.</p>
    <p><strong>Start Time</strong>  Starting time cannot be later than the ending time. </p>
    <p><strong>End Time</strong>  Ending time cannot be earlier than the starting time. </p>
  </div>
</form>


<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button type="button" class="flex items-center active" [routerLink]="'/events/create/add-event'">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button (click)="next()" type="button" class="flex items-center active">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>