<div class="space-y-5 px-2">
  <div class="flex flex-wrap -mx-2">
    <div class="w-full xl:w-1/2 px-2 pt-5">
      <span class="input-titel">Start Date</span>
      <label class="bg-white rounded-md flex space-x-3 relative">
        <i class="icon-calendar-2 text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
        <input type="date" class="w-full rounded-md outline-none py-3" />
      </label>
    </div>
    <div class="w-full xl:w-1/2 px-2 pt-5 flex space-x-4">
      <div class="w-full lg:w-1/2">
        <span class="input-titel">Start Date</span>
        <label class="bg-white rounded-md flex space-x-3 relative">
          <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
          <input type="time" class="w-full rounded-md outline-none py-3" />
        </label>
      </div>
      <div class="w-full lg:w-1/2">
        <span class="input-titel">End Date</span>
        <label class="bg-white rounded-md flex space-x-3 relative">
          <i class="icon-time text-quicksilver flex items-center pr-5 absolute right-0 inset-y-0"></i>
          <input type="time" class="w-full rounded-md outline-none py-3" />
        </label>
      </div>
    </div>
  </div>
  <div class="w-full">
    <span class="input-titel">About Even</span>
    <textarea  cols="30" rows="4" class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md placeholder:text-sm placeholder:text-[#a6a6a6] placeholder:font-bold"></textarea>
  </div>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5">
    <img src="assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover"/>
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button type="button" class="flex items-center active" [routerLink]="'/create-event/add-event'">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button type="button" class="flex items-center active"  [routerLink]="'/create-event/about-event'">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>