
              <!-- main-content  -->
              <div class="space-y-5 -mx-2">
                <div class="w-full flex items-end flex-wrap">
                  <div class="w-full lg:w-1/2 px-2 py-2 lg:py-0 inputHolder">
                      <span class="input-titel">Company Name</span>
                      <input type="text" class="input" />
                  </div>
                  <div class="w-full lg:w-1/2 px-2 py-2 lg:py-0 inputHolder">
                      <span class="input-titel">Company GST (Optional)</span>
                      <label for="upload" class="upload upload-popup py-2">
                        <input type="file" name="images" id="upload" class="appearance-none hidden" />
                        <span class="input-titel mt-1"><i class="icon-pdf_upload mr-2"></i>Upload PDF</span>
                      </label>
                  </div>
                </div>
                <div class="w-full flex items-end flex-wrap">
                  <div class="w-full lg:w-1/2 px-2 py-2 lg:py-0 inputHolder">
                      <span class="input-titel">Company Contact No</span>
                      <input type="text" class="input" />
                  </div>
                  <div class="w-full lg:w-1/2 px-2 py-2 lg:py-0 inputHolder">
                      <span class="input-titel">Company Email</span>
                      <input type="text" class="input" />
                  </div>
                </div> 
                <div class="">
                    <h5  class="px-2">Address</h5>
                    <div class="w-full flex flex-wrap mt-0">
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-5 inputHolder">
                          <span class="input-titel">Flat No.</span>
                          <input type="text" class="input" />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-5 inputHolder">
                          <span class="input-titel">Street Name.</span>
                          <input type="text" class="input" />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-5 inputHolder">
                          <span class="input-titel">Area Name.</span>
                          <input type="text" class="input" />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-5 inputHolder">
                          <label class="input-titel">City</label>
                          <input type="text" class="input" />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-5 inputHolder">
                          <label class="input-titel">State</label>
                          <input type="text" class="input" />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-5 inputHolder">
                          <label class="input-titel">Pincode</label>
                          <input type="text" class="input" />
                      </div>
                    </div>
                </div>              
              </div>
            <!-- advisement -->
            <div class="w-full mt-5">
              <img src="../assets/images/ad-banner.png" alt="ring-ad" class="w-full object-cover" />
            </div>
            <div class="prw-next-btn">
              <button type="button" class="flex items-center"><i class="icon-left_arrow mr-3"></i><h5>Back</h5></button>
              <button type="button" class="flex items-center active"><h5>Next</h5><i class="icon-right_arrow ml-3"></i></button>
            </div>