<div class="wrapper flex flex-col min-h-full">
  <div class="space-y-8">
    <!-- title-holder  -->
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <i routerLink=".." class="icon-left_arrow cursor-pointer mr-4 text-2xl"></i>
        <h2>Create new event</h2>
      </div>
      <!--<span [routerLink]="'/create-event'" class="secondary cursor-pointer px-7 py-3" (click)="isAddEvent = true">
        <i class="icon-plus mr-3"></i>Add event</span>-->
    </div>
    <div class="w-full overflow-hidden overflow-x-auto capitalize">
      <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>
  </div>
  <!-- main-content  -->
  <div class="pt-8 max-h-full overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
