<!--<div class="w-full h-screen flex items-center justify-center p-5">-->
    <div class="fixed bg-slate/700 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30 flex items-center justify-center text-center">
        <div class=" w-full">
            <canvas id="canvas" class="absolute inset-0 w-full h-full"></canvas>
            <div class="max-w-[220px] md:max-w-[300px] lg:max-w-[380px] xl:max-w-[450px] relative mx-auto">
                <img src="../assets/images/FE.gif" alt="Festum Evento" class="h-full object-cover mx-auto">
            </div>
            <div class="max-w-[80px] md:max-w-[120px] lg:max-w-[150px] xl:max-w-[180px] relative mx-auto mb-7 mt-5">
                <img [src]="assetPath" alt="" class="w-full">
            </div>
            <!-- <p class="text-5xl font-bold text-[#88B04B] text-center animate-pulse">Success</p> -->
            <div class="waviy text-center relative">
                <span style="--i:1" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">S</span>
                <span style="--i:2" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">U</span>
                <span style="--i:3" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">C</span>
                <span style="--i:4" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">C</span>
                <span style="--i:5" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">E</span>
                <span style="--i:6" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">S</span>
                <span style="--i:7" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#324068]">S</span>
                <span style="--i:8" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase ">&nbsp;</span>
                <span class="block sm:hidden h-2 w-full"></span>
                <span style="--i:9" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#CD4254]">F</span>
                <span style="--i:10" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#CD4254]">U</span>
                <span style="--i:11" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#CD4254]">L</span>
                <span style="--i:12" class="text-5xl md:text-6xl lg:text-7xl font-bold inline-block relative uppercase text-[#CD4254]">L</span>
            </div>
            <p class="max-w-4xl relative md:text-lg lg:text-xl font-medium text-center mx-auto mt-3">{{messageString}}</p>

        </div>
    </div>

<!--</div>-->