<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="fixed bg-white bg-opacity-25 backdrop-blur-sm right-0 bottom-0 h-[calc(100vh-76px)] w-full lg:w-[calc(100vw-230px)] z-30" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div class="space-y-5">
  <div class="flex items-center" *ngFor="let discount of discountList; let i = index">
    <div class="">
      <p-checkbox name="groupname" class="mr-5" [value]="discount.discounttype" [(ngModel)]="selectedDiscountTypes"></p-checkbox>
    </div>
    <div class="bg-gradient-to-r p-5 pr-8 rounded-lg overflow-hidden max-w-[calc(100%-48px)] w-full"
         [ngClass]="(discount.discounttype == 'discount_on_total_bill') ? 'from-[#13e1b094] to-[#13E1B0]' : ((discount.discounttype == 'discount_on_equipment_or_item') ? ' from-[#20C0E894] to-[#20C0E8]' : 'from-[#FABA1594] to-[#FABA15]')">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-white">{{discount.discountname}}</h2>
          <div class="text-[40px] text-black font-bold">{{discount.discount}}%</div>
        </div>
        <div>
          <button class="flex items-center justify-center text-xs font-bold bg-white rounded-sm px-3 py-2 space-x-2 ml-auto" (click)="popupOpen('discountDialog', discount, i)">
            <span><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41016 2.01465L0.80759 8.6177C0.774373 8.65101 0.750388 8.69308 0.738966 8.73829L0.00713451 11.6757C-0.0147567 11.7641 0.0112272 11.8582 0.0757586 11.9227C0.124585 11.9715 0.191116 11.9986 0.259169 11.9986C0.280013 11.9986 0.301333 11.996 0.322082 11.9907L3.2595 11.2588C3.30528 11.2474 3.34687 11.2235 3.38009 11.1903L9.98323 4.58772L7.41016 2.01465Z" fill="#2E363F"/><path d="M11.6195 1.11493L10.8845 0.379955C10.3933 -0.111264 9.53718 -0.110789 9.04654 0.379955L8.14624 1.28025L10.7192 3.85323L11.6195 2.95293C11.8649 2.70765 12 2.38119 12 2.03398C12 1.68676 11.8649 1.3603 11.6195 1.11493Z" fill="#2E363F"/></svg></span>
            <span>Edit</span>
          </button>
          <img src="/assets/images/event-subscription.png" alt="Event Subscription" class="mt-9 -mb-12 scale-125 origin-right" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button type="button" class="flex items-center active" [routerLink]="'/events/create/permission'">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button type="button" class="flex items-center active" (click)="next()">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="discountDialog"
       [title]="(tmpDiscountObj.discounttype == 'discount_on_total_bill') ? 'Discount On Total Bill' : ((tmpDiscountObj.discounttype == 'discount_on_equipment_or_item') ? 'Discount On Equipment Or Item' : 'Advance And Discount Confirmation')" maxWidth="lg:max-w-3xl" *ngIf="discountForm">
  <div class="pt-6 space-y-5">
    <form class="flex flex-wrap" [formGroup]="discountForm">
      <div class="w-full lg:w-1/2 inputHolder px-2.5" *ngIf="tmpDiscountObj.discounttype == 'discount_on_equipment_or_item'">
        <label class="input-titel">Equipment Or Item</label>
        <p-multiSelect [options]="seatingItems" optionLabel="itemname" optionValue="_id" display="chip" class="w-full input" [formControlName]="'items'"></p-multiSelect>
      </div>
      <div class="w-full inputHolder" [class]="(tmpDiscountObj.discounttype == 'discount_on_equipment_or_item') ? 'lg:w-1/2 px-2.5' : ''">
        <label class="input-titel" *ngIf="tmpDiscountObj.discounttype == 'discount_on_total_bill'">Discount On Total Bill</label>
        <label class="input-titel" *ngIf="tmpDiscountObj.discounttype == 'discount_on_equipment_or_item'">Discount</label>
        <label class="input-titel" *ngIf="tmpDiscountObj.discounttype == 'advance_and_discount_confirmation'">Advance Payment</label>

        <p-inputNumber class="input option w-full" type="text" [formControlName]="'discount'" suffix="%" [min]="0" [max]="100"></p-inputNumber>
      </div>
    </form>
    <ul class="space-y-2.5">
      <li class="text-xs font-medium">* Terms & Conditions</li>
      <div class="text-10 leading-5 font-medium text-japaneseIndigo pl-3" [innerHTML]="tmpDiscountObj.tandc"></div>
    </ul>
    <div class="flex items-center space-x-5">
      <button class="secondary w-full py-2 anim" accesskey="alt+tab" (click)="closePop()">CANCEL</button>
      <button type="submit" class="primary w-full py-2 anim" (click)="updateDiscount()">APPLY</button>
    </div>
  </div>
</modal>