<div [formGroup]="personalDetailForm" class="space-y-5">
  <div class="w-full flex items-end flex-wrap">
    <div class="w-full px-2 inputHolder relative">
      <span class="input-titel">Full Name (Mr / Mrs / Ms) <span>*</span></span>
      <input [formControlName]="'full_name'" class="input" autocomplete="disabled" name="full_name" required type="text"/>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="this.personalDetailForm.get('full_name').invalid && this.personalDetailForm.get('full_name').touched">Name is required</span>
    </div>
  </div>

  <div class="w-full flex items-end flex-wrap">
    <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 lg:py-0 inputHolder relative">
      <div class="input-label-holder">
        <label class="input-titel">Mobile Number <span>*</span></label>
        <label class="input-checkd anim cursor-pointer"><input [formControlName]="'mobile_hidden'" class="mr-2 cursor-pointer" name="mobile_hidden" type="checkbox"/> Hidden</label>
      </div>
      <input [formControlName]="'mobile'" class="input" name="mobile" required type="text" fuseValidNumber/>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="this.personalDetailForm.get('mobile').value == '' && this.personalDetailForm.get('mobile').touched else mobile">Mobile Number is required</span>
      <ng-template #mobile>
        <span class="absolute top-full text-red-500 text-xs" *ngIf="this.personalDetailForm.get('mobile').invalid && this.personalDetailForm.get('mobile').value ">Mobile Number is not valid</span>
      </ng-template>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 lg:py-0 inputHolder">
      <div class="input-label-holder">
        <label class="input-titel">Alternative Mobile Number(optional)</label>
        <label class="input-checkd anim cursor-pointer"><input [formControlName]="'alternate_mobile_hidden'" class="mr-2 cursor-pointer" name="alternate_mobile_hidden" type="checkbox"/> Hidden</label>
      </div>
      <input [formControlName]="'alternate_mobile'" class="input" name="alternate_mobile" type="text" fuseValidNumber/>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 lg:py-0 inputHolder relative">
      <div class="input-label-holder">
        <label class="input-titel">Email Address <span>*</span></label>
        <label class="input-checkd anim cursor-pointer"><input [formControlName]="'email_hidden'" class="mr-2 cursor-pointer" name="email_hidden" type="checkbox"/> Hidden</label>
      </div>
      <input [formControlName]="'email'" class="input" name="email" required type="text"/>
      <span class="absolute top-full text-red-500 text-xs" *ngIf="this.personalDetailForm.get('email').invalid && this.personalDetailForm.get('email').touched">Please enter valid email</span>
    </div>
  </div>
  <div class="space-y-5">
    <h5 class="px-2">Address</h5>
    <div class="w-full flex flex-wrap">
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
        <span class="input-titel">Flat No.</span>
        <input [formControlName]="'flat_number'" class="input" name="flat_number" type="text" fuseValidNumber/>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
        <span class="input-titel">Street Name.</span>
        <input [formControlName]="'street_name'" class="input" name="street_name" type="text"/>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
        <span class="input-titel">Area Name.</span>
        <input [formControlName]="'area_name'" class="input" name="area_name" type="text"/>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder relative">
        <label class="input-titel">City <span>*</span></label>
        <input [formControlName]="'city'" class="input" name="city" required type="text"/>
        <span class="absolute top-full -mt-2 text-red-500 text-xs" *ngIf="this.personalDetailForm.get('city').invalid && this.personalDetailForm.get('city').touched">City is required</span>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder relative">
        <label class="input-titel">State <span>*</span></label>
        <input [formControlName]="'state'" class="input" name="state" required type="text"/>
        <span class="absolute top-full -mt-2 text-red-500 text-xs" *ngIf="this.personalDetailForm.get('state').invalid && this.personalDetailForm.get('state').touched">State is required</span>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder relative">
        <label class="input-titel">Pincode <span>*</span></label>
        <input [formControlName]="'pincode'" class="input" name="pincode" required type="text" fuseValidNumber/>
        <span class="absolute top-full -mt-2 text-red-500 text-xs" *ngIf="personalDetailForm.get('pincode').invalid && personalDetailForm.get('pincode').touched">Pincode is required</span>
      </div>
    </div>
  </div>
</div>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5">
    <img alt="ring-ad" class="w-full object-cover" src="assets/images/banner-ads.png"/>
  </div>
  <!-- pre and next button -->
  <div class="prw-next-btn">
    <button [routerLink]="'/create-event/company-details'" class="flex items-center active" type="button">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button (click)="personalDetail()" class="flex items-center active" type="button">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>

<!-- [routerLink]="'/create-event/terms-and-conditions'" -->