
<div class="wrapper">
  <div class="flex flex-wrap items-center">
    <h2>Live Stream</h2>
    <div class="flex whitespace-nowrap space-x-5 ml-auto">
      <button class="secondary anim px-8 py-2"><a href="javascript:void(0);" class=""><i class="icon-plus mr-3"></i>Create New</a></button>
    </div>
  </div>
  <div class="space-y-5 pt-10">
    <div class="w-full flex items-center">
      <div class="w-full p-4 pr-7 bg-white rounded">
        <div class="flex flex-wrap xl:flex-nowrap lg:space-x-5">
          <img src="../assets/images/live-stream.png" alt="live-stream" />
          <div class="w-full pt-5 lg:pt-0">
            <div class="flex justify-between border-b-2 pb-4">
              <div class="">
                <h4 class="text-japaneseIndigo">Live Stream Title 1</h4>
                <div class="flex pt-3">
                  <div class="">
                    <div class="text-sm font-semibold text-quicksilver pt-3"><i class="icon-calendar-2 mr-3"></i>Date</div>
                    <span class="text-japaneseIndigo text-sm font-bold">July 23, 2021</span>
                  </div>
                  <div class="border-l-2 border-brightGray pl-3 lg:pl-7 ml-3 lg:ml-7">
                    <div class="text-sm font-semibold text-quicksilver pt-3"><i class="icon-time mr-3"></i>Time</div>
                    <span class="text-japaneseIndigo text-sm font-bold">04:00PM - 05:00AM</span>
                  </div>
                </div>
              </div>
              <div class="text-right  ">
                <button class="secondary anim px-5 py-2"><a href="javascript:void(0);" class="capitalize"><i class="icon-live mr-3"></i>go live</a></button>
                <p class="capitalize text-caribbeanGreen font-semibold pt-5">free live streaming</p>
              </div>
            </div>
            <div class="flex justify-between pt-4">
              <div class="flex items-center space-x-1">
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#999] text-sm"></i>
                <i class="icon-rating text-[#999] text-sm"></i>
                <span class="text-japaneseIndigo text-xs font-bold pl-2"> 19,981 ratings</span>
              </div>
              <div class="flex space-x-2">                          
                <a href="javascript:void(0);" class="bg-brightGray text-xl px-2 py-1 text-center rounded"><i
                  class="icon-time_revarse text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray text-xl px-2 py-1 text-center rounded"><i
                  class="icon-show text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray text-xl px-2 py-1 text-center rounded"><i
                  class="icon-edit text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray text-xl px-2 py-1 text-center rounded"><i
                  class="icon-fill_megaphone text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray text-xl px-2 py-1 text-center rounded"><i
                  class="icon-share text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray text-xl px-2 py-1 text-center rounded"><i
                  class="icon-delete_fill text-base text-japaneseIndigo"></i></a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex items-center">                
      <div class="w-full p-4 pr-7 bg-white rounded">
        <div class="flex flex-wrap lg:flex-nowrap lg:space-x-5">
          <img src="../assets/images/live-stream.png" alt="live-stream" />
          <div class="w-full pt-5 lg:pt-0">
            <div class="flex justify-between border-b-2 pb-4">
              <div class="">
                <h4 class="text-japaneseIndigo">Live Stream Title 1</h4>
                <div class="flex pt-3">
                  <div class="">
                    <div class="text-sm font-semibold text-quicksilver pt-3"><i class="icon-calendar-2 mr-3"></i>Date</div>
                    <span class="text-japaneseIndigo text-sm font-bold">July 23, 2021</span>
                  </div>
                  <div class="border-l-2 border-brightGray pl-3 lg:pl-7 ml-3 lg:ml-7">
                    <div class="text-sm font-semibold text-quicksilver pt-3"><i class="icon-time mr-3"></i>Time</div>
                    <span class="text-japaneseIndigo text-sm font-bold">04:00PM - 05:00AM</span>
                  </div>
                </div>
              </div>
              <div class="text-right  ">
                <button class="bg-quicksilver rounded-md font-bold text-white text-base border borderqbg-quicksilver hover:textqbg-quicksilver anim px-5 py-2"><a href="javascript:void(0);" class="capitalize"><i class="icon-live mr-3"></i>go live</a></button>
                <p class="capitalize text-magicPotion font-semibold pt-5">free live streaming</p>
              </div>
            </div>
            <div class="flex justify-between pt-4">
              <div class="flex items-center space-x-1">
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#999] text-sm"></i>
                <i class="icon-rating text-[#999] text-sm"></i>
                <span class="text-japaneseIndigo text-xs font-bold pl-2"> 19,981 ratings</span>
              </div>
              <div class="flex space-x-2">                          
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-time_revarse text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-show text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-edit text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-fill_megaphone text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-share text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-delete_fill text-base text-japaneseIndigo"></i></a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- advisement -->
    <div class="w-full mt-5">
      <img src="../assets/images/ad-banner.png" alt="ring-ad" class="w-full object-cover"/>
    </div>
    <!-- advisement end-->
    <div class="w-full flex items-center">                
      <div class="w-full p-4 pr-7 bg-white rounded">
        <div class="flex flex-wrap lg:flex-nowrap lg:space-x-5">
          <img src="../assets/images/live-stream.png" alt="live-stream" />
          <div class="w-full pt-5 lg:pt-0">
            <div class="flex justify-between border-b-2 pb-4">
              <div class="">
                <h4 class="text-japaneseIndigo">Live Stream Title 1</h4>
                <div class="flex pt-3">
                  <div class="">
                    <div class="text-sm font-semibold text-quicksilver pt-3"><i class="icon-calendar-2 mr-3"></i>Date</div>
                    <span class="text-japaneseIndigo text-sm font-bold">July 23, 2021</span>
                  </div>
                  <div class="border-l-2 border-brightGray pl-3 lg:pl-7 ml-3 lg:ml-7">
                    <div class="text-sm font-semibold text-quicksilver pt-3"><i class="icon-time mr-3"></i>Time</div>
                    <span class="text-japaneseIndigo text-sm font-bold">04:00PM - 05:00AM</span>
                  </div>
                </div>
              </div>
              <div class="text-right  ">
                <button class="bg-quicksilver rounded-md font-bold text-white text-base border borderqbg-quicksilver hover:textqbg-quicksilver anim px-5 py-2"><a href="javascript:void(0);" class="capitalize"><i class="icon-live mr-3"></i>go live</a></button>
                <p class="capitalize text-magicPotion font-semibold pt-5">free live streaming</p>
              </div>
            </div>
            <div class="flex justify-between pt-4">
              <div class="flex items-center space-x-1">
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#ECA926] text-sm"></i>
                <i class="icon-rating text-[#999] text-sm"></i>
                <i class="icon-rating text-[#999] text-sm"></i>
                <span class="text-japaneseIndigo text-xs font-bold pl-2"> 19,981 ratings</span>
              </div>
              <div class="flex space-x-2">                          
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-time_revarse text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-show text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-edit text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-fill_megaphone text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-share text-base text-japaneseIndigo"></i></a>
                <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded"><i
                  class="icon-delete_fill text-base text-japaneseIndigo"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>