<div class="-mt-12 relative -z-10">
  <img src="../assets/images/bbigsale.jpg" alt="dashboard-bg" class="w-full object-cover" />
</div>
<div class="wrapper -mt-14 z-10">
  <div class="lg:flex items-end justify-between bg-white py-5 px-7 rounded-md">
    <div>
      <h2 class="pb-2 lg:pb-5">Shopname A</h2>
      <div class="w-full flex flex-wrap space-y-2 xl:space-y-0">
        <div class="border-brightGray pr-2.5 lg:pr-5">
          <div class="text-sm font-semibold text-quicksilver">
            <i class="icon-calendar mr-1.5"></i>Offer Date
          </div>
          <span class="text-japaneseIndigo text-sm font-bold">July 23, 2021 - July 30, 2021</span>
        </div>
        <div class="border-l-2 border-brightGray px-2 lg:px-4">
          <div class="text-sm font-semibold text-quicksilver">
            <i class="icon-online_offer mr-1.5"></i>Offer Status
          </div>
          <div class="flex items-center">
            <input type="checkbox" id="on" class="switch mx-3 order-2" />
            <span class="off text-base font-bold anim order-1 text-caribbeanGreen">On</span>
            <span class="on text-base font-bold anim order-3">Off</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end space-x-2 mt-2.5">
      <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded" (click)="editOffer($event, '2s2df158')">
        <i class="icon-edit text-base text-black"></i>
      </a>
      <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded">
        <i class="icon-fill_megaphone text-base text-black"></i>
      </a>
      <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded">
        <i class="icon-share text-base text-black"></i>
      </a>
      <a href="javascript:void(0);" class="bg-brightGray px-2 py-1 text-center rounded">
        <i class="icon-delete_fill text-base text-black"></i>
      </a>
    </div>
  </div>
  <div class="pt-3.5 lg:pt-7">
    <div class="relative tab-main active" id="overview">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-8/12 lg:pr-3 xl:pr-5 space-y-7">
          <div class="bg-white p-7 space-y-5 rounded-md">
            <div class="space-y-2.5">
              <p class="text-lg text-japaneseIndigo font-bold">Product Image</p>
              <div class="flex space-x-5 items-center">
                <img src="../assets/images/shoes.png" alt="product" />
                <img src="../assets/images/shoes.png" alt="product" />
              </div>
            </div>
            <div class="space-y-2.5">
              <p class="text-lg text-japaneseIndigo font-bold">Product Image</p>
              <span class="text-sm text-quicksilver">Shoes123</span>
            </div>
            <div class="space-y-2.5">
              <p class="text-lg text-japaneseIndigo font-bold">Product Description</p>
              <span class="text-sm text-quicksilver">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </div>
          </div>
          <div class="space-y-3">
            <h5>Platform & Product Link</h5>
            <div class="bg-white p-7 space-y-2.5 rounded-md">
              <div class="flex items-center justify-between bg-brightGray py-3 px-4 rounded-md">
                <div class="flex items-center space-x-2.5">
                  <img src="../assets/images/flipkard-icon.png" alt="flipkart" />
                  <input type="text" class="w-full outline-none bg-transparent" value="https://flipkart.com" />
                </div>
                <div class="text-xl leading-0">
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-copy"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3 border-x border-quicksilver">
                    <i class="icon-big_screen"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-share_border"></i>
                  </a>
                </div>
              </div>
              <div class="flex items-center justify-between bg-brightGray py-3 px-4 rounded-md">
                <div class="flex items-center space-x-2.5">
                  <img src="../assets/images/amzon-icon.png" alt="amzon" />
                  <input type="text" class="w-full outline-none bg-transparent" value="https://flipkart.com" />
                </div>
                <div class="text-xl leading-0">
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-copy"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3 border-x border-quicksilver">
                    <i class="icon-big_screen"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-share_border"></i>
                  </a>
                </div>
              </div>
              <div class="flex items-center justify-between bg-brightGray py-3 px-4 rounded-md">
                <div class="flex items-center space-x-2.5">
                  <img src="../assets/images/myntra-icon.png" alt="myntra" />
                  <input type="text" class="w-full outline-none bg-transparent" value="https://flipkart.com" />
                </div>
                <div class="text-xl leading-0">
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-copy"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3 border-x border-quicksilver">
                    <i class="icon-big_screen"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-share_border"></i>
                  </a>
                </div>
              </div>
              <div class="flex items-center justify-between bg-brightGray py-3 px-4 rounded-md">
                <div class="flex items-center space-x-2.5">
                  <img src="../assets/images/flipkard-icon.png" alt="flipkart" />
                  <input type="text" class="w-full outline-none bg-transparent" value="https://flipkart.com" />
                </div>
                <div class="text-xl leading-0">
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-copy"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3 border-x border-quicksilver">
                    <i class="icon-big_screen"></i>
                  </a>
                  <a href="javascript:void(0);" class="px-3">
                    <i class="icon-share_border"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <img src="assets/images/banner-ads.png" alt="add banner" />
          </div>
          <div class="space-y-4">
            <h5>Company Name</h5>
            <div class="p-7 bg-white rounded-md space-y-1">
              <h3 class="text-lg">About Shop</h3>
              <p class="text-quicksilver text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
          <div class="space-y-4">
            <h5>Terms & Conditions</h5>
            <div class="p-3 bg-white rounded-md space-y-1">
              <div class="flex">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
              <div class="flex pt-2">
                <span class="text-quicksilver pr-1">*</span>
                <p class="text-quicksilver text-sm font-normal">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
              </div>
            </div>
          </div>
          <div class="space-y-4">
            <h5>Social Media</h5>
            <div class="p-7 bg-white rounded-md space-y-1 flex items-center space-x-7">
              <a href="javascript:void(0);">
                <img src="../assets/images/twiiter.png" alt="twiiter" />
              </a>
              <a href="javascript:void(0);">
                <img src="../assets/images/linked.png" alt="linked" />
              </a>
              <a href="javascript:void(0);">
                <img src="../assets/images/facebook.png" alt="facebook" />
              </a>
              <a href="javascript:void(0);">
                <img src="../assets/images/whatapp.png" alt="whatsapp" />
              </a>
              <a href="javascript:void(0);">
                <img src="../assets/images/instagram.png" alt="instagram" />
              </a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-4/12 lg:pl-3 xl:pl-5 space-y-7 sticky top-0 mt-7 lg:mt-0">
          <div class="bg-gradient-to-r from-[#13e1b094] to-[#13E1B0] space-y-3.5 rounded-md p-5 relative">
            <h3 class="text-white font-normal">Discount On Products</h3>
            <h1>20% Discount </h1>
            <div class="w-44 flex items-center bg-white border border-dashed border-caribbeanGreen px-2.5 py-2 space-x-2">
              <span class="text-xs text-japaneseIndigo font-bold">Offer Code : </span>
              <span class="text-xs text-caribbeanGreen font-bold">FGY4256</span>
              <a href="javascript:void(0);">
                <i class="icon-copy text-caribbeanGreen"></i>
              </a>
            </div>
            <span class="text-white flex">T&C Apply*</span>
            <img src="../assets/images/event-subscription.png" alt="event" class="absolute bottom-7 -right-1" />
          </div>
          <div class="bg-white p-7 rounded-md space-y-7">
            <p class="text-lg text-japaneseIndigo font-bold">user click on platform</p>
            <div class="flex items-center space-x-2.5">
              <img src="../assets/images/flipkard-icon.png" alt="flipkart" class="w-10 h-10" />
              <div>
                <p class="text-base text-japaneseIndigo font-bold">flipkart</p>
                <span class="text-xs text-quicksilver">10K User Click</span>
              </div>
            </div>
            <div class="flex items-center space-x-2.5">
              <img src="../assets/images/amzon-icon.png" alt="amazon" class="w-10 h-10" />
              <div>
                <p class="text-base text-japaneseIndigo font-bold">amazon</p>
                <span class="text-xs text-quicksilver">10K User Click</span>
              </div>
            </div>
            <div class="flex items-center space-x-2.5">
              <img src="../assets/images/myntra-icon.png" alt="myntra" class="w-10 h-10" />
              <div>
                <p class="text-base text-japaneseIndigo font-bold">myntra </p>
                <span class="text-xs text-quicksilver">10K User Click</span>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <img src="../assets/images/ad.png" alt="ad" class="w-full" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>