<div class="wrapper min-h-full">
  <div class="space-y-8 h-full">
    <div class="flex justify-between items-center">
      <h2>our products</h2>
    </div>
    <div class="space-y-5">
      <div class="w-full bg-white flex flex-wrap items-center lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[205px] w-full h-[205px]">
          <div class="bg-[#E9EAEE] h-full flex justify-center items-center">
            <img src="../assets/images/landing-page/evento packege.png" alt="Evento Packege" class="w-full h-full object-contain mix-blend-multiply p-5" />
          </div>
        </div>
        <div class="w-full px-3">
          <div class="flex justify-between items-center py-2">
            <h5>Evento Package</h5>
          </div>
          <div class="flex items-center space-x-2 pb-2">
            <p class="text-sm text-quicksilver font-normal pt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="flex space-x-7 pt-3">
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Social Media</span>
              <div class="flex space-x-5 border-r-2 pr-5 pt-3">
                <div class="">
                  <a href="https://www.facebook.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/facebook-icon.png" alt="Facebook" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.instagram.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/instagram-icon.png" alt="Instagram" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.linkedin.com/company/eventopackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/linked-icon.png" alt="Linked" />
                  </a>
                </div>
              </div>
            </div>
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Links</span>
              <div class="flex space-x-5 pt-3">
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/play-store-icon.png" alt="Play Store" />
                  </a>
                </div>
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/apple-icon.png" alt="Apple" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.festumevento.com/#/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/web-icon.png" alt="Web" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white flex flex-wrap items-center lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[205px] w-full h-[205px]">
          <div class="bg-[#E9EAEE] h-full flex justify-center items-center">
            <img src="../assets/images/friends-fields.png" alt="Friends Fields" class="w-full h-full object-contain mix-blend-multiply p-5" />
          </div>
        </div>
        <div class="w-full px-3">
          <div class="flex justify-between items-center py-2">
            <h5>Friends Fields</h5>
          </div>
          <div class="flex items-center space-x-2 pb-2">
            <p class="text-sm text-quicksilver font-normal pt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="flex space-x-7 pt-3">
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Social Media</span>
              <div class="flex space-x-5 border-r-2 pr-5 pt-3">
                <div class="">
                  <a href="https://www.facebook.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/facebook-icon.png" alt="Facebook" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.instagram.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/instagram-icon.png" alt="Instagram" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.linkedin.com/company/eventopackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/linked-icon.png" alt="Linked" />
                  </a>
                </div>
              </div>
            </div>
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Links</span>
              <div class="flex space-x-5 pt-3">
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/play-store-icon.png" alt="Play Store" />
                  </a>
                </div>
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/apple-icon.png" alt="Apple" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.festumevento.com/#/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/web-icon.png" alt="Web" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white flex flex-wrap items-center lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[205px] w-full h-[205px]">
          <div class="bg-[#E9EAEE] h-full flex justify-center items-center">
            <img src="../assets/images/landing-page/festumcoin.png" alt="Friends Fields" class="w-full h-full object-contain mix-blend-multiply p-5" />
          </div>
        </div>
        <div class="w-full px-3">
          <div class="flex justify-between items-center py-2">
            <h5>F-Coin</h5>
          </div>
          <div class="flex items-center space-x-2 pb-2">
            <p class="text-sm text-quicksilver font-normal pt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="flex space-x-7 pt-3">
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Social Media</span>
              <div class="flex space-x-5 border-r-2 pr-5 pt-3">
                <div class="">
                  <a href="https://www.facebook.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/facebook-icon.png" alt="Facebook" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.instagram.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/instagram-icon.png" alt="Instagram" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.linkedin.com/company/eventopackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/linked-icon.png" alt="Linked" />
                  </a>
                </div>
              </div>
            </div>
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Links</span>
              <div class="flex space-x-5 pt-3">
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/play-store-icon.png" alt="Play Store" />
                  </a>
                </div>
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/apple-icon.png" alt="Apple" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.festumevento.com/#/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/web-icon.png" alt="Web" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white flex flex-wrap items-center lg:flex-nowrap p-2.5 rounded-md">
        <div class="max-w-[205px] w-full h-[205px]">
          <div class="bg-[#E9EAEE] h-full flex justify-center items-center">
            <img src="../assets/images/landing-page/festumadvertising.jpg" alt="Festum Evento" class="w-full h-full object-contain mix-blend-multiply p-5" />
          </div>
        </div>
        <div class="w-full px-3">
          <div class="flex justify-between items-center py-2">
            <h5>Festum Advertising Media</h5>
          </div>
          <div class="flex items-center space-x-2 pb-2">
            <p class="text-sm text-quicksilver font-normal pt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="flex space-x-7 pt-3">
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Social Media</span>
              <div class="flex space-x-5 border-r-2 pr-5 pt-3">
                <div class="">
                  <a href="https://www.facebook.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/facebook-icon.png" alt="Facebook" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.instagram.com/EventoPackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/instagram-icon.png" alt="Instagram" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.linkedin.com/company/eventopackage/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/linked-icon.png" alt="Linked" />
                  </a>
                </div>
              </div>
            </div>
            <div class="">
              <span class="text-sm text-japaneseIndigo font-bold capitalize pb-3">Links</span>
              <div class="flex space-x-5 pt-3">
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/play-store-icon.png" alt="Play Store" />
                  </a>
                </div>
                <div class="">
                  <a href="javascript:void(0)" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/apple-icon.png" alt="Apple" />
                  </a>
                </div>
                <div class="">
                  <a href="https://www.festumevento.com/#/" target="_blank" class="bg-white w-9 h-9 rounded-full shadow-3xl flex justify-center items-center">
                    <img src="../assets/images/web-icon.png" alt="Web" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>