<div class="max-w-7xl px-5 mx-auto">
  <div class="title text-left py-5">
    <h2>Return Policy and Cancelation Policy - Rules.</h2>
  </div>
  <div class="text-sm leading-5 space-y-5">

    <div class="space-y-1.5">
      <h5 class="text-base">USER</h5>
      <p>User can claim about refund when event or live streaming not starting from organizer side.</p>
      <p>Here some criteria about refund,</p>
      <ol class="pl-5 list-disc">
        <li>User claim before 30 days of booking return 90% amount.</li>
        <li>User claim between 21-30 days of booking return 70% amount.</li>
        <li>User claim between 11-20 days of booking return 30% amount.</li>
        <li>User claim between 6-10 days of booking return 10% amount.</li>
        <li>User claim between 1-5 days of booking no return any amount. </li>
      </ol>
      <p>If Event reschedule then open two options for user. One option is cancelled reschedule event and ask for refund or 2nd is continue with reschedule event.</p>
      <p>If user cancel reschedules event ask for refund, then total amount will be refund. And 6% minus amount on event organizer it will be collect from deposit or F-coin.</p>
      <p>When event reschedule generate new ticket barcode.</p>
    </div>
  
    <div class="space-y-1.5">
      <h5 class="text-base">EVENT ORGANIZER</h5>
      <p>If Event cancel then refund total amount to users and 6% amount will be minus on event organizer. If organizer have enough coin or deposit then deduct 1st deposit then coin. And show on organizer dashboard.</p>
      <p>Every registering events reserve 10% of total amount before start events. This condition will apply when Event organizer cancel event or reschedule. At first time this situation was happened deposited flow work every time for particular organizer. This situation totally depends on first booking otherwise these terms not Appling. </p>
      <p>When one booking Is done and If Event cancel then the deposit amount not refundable to organizer. When no one is booking of event then Deduct 6% charge from deposit or F-coin then release.</p>
      <p>If Event not cancel then the deposit amount returns back to organizer after deduction of 5% bank charge (as per razor pay payment gateway).</p>
      <p>If Event reschedule then open two options for user. One option is cancelled reschedule event and ask for refund or 2nd is continue with reschedule event.</p>
      <p>If user cancel reschedules event ask for refund, then total amount will be refund. And 6% minus amount on event organizer it will be collect from deposit or F-coin.</p>
    </div>
  
    <div class="space-y-1.5">
      <h5 class="text-base">LIVE STREAMING ORGANIZER</h5>
      <p>If paid Live streaming cancel from organizer then refund total amount to users and not refund to organizer any amount that was paid on live streaming creation time.</p>
      <p>If free Live streaming cancel from organizer, then not refund to organizer any amount that was paid on live streaming creation time.</p>
      <p>If paid live streaming reschedule then open two options for user. One option is cancelled reschedule event and ask for refund or 2nd is continue with reschedule event.</p>
      <p>If free live streaming reschedules then open two options for user. One option is cancelled reschedule event or 2nd is continue with reschedule event.</p>
    </div>
    <div class="space-y-1.5">
      <h5 class="text-base">Note: This Calculation show to admin and admin reports and also printable.</h5>
    </div>
  
    <div class="space-y-1.5">
      <h5 class="text-base">What to do for this process optimize?</h5>
      <p>After deposit Amount Admin confirm and go to authorized.</p>
      <p>The collection amount show to organizer’s dashboard.</p>
      <p>Also show return amount and deduction amount.</p>
    </div>
  </div>
</div>
