<form [formGroup]="usersForm" class="">
  <div class="flex flex-wrap items-end justify-between " *ngIf="!isAllUserSelected && !isExistingUserSelected">
    <div class="w-full lg:w-1/2">
      <h5 class="pb-3">Select User</h5>
      <select class="bg-white rounded-md flex space-x-3 outline-0 px-6 py-[18px] relative arrow option" [formControlName]="'numberofusers'">
        <option *ngFor='let in of totalOptions;let i = index' [value]="i ? (i * math.ceil(totalUsersCount / 10)) : totalUsersCount">{{i ? (i * math.ceil(totalUsersCount / 10)) : 'Select All'}}</option>
      </select>
    </div>
    <div class="bg-white p-[18px] rounded-md mt-5 lg:mt-0">
      <span class="text-base font-bold text-japaneseIndigo">Total User : {{totalUsersCount}}</span>
    </div>
  </div>

  <div *ngIf="isAllUserSelected">
    <!-- select user card  -->
    <div class="">
      <h5>Select User Plan</h5>
      <div class="flex flex-wrap xl:flex-nowrap justify-between xl:space-x-5 items-center py-5">
        <div class="w-full xl:w-1/3 pb-5 xl:pb-0" *ngFor="let promotionPlan of allPromotionPlans; let i = index">
          <div
            class="bg-gradient-to-r {{!i ? 'from-[#13e1b094] to-[#13E1B0]' : ((i == 1) ? 'from-[#20c0e878] to-[#20C0E8]' : 'from-[#faba1585] to-[#FABA15]')}} p-5 rounded-xl relative overflow-hidden cursor-pointer">
            <div class="absolute -left-3 -bottom-3">
              <img src="../assets/images/event-subscription.png" alt="celebration" />
            </div>
            <label [for]="'promotion-plan' + i" class="cursor-pointer relative">
              <div class="flex items-center">
                <div class="radio">
                  <input class="radio" type="radio" name="promotion-plan-card" [id]="'promotion-plan' + i"
                         [value]="promotionPlan._id" [formControlName]="'selected_plan'" (click)="onPromotionPlanClick()"/>
                  <i class="icon-right text-white"></i>
                </div>
                <span class="text-xl font-normal text-white ml-5">{{promotionPlan.planname}}</span>
              </div>
              <div class="pt-7 space-y-3">
                <div class="flex w-full justify-between items-center">
                  <span class="text-sm text-japaneseIndigo font-bold">Notification</span>
                  <span class="text-sm text-japaneseIndigo font-bold">{{promotionPlan.notification_amount | number:'1.0-0'}} FOR {{promotionPlan.total_users | number:'1.0-0'}} USERS</span>
                </div>
                <div class="flex w-full justify-between items-center">
                  <span class="text-sm text-japaneseIndigo font-bold">SMS</span>
                  <span class="text-sm text-japaneseIndigo font-bold">{{promotionPlan.sms_amount | number:'1.0-0'}} FOR {{promotionPlan.total_users | number:'1.0-0'}} USERS</span>
                </div>
                <div class="flex w-full justify-between items-center">
                  <span class="text-sm text-japaneseIndigo font-bold">Email</span>
                  <span class="text-sm text-japaneseIndigo font-bold">{{promotionPlan.email_amount | number:'1.0-0'}} FOR {{promotionPlan.total_users | number:'1.0-0'}} USERS</span>
                </div>
                <div class="flex w-full justify-between items-center">
                  <span class="text-sm text-japaneseIndigo font-bold">All</span>
                  <span class="text-sm text-japaneseIndigo font-bold">{{promotionPlan.combo_amount | number:'1.0-0'}} FOR {{promotionPlan.total_users | number:'1.0-0'}} USERS</span>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- dashed border   -->
    <h2 class="border-t-2 border-gray-400 border-dashed text-center relative my-10"><small
        class="text-japaneseIndigo py-1 px-10 absolute -mt-5 bg-brightGray">OR</small></h2>
    <!-- main-content  -->
    <div>
      <div class="flex items-end justify-between">
        <div class="w-1/2">
          <h5 class="pb-3 capitalize">Select All App User</h5>
          <select class="bg-white rounded-md flex space-x-3 outline-0 px-6 py-[18px] relative arrow option" [formControlName]="'numberofusers'" (change)="onChangeUserSelection()">
            <option *ngFor='let in of totalOptions;let i = index' [value]="i ? (i * 100) : totalUsersCount">{{i ? (i * 100) : 'Select All'}}</option>
          </select>
        </div>
        <div class="bg-white p-[18px] rounded-md">
          <span class="text-base font-bold text-japaneseIndigo">Total User : {{totalUsersCount}}</span>
        </div>
      </div>
      <div class="flex pt-7">
        <div class="w-1/2">
          <h5 class="pb-3 capitalize">ads publish location</h5>
          <div class="flex items-center justify-between inputHolder bg-white rounded-md px-5 py-3">
            <input type="text" class="input text-base font-bold text-japaneseIndigo w-full" name="published_location" id="published_location" [formControlName]="'published_location'" />
            <a href="javascript:void(0);"><i class="icon-mark_location text-magicPotion text-3xl"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isExistingUserSelected">
    <h5>Select User</h5>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-12 pt-5">
      <div class="w-full lg:w-1/2 relative">
        <div class="space-y-3 max-h-[540px] overflow-y-auto">
          <p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
          <div class="flex items-center bg-white rounded-md cursor-pointer w-full px-4 py-3 sticky top-0 z-10 shadow">
            <label class="checkbox w-8 h-8 " for="is_selected_all">
              <input type="checkbox" class="bgbrightgray" name="is_selected_all" id="is_selected_all" [formControlName]="'is_selected_all'" (click)="onSelectAllChecked($event)"/>
              <i class="icon-right text-10 text-white"></i>
            </label>
            <span class="text-base text-japaneseIndigo font-bold ml-4">Select All</span>
          </div>
          <div class="flex items-center bg-white rounded-md cursor-pointer w-full px-4 py-3" *ngFor="let importedUser of allImportedUsers; let i = index">
            <label class="checkbox w-8 h-8">
              <input type="checkbox" class="bgbrightgray" [id]="'user-' + i" [checked]="importedUser.selected" (change)="onCheckboxChange(importedUser, i)" />
              <i class="icon-right text-10 text-white"></i>
            </label>
            <div class="flex items-center ml-4">
              <div class="w-8 h-8 rounded-full overflow-hidden mr-4">
                <img [src]="(importedUser.Photo && importedUser.Photo != '') ? importedUser.Photo : constants.defaultImage" [alt]="importedUser?.FullName" class="w-full h-full object-cover" />
              </div>
              <span class="text-base text-japaneseIndigo font-bold">{{importedUser?.FullName}}</span>
            </div>
          </div>
          <div class="text-center" *ngIf="pageObj && pageObj.hasNextPage">
            <button class="secondary px-5 py-2" (click)="getImportedUsersList()">Load more</button>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 pt-5 lg:pt-0">
        <div class="max-w-max ml-auto text-base font-bold text-japaneseIndigo bg-white py-3 px-8 rounded-md">Total User: <span>{{totalUsersCount | number:'1.0-0'}}</span>
        </div>
        <div class="upload-holder w-full h-full pt-5">
          <div class="flex items-end justify-between pb-3">
            <h5>Upload Excel</h5>
            <a class="secondary px-5 py-2" [href]="constants.baseImageURL + constants.importUsersDemoUrl" target="_self">Demo</a>
          </div>
          <label for="upload-csv" class="upload py-14">
            <input type="file" accept="text/csv, text/xml, text/xls, text/xlsx" name="upload-csv" id="upload-csv" class="appearance-none hidden" (change)="uploadUserCSV($event)"/>
            <div class="mt-1 flex items-center justify-center"><i
                class="icon-excel text-quicksilver text-base mr-2"></i>
              <span class="input-titel pt-1">Upload Excel</span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="mt-auto">
  <!-- advisement -->
  <div class="w-full mt-5 addsBox">
    <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
  </div>
  <!-- next preview button -->
  <div class="prw-next-btn mt-auto">
    <button type="button" class="flex items-center active" (click)="onBackClick()">
      <i class="icon-left_arrow mr-3"></i>
      <h5>Back</h5>
    </button>
    <button type="button" class="flex items-center active" (click)="onNextClick()">
      <h5>Next</h5>
      <i class="icon-right_arrow ml-3"></i>
    </button>
  </div>
</div>