
<div class="wrapper min-h-full flex flex-col">
  <div class="">
    <div class="flex justify-between items-center">
      <a href="javascript:void(0);" routerLink=".." class="flex items-center"><i class="icon-left_arrow mr-4 text-2xl"></i><h2>Buy Space Plan</h2></a>
    </div>
    <div class="flex flex-wrap items-center -m-3 mt-7">
      <div class="w-full xl:w-1/2 p-3">
        <div class="bg-white rounded flex items-center justify-between p-7">
          <div>
            <h2>Basic</h2>
            <p class="text-quicksilver text-base font-normal pt-5">25 images (up to 7MB/Image)</p>
            <p class="text-quicksilver text-base font-normal pt-3">10 Videos (up to 3GB/Video , up to 40min)</p>
          </div>
          <div class="ml-auto">
            <h2 class="pb-5">99 INR <span class="text-xl font-normal text-quicksilver">/ Mo</span></h2>
            <button class="block ml-auto secondary uppercase px-3 py-2 anim"><p>buy Plan</p></button>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-1/2 p-3">
        <div class="bg-white rounded flex items-center justify-between p-7">
          <div>
            <h2>Standard</h2>
            <p class="text-quicksilver text-base font-normal pt-5">50 images (up to 7MB/Image)</p>
            <p class="text-quicksilver text-base font-normal pt-3">25 Videos (up to 3GB/Video , up to 40min)</p>
          </div>
          <div class="ml-auto">
            <h2 class="pb-5">199 INR <span class="text-xl font-normal text-quicksilver">/ Mo</span></h2>
            <button class="block ml-auto secondary uppercase px-3 py-2 anim"><p>buy Plan</p></button>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-1/2 p-3">
        <div class="bg-white rounded flex items-center justify-between p-7">
          <div>
            <h2>Pro</h2>
            <p class="text-quicksilver text-base font-normal pt-5">100 images (up to 7MB/Image)</p>
            <p class="text-quicksilver text-base font-normal pt-3">50 Videos (up to 3GB/Video , up to 40min)</p>
          </div>
          <div class="ml-auto">
            <h2 class="pb-5">499 INR <span class="text-xl font-normal text-quicksilver">/ Mo</span></h2>
            <button class="block ml-auto secondary uppercase px-3 py-2 anim"><p>buy Plan</p></button>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-1/2 p-3">
        <div class="bg-white rounded flex items-center justify-between p-7">
          <div>
            <h2>Premium</h2>
            <p class="text-quicksilver text-base font-normal pt-5">200 images (up to 7MB/Image)</p>
            <p class="text-quicksilver text-base font-normal pt-3">100 Videos (up to 3GB/Video , up to 40min)</p>
          </div>
          <div class="ml-auto">
            <h2 class="pb-5">849 INR <span class="text-xl font-normal text-quicksilver">/ Mo</span></h2>
            <button class="block ml-auto secondary uppercase px-3 py-2 anim"><p>buy Plan</p></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- advisement -->
  <div class="mt-auto">
    <div class="w-full mt-5 addsBox">
      <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
    </div>
  </div>
</div>