<div (click)="close()" class="modal-background -z-30"></div>
<div class="table-cell align-middle relative z-50" [@fade]="state">
  <div class="popin max-w-2xl w-full mx-auto max-h-[calc(100vh-55px)] overflow-y-auto lg:px-9 {{maxWidth}}">
    <div class="bg-brightGray p-12">
      <div class="flex justify-between items-center">
        <h2>{{title}}</h2>
        <div>
          <a href="javascript:void(0);" (click)="close();" class="text-xl"><i class="icon-close"></i></a>
        </div>
      </div>
      <div class="">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>