<div class="wrapper min-h-full">
  <div class="space-y-7 h-full">
    <div class="w-full space-y-7">
      <h1>FAQs</h1>
      <div class="py-5">
        <p-accordion expandIcon="icon-plus" collapseIcon="icon-minus text-[4px]">

          <p-accordionTab header="LOGIN">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What shall I do if I do not receive OTP?</h5>
              <p>If you did not receive OTP by email or mobile number, then please contact us and send your complaint via email on the email address <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
            </div>
              
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">ii. While setting the password, it shows PASSWORD ERROR.</h5>
              <p>While setting the password, make sure your password is of 8 characters, 5 alphabets, 2 number and 1 symbol. <strong>For example-ABCDE12$</strong></p>
            </div>
              
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">iii. What should I do if I forget my password?</h5>
              <p class="">In case you forget your password, please follow the following steps:</p>
              <ul class="pl-3">
                <li>- Click on the forgot password option.</li>
                <li>- Enter your mobile number.</li>
                <li>- Confirm your OTP once you receive it on the above entered number.</li>
                <li>- Reset Your Password</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="LOCATION">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. How will I get events and offers?</h5>
              <p>If there are no events and offers within 2 kilometers of your location, the company will search default events and offers around your city/state.</p>
            </div>
          </p-accordionTab>

          <p-accordionTab header="APP FUNCTIONING">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-95"> Home screen</h5>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg"> i. home screen of the app is not properly visible. How can I solve it?</h5>
                <p>If the main screen of the app is not properly visible, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
                <ul class="pl-3">
                  <li>- Name of your device from which you are using the app.</li>
                  <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                  <li>- Describe the problem in 250 words.</li>
                </ul>
              </div>
            </div>

            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-95">Search Screen</h5>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg">i. Why is the search Tab not working properly on my device?</h5>
                <p>The search engine may not give proper output in case of two situations:</p>
                <ul class="pl-3">
                  <li>- Make sure that your location is 'ON'. The location can be used by google or third party.</li>
                  <li>- Your device capacity may not be suitable with the app.</li>
                </ul>
              </div>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg">ii. The search screen is not properly visible on the device.</h5>
                <p>
                  If the search screen of the app is not properly visible, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
                <ul class="pl-3">
                  <li>- Name of your device from which you are using the app.</li>
                  <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                  <li>- Describe the problem in 250 words.</li>
                </ul>
              </div>
            </div>

            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-95">Entertainment screen</h5>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg">i. What is the use of the entertainment screen?</h5>
                <p>The entertainment screen is the base of the organizer portal. The events and offer videos are shown here.</p>
              </div>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg">ii. What to do if the entertainment screen is not visible properly?</h5>
                <p>If the entertainment screen of the app is not properly visible, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
                <ul class="pl-3">
                  <li>- Name of your device from which you are using the app.</li>
                  <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                  <li>- Describe the problem in 250 words.</li>
                </ul>
              </div>
            </div>

            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-95">History screen</h5>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg">i. What does the history screen show?</h5>
                <p>Here, you can see your history of booked tickets and offers of the last one year. As new tickets add up, the oldest ones automatically get removed.</p>
              </div>
              <div class="space-y-1 pl-5">
                <h5 class="text-ev-dark opacity-60 text-lg">ii. There is an error coming while downloading history PDF.</h5>
                <p>If you are not able to download history PDF, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
                <ul class="pl-3">
                  <li>- Name of your device from which you are using the app.</li>
                  <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                  <li>- Describe the problem in 250 words.</li>
                </ul>
              </div>
            </div>

            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-95">Booking screen</h5>
              <div class="space-y-1 pl-5">
                <b>i. What shall I remember while booking events?</b>
                <ul class="pl-3 mt-1">
                  <li>- Events will only be booked once the payment is done.</li>
                  <li>- Once you make payment, you do not cancel and ask for a refund.</li>
                </ul>
                <b>ii. If you cannot generate barcodes, please follow the below given steps. Please email us the following details on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></b>
                <ul class="pl-3 mt-1">
                  <li>- Name of your device from which you are using the app.</li>
                  <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                  <li>- Describe the problem in 250 words</li>
                </ul>
                <b>iii. If not able to scan barcodes properly, please do the following.</b>            
                <p>Ticket number is provided for manual confirmation. Along with that please us the following details on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
                <ul class="pl-3 mt-1">
                  <li>- Name of your device from which you are using the app.</li>
                  <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                  <li>- Describe the problem in 250 words.</li>
                </ul>
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="EVENTS">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What are the features and functions available while searching events?
              </h5>
              <ul class="pl-3">
                <li>- We serve maximum events, offers, online product offers and Live Streaming on this platform. </li>
                <li>- You can see worldwide events and offers on single click</li>
                <li>- You can apply numerous filters anytime anywhere by ratings and locations</li>
                <li>- Create b2b, b2c, c2c events and other multiple events at a single time.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="OFFER">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What are the different options to add offers?</h5>
              <ul class="pl-3">
                <li>- One shop and all categories with the same offer.</li>
                <li>- One shop and 7 different category offers.</li>
                <li>- Multiple shops and all categories have the same offer.</li>
                <li>- Multiple shops and 7 different category offers.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="REFERRAL EARN AND READING EARN">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. Where can I share the links to refer to other people?</h5>
              <ul class="pl-3">
                <li>- You can refer by SMS, on telegram, twitter, WhatsApp, via e-mail, and other social media apps.</li>
              </ul>
            </div>
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">ii. How can I earn points by referring?</h5>
              <ul class="pl-3">
                <li>- When you send it for the first time, you earn 10 points for sending it to other users and 20 points for sending it to other shopkeepers and organizers. You also receive 10 points every time a user or shopkeeper, that you referred to, opens an account for the first time.</li>
                <li>-  1 INR = 25 points. referral points expire after 9 months at first time once you login date. Coin expires every 3 months of coin earn.</li>
              </ul>
            </div>
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">iii. How can I earn points by reading?</h5>
              <ul class="pl-3">
                <li>- Everyone can earn coins by reading event and offer Details, which is set by default with our FAM system.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="RATINGS AND REVIEWS">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. How does the rating and review feature works?</h5>
              <p>Users can give ratings and reviews to the shop, product, organizers and events. Organizers and users can see each other's ratings and reviews.</p>
            </div>
            <!-- <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">How can I earn points by referring?</h5>
              <ul class="pl-3">
                <li>- When you send it for the first time, you earn 10 points for sending it to other users and 20 points for sending it to other shopkeepers and organizers. You also receive 10 points every time a user or shopkeeper, that you referred to, opens an account for the first time.</li>
                <li>- 1 INR = 25 points. referral points expire after 9 months at first time once you login date. Coin expires every 3 months of coin earn.</li>
              </ul>
            </div> -->
          </p-accordionTab>

          <p-accordionTab header="LANGUAGE">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. Which languages are supported by the app?</h5>
              <p>The app supports multiple languages which can be translated as per needed. The organizers cannot translate the language though.</p>
            </div>
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">ii. The following languages are available.</h5>
              <p>English, Hindi, Spanish, French, Bengali, Russian, Portuguese, Urdu, German, Japanese, Marathi, Telegu, Western Punjabi, Tamil, Turkish.</p>
            </div>
          </p-accordionTab>

          <p-accordionTab header="CURRENCY">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">ii. The multiple currencies supported by the app are.</h5>
              <p>Indian rupees (INR), us dollar (USD), euro (EUR), Japanese yen (JPY), British pounds (GBP), Australian dollars (AUD), Canadian dollars (CAD), New Zealand dollars (NZD), Singapore dollars (SGD), Hong Kong dollars (HKD), Turkish lira (TRY), Russian ruble (RUB), Swiss francs (CHF).</p>
            </div>
          </p-accordionTab>

          <p-accordionTab header="CUSTOMER SUPPORT">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What are the customer support options available?</h5>
              <p>Customers can email us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a> anytime to solve their complaints. There is also a chatbot available to solve the doubts immediately. At last, customers can go through the FAQ section to know more. And also available call icon to support Team.</p>
            </div>
          </p-accordionTab>

          <p-accordionTab header="REDEMPTION">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. When can the coin be redeemed?</h5>
              <ul class="pl-3">
                <li class="font-semibold text-black pb-1">User</li>
                <li>- Coin redeem by bank or by product</li>
                <li>- By bank Redeeming can be done after a collection of 200 Coins.</li>
                <li>- If you redeem through a bank account, 5% bank charges and GST applied.</li>
                <li>- If you want to redeem by product then you can redeem at the time of payment and transfer by our scanner.</li>
                <li class="pt-5 font-semibold text-black pb-1">Organizer</li>
                <li>- Coin redeem by bank or by product</li>
                <li>- By bank Redeeming can be done after a collection of 200 Coins.</li>
                <li>- If you redeem through a bank account, 5% bank charges and GST applied.</li>
                <li>- If you want to redeem by product then you can redeem at the time of payment and transfer by our scanner.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="SHARE LINK">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What are the sharing options available?</h5>
              <p>You can share the event and product link with your friends and family through numerous social medias.</p>
            </div>
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">ii. What are the subscription options available for event organizers?</h5>
              <p>- When an event organizer registers for the first time, they can 		register 5 events for free, valid for a year. Later, subscription is mandatory. </p>
            </div>
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">iii. What are the subscription options available for shopkeepers?</h5>
              <p>- When a Shopkeeper registers for the first time, they can 			register 10 offers for free, valid for a year. Later, subscription is mandatory.</p>
            </div>
          </p-accordionTab>

          <p-accordionTab header="INVOICE">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What is the process of getting an invoice?</h5>
              <p>After the event ends, the invoice will be made in same days. Once the invoice is made, payment must be released in 2-3 working days. Bank charges must be collected from the customers. Also, it can take up to 3 business days for the transfer.</p>
            </div>
          </p-accordionTab>

          <p-accordionTab header="NOTIFICATION">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. When are the notifications sent?</h5>
              <p>Company will send notification in the following cases:</p>
              <ul class="pl-3">
                <li>- When event or offer starts and end</li>
                <li>- When any payment is made</li>
                <li>- When any new event or offer is added in the list</li>
                <li>- When any gift added in the list</li>
                <li>- When Coin Transaction is made</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="REMINDER">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. When are the reminders sent?</h5>
              <p>The app sends reminder in following cases:</p>
              <ul class="pl-3">
                <li>- SMS reminders in case any invoice is generated</li>
                <li>- When any event or offers are booked</li>
                <li>- At the time of subscription and expiry of subscription</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="PROMOTION">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What can I do when Promotion tab is not working?</h5>
              <p>When you click on the promote button and it’s not working, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
              <ul class="pl-3">
                <li>- Name of your device from which you are using the app.</li>
                <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                <li>- Describe the problem in 250 words.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="GIFT">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What is the use of the Gift screen?</h5>
              <p>The gift screen shows the brand company’s shopping offer voucher.</p>          
            </div>
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">ii. What to do if the gift screen is not visible properly or offline offer voucher not downloading?</h5>
              <p>f the gift screen of the app is not properly visible or offline offer voucher not downloading, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
              <ul class="pl-3">
                <li>- Name of your device from which you are using the app.</li>
                <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                <li>- Describe the problem in 250 words.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="WISHLIST">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What is the use of the Wishlist?</h5>
              <p>The Wishlist screen shows the Event and Offers you like. </p>
              <p>-If the Wishlist screen of the app is not properly visible and, please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
              <ul class="pl-3">
                <li>- Name of your device from which you are using the app.</li>
                <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                <li>- Describe the problem in 250 words.</li>
              </ul>
            </div>
          </p-accordionTab>

          <p-accordionTab header="ANY OTHERS">
            <div class="space-y-1.5">
              <h5 class="text-ev-dark opacity-60 text-lg">i. What shall I do if I have any other complaints?</h5>
              <p> please email the following things to us on <a class="text-magicPotion hover:opacity-75 anim" href="mailto:info@festumevento.com">info@festumevento.com</a></p>
              <ul class="pl-3">
                <li>- Name of your device from which you are using the app.</li>
                <li>- Upload screenshots of the problem that is occurring on the screen.</li>
                <li>- Describe the problem in 250 words.</li>
              </ul>
            </div>
          </p-accordionTab>

        </p-accordion>
      </div>
    </div>
    <div class="w-full mt-5 addsBox">
      <img src="/assets/images/banner-ads.png" alt="ring-ad" class="w-full object-cover" />
    </div>
  </div>
</div>