
              <!-- main-content  -->
              <div class="space-y-5 -mx-2">
                <div class="w-full flex items-end flex-wrap">
                  <div class="w-full px-2 inputHolder">
                      <span class="input-titel">Full Name (Mr / Mrs / Ms) <span>*</span></span>
                      <input type="text" class="input" required />
                  </div>
                </div> 
                <div class="w-full flex items-end flex-wrap">
                  <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 lg:py-0 inputHolder">
                      <div class="input-label-holder">
                        <label class="input-titel">Mobile Number <span>*</span></label>
                        <div class="input-checkd anim"><input type="checkbox" class="mr-2" />Hidden</div>
                      </div>
                      <input type="text" class="input" required/>
                  </div>
                  <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 lg:py-0 inputHolder">
                    <div class="input-label-holder">
                      <label class="input-titel">Alternative Mobile Number(optional)</label>
                      <div class="input-checkd anim"><input type="checkbox" class="mr-2" />Hidden</div>
                    </div>
                      <input type="text" class="input" />
                  </div>
                  <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 lg:py-0 inputHolder">
                      <div class="input-label-holder">
                        <label class="input-titel">Email Address <span>*</span></label>
                        <div class="input-checkd anim"><input type="checkbox" class="mr-2" />Hidden</div>
                      </div>
                      <input type="text" class="input" required />
                  </div>
                </div>
                <div class="">
                  <h5 class="px-2">Address</h5>
                  <div class="w-full flex flex-wrap">
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
                          <span class="input-titel">Flat No.</span>
                          <input type="text" class="input" required />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
                          <span class="input-titel">Street Name.</span>
                          <input type="text" class="input" />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
                          <span class="input-titel">Area Name.</span>
                          <input type="text" class="input" required />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
                          <label class="input-titel">City <span>*</span></label>
                          <input type="text" class="input" required />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
                          <label class="input-titel">State <span>*</span></label>
                          <input type="text" class="input" required />
                      </div>
                      <div class="w-full md:w-1/2 lg:w-1/3 px-2 py-2 inputHolder">
                          <label class="input-titel">Pincode <span>*</span></label>
                          <input type="text" class="input" required />
                      </div>
                    </div>
                </div>
              </div>
              <!-- advisement -->
              <div class="w-full mt-5">
                  <img src="../assets/images/ad-banner.png" alt="ring-ad" class="w-full object-cover" />
              </div>
            <div class="prw-next-btn">
              <button type="button" class="flex items-center"><i class="icon-left_arrow mr-3"></i><h5>Back</h5></button>
              <button type="button" class="flex items-center active"><h5>Next</h5><i class="icon-right_arrow ml-3"></i></button>
            </div>