<p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="8" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-40" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
<div class="wrapper min-h-full flex flex-col">
  <div class="space-y-8 h-full mb-7">
    <!-- profile 1 -->
    <!-- title-holder  -->
    <form [formGroup]="profileForm">
      <div class="flex justify-between items-center pt-4 pb-8">
        <h1>{{'Personal Profile' | translate }}</h1>
        <button *ngIf="!isEditProfile" class="secondary px-5 py-2" (click)="enableFields()">{{'Edit Profile' | translate }}</button>
        <button type="submit" *ngIf="isEditProfile" class="secondary px-5 py-2" (click)="updatePersonalProfile()">{{'Submit' | translate }}</button>
      </div>
      <!-- profile image-->
      <div class="flex items-center">
        <div>
          <div class="w-44 h-44 rounded-full border-8 border-magicPotion relative mr-9">
            <p-progressSpinner *ngIf="isImageLoading" [style]="{width: '30px', height: '30px'}" animationDuration=".5s" strokeWidth="4"
             class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-10 rounded-full"
              styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
            <img [src]="profile_pic" alt="Personal Profile Image" (error)="profile_pic = constants.userDefaultImage;"
                class="w-full h-full object-cover rounded-full overflow-hidden">
            <div class="absolute bottom-0 right-0 flex justify-center items-center w-10 h-10 rounded-full bg-magicPotion z-20" *ngIf="isEditProfile">
              <label for="profile_pic">
                <img src="../assets/images/cameraProfile.png" alt="Personal Profile Image"
                  [class]="isEditProfile ? 'cursor-pointer' : ''" />
              </label>
            </div>
          </div>
        </div>
        <input type='file' id="profile_pic" accept="image/png, image/jpg, image/jpeg" *ngIf="isEditProfile" (change)="onUpdateProfilePic($event);" style="display:none" />
        <div>
          <h4>{{profileObj?.name}}</h4>
          <div class="text-japaneseIndigo pt-2.5" [innerHTML]="profileObj?.about"></div>
        </div>
      </div>

      <!-- form Edit  -->
      <div class="w-full">
        <div class="flex flex-wrap -mx-2">
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Name' | translate }}</span>
            <input type="text" class="input font-bold" formControlName='name' />
            <span *ngIf="profileFirstName && profileFirstName.invalid && profileFirstName.touched" class="text-red-500 text-xs">
              Name is required
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Email' | translate }}</span>
            <input type="text" class="input font-bold" formControlName='email' />
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative" aria-disabled="true">
            <!-- <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative"> -->
              <span class="input-titel">{{'Contact No' | translate }}</span>
              <div #phoneF="ngForm" [formGroup]="phoneForm">
                <ngx-intl-tel-input 
                  [cssClass]="'w-full'"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  customPlaceholder="Mobile Number"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.India"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="true"
                  [numberFormat]="PhoneNumberFormat.National"
                  name="p_phone"
                  formControlName="p_phone"
                >
                </ngx-intl-tel-input>
                <span class="block absolute bg-transparent inset-0 z-10"></span>
              </div>
            <!-- </div> -->
          </div>
          
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative" >
            <!-- <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative"> -->
              <span class="input-titel">{{'Alternative Contact No' | translate }}</span>
              <div #phoneF="ngForm" class="relative" [formGroup]="phoneForm">
                <ngx-intl-tel-input [cssClass]="'w-full'"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  customPlaceholder="Mobile Number"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.India"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="true"
                  [numberFormat]="PhoneNumberFormat.National"
                  name="a_phone"
                  formControlName="a_phone"
                >
                </ngx-intl-tel-input>
                <span class="block absolute bg-transparent inset-0 z-10" *ngIf="!isEditProfile"></span>
              </div>
              <span class="absolute top-full text-red-500 text-xs left-2" *ngIf="phoneF.form.controls['a_phone'].touched && phoneF.form.controls['a_phone'].invalid">
                Please enter valid Contact Number.
              </span>
            <!-- </div> -->
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Date Of Birth' | translate }}</span>
            <p-calendar inputStyleClass="input font-bold" [showIcon]="false" inputId="icon" formControlName='dob' [maxDate]="maxDate" dateFormat="dd-mm-yy"></p-calendar>
            <!-- <span *ngIf="dob && dob.invalid && dob.touched && submit" class="text-red-500 text-xs">DOB is required</span> -->
            <span *ngIf="profileDob && profileDob.invalid && profileDob.touched" class="text-red-500 text-xs">
              <span *ngIf="profileDob?.errors?.required">Date Of Birth is required</span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Flat No' | translate }}.</span>
            <input [formControlName]="'flat_no'" class="input font-bold" type="text"/>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Street Name' | translate }}.</span>
            <input [formControlName]="'street'" class="input font-bold" type="text"/>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Area Name' | translate }}.</span>
            <input [formControlName]="'area'" class="input font-bold" type="text"/>
          </div>          
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">{{'City' | translate }}</label>
            <input [formControlName]="'city'" class="input font-bold" type="text" fuseValidAlphabet (keyup)="pincodeValidation(pincode.value)"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="profileForm.get('city')?.invalid && (profileForm.get('city')?.dirty && profileForm.get('city')?.touched)">
              <span *ngIf="profileForm.get('city')?.errors?.['required']">
                City is required.
              </span>
              <span *ngIf="profileForm.get('city')?.errors?.['not_match']">
                City is not match pin code wise.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">{{'State' | translate }}</label>
            <input [formControlName]="'state'" class="input font-bold" type="text" fuseValidAlphabet (keyup)="pincodeValidation(pincode.value)"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="profileForm.get('state')?.invalid && (profileForm.get('state')?.dirty && profileForm.get('state')?.touched)">
              <span *ngIf="profileForm.get('state')?.errors?.['required']">
                State is required.
              </span>
              <span *ngIf="profileForm.get('state')?.errors?.['not_match']">
                State is not match pin code wise.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">{{'Pincode' | translate }}</label>
            <input #pincode [formControlName]="'pincode'" class="input font-bold" type="text" fuseValidNumber (keyup)="pincodeValidation(pincode.value)"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="profileForm.get('pincode')?.invalid && (profileForm.get('pincode')?.dirty && profileForm.get('pincode')?.touched)">
              <span *ngIf="profileForm.get('pincode')?.errors?.['required']">
                Pincode is required.
              </span>
              <span *ngIf="profileForm.get('pincode')?.errors?.['pattern']">
                Please enter valid Pincode.
              </span>
              <span *ngIf="profileForm.get('pincode')?.errors?.['not_match']">
                Pincode is not found.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Country' | translate }}</span>
            <input type="text" class="input font-bold" formControlName='country' fuseValidAlphabet/>
            <span *ngIf="profileCountry && profileCountry.invalid && profileCountry.touched" class="text-red-500 text-xs">
              <span *ngIf="profileCountry?.errors?.required">
                Country is required
              </span>
            </span>
          </div>
          <div class="w-full px-2 inputHolder pt-4">
            <span class="input-titel">{{'About Me' | translate }}</span>
            <div class="w-full min-h-24 bg-white rounded">
              <ckeditor (ready)="onTextEditorReady($event)" [config]="editorConfig" [editor]="detailEditor" [formControlName]="'about'" class="h-44 text-editor" id="about" name="about"></ckeditor>
            </div>
            <!-- <textarea cols="30" rows="5" style="font-weight:bold;"
              class="input outline-none flex items-center w-full bg-white resize-none p-2 px-3.5 rounded-md placeholder:text-base placeholder:leading-6 placeholder:font-bold placeholder:text-japaneseIndigo"
              placeholder="Type here..." formControlName="about"></textarea> -->
          </div>
        </div>
      </div>
    </form>
    <!-- profile end 1 -->
    <!-- Kyc Detail -->

    <form [formGroup]="kycForm" >
      <div class="flex justify-between items-center pt-4 pb-8">
        <h1>{{'Kyc Detail' | translate}}</h1>
        <button *ngIf="!isKyc && profileObj?.kyc_details?.status !== 'pending'"  class="secondary px-5 py-2" [attr.disabled] = "profileObj?.kyc_details?.status === 'pending' ? 'disabled' : null" (click)="enablekycFields()">{{'Edit KYC Detail' | translate }}</button>
        <button type="submit" *ngIf="isKyc" class="secondary px-5 py-2" (click)="updateKycDetail()">{{'Submit' | translate }}</button>
      </div>
      <div class="py-3.5 mb-5 px-5 rounded-lg font-black bg-blue-500 flex items-center justify-between" *ngIf="profileObj?.kyc_details?.status == 'pending'">
        <p>Your kyc details status is Pending, you can not make any changes in Kyc details.</p>
      </div>
      <div class="py-3.5 mb-5 px-5 rounded-lg font-black bg-blue-500 flex items-center justify-between" *ngIf="profileObj?.kyc_details?.status == 'approve'">
        <p>Your kyc details status is approve, you can not make any changes in Kyc details.</p>
      </div>
      <div class="py-3.5 mb-5 px-5 rounded-lg font-black bg-blue-500 flex items-center justify-between" *ngIf="profileObj?.kyc_details?.status == 'reject'">
        <p>Your kyc details status is reject, you can not make any changes in Kyc details.</p>
      </div>
      <!-- form Edit  -->
      <div class="w-full relative">
        <div class="flex flex-wrap -mx-2">
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'UPI Id' | translate }}</span>
            <input type="text" class="input font-bold" formControlName='upi_id' />
            <!-- <span *ngIf="profileFirstName && profileFirstName.invalid && profileFirstName.touched" class="text-red-500 text-xs"> -->
              <!-- Name is required
            </span> -->
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Pan Card No.' | translate }}</span>
            <div class="relative">
              <input type="text" class="input font-bold" formControlName='pan_card_no' />
              <!-- <span class="block absolute inset-0 bg-white/60 cursor-not-allowed z-[1]" ></span> -->
            </div>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Bank IFSC Code' | translate }}</span>
            <input type="text" class="input font-bold" formControlName='bank_ifsc_code' />
          </div>
          <div class="w-full lg:w-1/2 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Bank Account Holder Name' | translate }}.</span>
            <input [formControlName]="'bank_account_holder_name'" class="input font-bold" type="bank_account_holder_name"/>
          </div>
          <div class="w-full lg:w-1/2 px-2 inputHolder pt-4">
            <span class="input-titel">{{'Bank Account No.' | translate }}.</span>
            <input [formControlName]="'bank_account_no'" class="input font-bold" type="bank_account_no"/>
          </div>
          <div class="w-full lg:w-1/2 pt-4 px-2">
            <div class="w-full">
              <span class="input-titel">{{'Pan Card Image' | translate }}.</span>
              <div class="w-full h-44 rounded-lg border-2 border-magicPotion bg-white relative">
                <img [src]="panImage" alt="Pan Card Image" 
                    class="w-full h-full object-cover overflow-hidden">
                <div class="absolute bottom-0 right-0 flex justify-center items-center w-10 h-10 rounded-md bg-magicPotion z-20" *ngIf="isKyc">
                  <label for="pan_card">
                    <img src="../assets/images/cameraProfile.png" alt="Personal Profile Image"
                      [class]="isKyc ? 'cursor-pointer' : ''" />
                  </label>
                </div>
                <!-- <span class="block absolute inset-0 bg-white/60 cursor-not-allowed z-[1]" ></span> -->
              </div>
            </div>
            <input type='file' id="pan_card" accept="image/png, image/jpg, image/jpeg"  (change)="uploadItemImage($event , 'pan_card');" *ngIf="isKyc"  style="display:none" />
          </div>
          <div class="w-full lg:w-1/2 pt-4 px-2">
            <div class="w-full">
              <span class="input-titel">{{'Bank Passbook Image' | translate }}.</span>
              <div class="w-full h-44 rounded-lg border-2 border-magicPotion bg-white relative">
                <!-- <p-progressSpinner *ngIf="isImageLoading" [style]="{width: '30px', height: '30px'}" animationDuration=".5s" strokeWidth="4"
                 class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-0 top-0 h-full w-full z-10 rounded-full"
                  styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner> -->
                <img [src]="passbookImage" alt="Bank Passbook Image" (error)="profile_pic = constants.userDefaultImage;"
                    class="w-full h-full object-cover ">
                <div class="absolute bottom-0 right-0 flex justify-center items-center w-10 h-10 rounded-md bg-magicPotion z-20" *ngIf="isKyc">
                  <label for="passbook">
                    <img src="../assets/images/cameraProfile.png" alt="Personal Profile Image"
                      [class]="isKyc ? 'cursor-pointer' : ''" />
                  </label>
                </div>
              </div>
            </div>
            <input type='file' id="passbook" accept="image/png, image/jpg, image/jpeg" *ngIf="isKyc" (change)="uploadItemImage($event , 'passbook');" style="display:none" />
          </div>
        </div>
        <span class="block absolute inset-0 bg-white/60 cursor-not-allowed rounded-lg z-[1]" ></span>
      </div>
    </form>

    <!-- profile 2 -->
    <!-- title-holder  -->
    <form [formGroup]="businessForm" *ngIf="true">
      <div class="flex justify-between items-center pt-4 pb-8">
        <h1>{{'Business Profile' | translate }} </h1>
        <button *ngIf="!isEditBusinessProfile" class="secondary px-5 py-2" (click)="enableFields(true)">{{'Edit Business Profile' | translate }}</button>
        <button type="submit" *ngIf="isEditBusinessProfile" class="secondary px-5 py-2" (click)="updateBusinessProfile()">{{'Submit' | translate }}</button>
      </div>
      <!-- profile image-->
      <div class="flex items-center">
        <div>
          <div class="w-44 h-44 rounded-full border-8 border-magicPotion relative mr-9">
            <img [src]="business_profile_pic" alt="Personal Profile Image" (error)="business_profile_pic = constants.userDefaultImage;" class="w-full h-full object-cover rounded-full overflow-hidden">
            <div class="absolute bottom-0 right-0 flex justify-center items-center w-10 h-10 rounded-full bg-magicPotion z-10" *ngIf="isEditBusinessProfile">
              <label for="business_profile_pic">
                <img src="../assets/images/cameraProfile.png" alt="Camera" [class]="isEditBusinessProfile ? 'cursor-pointer' : ''" />
              </label>
            </div>
          </div>
        </div>
        <input type='file' id="business_profile_pic" accept="image/png, image/jpg, image/jpeg" *ngIf="isEditBusinessProfile" (change)="onUpdateProfilePic($event, true);" style="display:none" />
        <div>
          <h4 *ngIf="businessObj?.name">{{businessObj?.name}}</h4>
          <div class="text-japaneseIndigo pt-2.5" *ngIf="businessObj?.about" [innerHTML]="businessObj?.about"></div>
        </div>
      </div>
      <!-- form Edit  -->
      <div class="">
        <div class="flex items-end flex-wrap -mx-2">
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Company Name' | translate }}</span>
            <input class="input font-bold" type="text" id="name" name="name" [formControlName]="'name'" required />
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('name')?.invalid && (businessForm.get('name')?.dirty && businessForm.get('name')?.touched)">
              <span *ngIf="businessForm.get('name')?.errors?.['minlength']">
                This field must have at least 2 character.
              </span>
            </span>
          </div>

          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Company GST' | translate }} (Optional Max File size up to 7MB)</span>
            <p-progressSpinner *ngIf="isPdfLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-x-1 bottom-0 top-10 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
            <div class="relative">
              <label class="upload upload-popup py-3">
                <input (change)="onChangePDF($event)" accept="application/pdf" class="appearance-none hidden" id="company_gst" name="images" type="file"/>
                <span class="input-titel text-base p-0">
                  <i class="icon-pdf_upload mr-2"></i> 
                  <span class="normal-case">{{inputText ? inputText : 'Upload PDF'}}</span>
                  <!-- <span>{{companyObj?.company_details?.gst}}</span> -->
                </span>
              </label>
              <span class="block absolute bg-transparent inset-0 z-50" *ngIf="!isEditBusinessProfile"></span>
            </div>
            <a *ngIf="inputText" class="absolute right-4 bottom-3 py-0.5 px-2 normal-case text-gray-400 anim hover:text-magicPotion text-sm font-semibold hidden border border-current group-hover:inline-block" [href]="constants.baseImageURL + gstPdf" target="_blank" title="View File">View</a>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="isInValidPDF">
              Please upload only PDF file. 
            </span>
          </div>

          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Company Email' | translate }}</span>
            <input [formControlName]="'email'" class="input font-bold" type="text"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('email')?.invalid && (businessForm.get('email')?.dirty && businessForm.get('email')?.touched)">
              <span *ngIf="businessForm.get('email')?.errors?.['pattern']">
                Please enter valid Email.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <!-- <div class="w-full md:w-1/2 px-2 pt-5 inputHolder relative"> -->
              <span class="input-titel">{{'Company Contact No' | translate }}</span>
              <div #phoneF="ngForm" class="relative" [formGroup]="phoneForm">
                <ngx-intl-tel-input
                  [cssClass]="'w-full'"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  customPlaceholder="Mobile Number"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.India"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="true"
                  [numberFormat]="PhoneNumberFormat.National"
                  name="phone"
                  formControlName="phone"
                >
                </ngx-intl-tel-input>
                <span class="block absolute bg-transparent inset-0 z-10" *ngIf="!isEditBusinessProfile"></span>
              </div>
              <span class="absolute top-full text-red-500 text-xs left-2" *ngIf="phoneF.form.controls['phone'].touched && phoneF.form.controls['phone'].invalid">
                Please enter valid Contact Number.
              </span>
            <!-- </div> -->
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Flat No' | translate }}.</span>
            <input [formControlName]="'flat_no'" class="input font-bold" type="text"/>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Street Name' | translate }}.</span>
            <input [formControlName]="'street'" class="input font-bold" type="text"/>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Area Name' | translate }}.</span>
            <input [formControlName]="'area'" class="input font-bold" type="text"/>
          </div>

          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">{{'City' | translate }}</label>
            <input [formControlName]="'city'" class="input font-bold" type="text" fuseValidAlphabet (keyup)="pincodeValidation(pincode.value, true)"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="profileForm.get('city')?.invalid && (profileForm.get('city')?.dirty && profileForm.get('city')?.touched)">
              <span *ngIf="businessForm.get('city')?.errors?.['required']">
                City is required.
              </span>
              <span *ngIf="businessForm.get('city')?.errors?.['not_match']">
                City is not match pin code wise.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">{{'State' | translate }}</label>
            <input [formControlName]="'state'" class="input font-bold" type="text" fuseValidAlphabet (keyup)="pincodeValidation(pincode.value, true)"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('state')?.invalid && (businessForm.get('state')?.dirty && businessForm.get('state')?.touched)">
              <span *ngIf="businessForm.get('state')?.errors?.['required']">
                State is required.
              </span>
              <span *ngIf="businessForm.get('state')?.errors?.['not_match']">
                State is not match pin code wise.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">{{'Pincode' | translate }}</label>
            <input #pincode [formControlName]="'pincode'" class="input font-bold" type="text" fuseValidNumber (keyup)="pincodeValidation(pincode.value, true)"/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('pincode')?.invalid && (businessForm.get('pincode')?.dirty && businessForm.get('pincode')?.touched)">
              <span *ngIf="businessForm.get('pincode')?.errors?.['required']">
                Pincode is required.
              </span>
              <span *ngIf="businessForm.get('pincode')?.errors?.['pattern']">
                Please enter valid Pincode.
              </span>
              <span *ngIf="businessForm.get('pincode')?.errors?.['not_match']">
                Pincode is not found.
              </span>
            </span>
          </div>
          <!-- <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Country' | translate }}</span>
            <input type="text" class="input font-bold" formControlName='country' />
            <span *ngIf="profileCountry && profileCountry.invalid && profileCountry.touched" class="text-red-500 text-xs">
              <span *ngIf="profileCountry?.errors?.required">
                Country is required
              </span>
            </span>
          </div> -->

              <!-- upload photo And Video  -->
    <div class="w-full px-2 inputHolder pt-4 relative">
      <div class="w-full py-2">
        <div class="media-upload-holder pt-5">
          <div class="flex items-center justify-between">
            <span class="text-quicksilver font-semibold">{{'Company Photos' | translate }} <span class="font-normal"> (Max {{photosUploadLimit}} Images - up to 7MB/Image & Resolution up to 1080PX x 1080PX)</span></span>
            <a class="text-spiroDiscoBall text-sm font-bold opacity-60 hover:text-red-500" href="javascript:void(0);" (click)="openImageAndVideoDialog(photoArr, true, false)">{{'View all' | translate }}</a>
          </div>
          <div class="flex flex-wrap h-full pt-2">
            <div *ngFor="let photo of photoArr; let i = index" class="upload-box mr-2.5 mb-2.5">
              <div class="rounded relative overflow-hidden h-full w-full group">
                <p-image [alt]="'add-photo-' + i" [src]="!!(photo?.url) ? constants.baseImageURL + photo.url : constants.defaultImage" *ngIf="photo.url" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="false"></p-image>
                <div class="opacity-0 bg-black bg-opacity-50 flex items-center justify-center group-hover:opacity-100 absolute inset-0 transition-all duration-300">
                  <button class="edit"  (click)="editImage(photo,i)" *ngIf="isEditBusinessProfile">Edit</button>
                  <span class="block" (click)="openImageAndVideoDialog([photo], true, false, false)"><i class="pi pi-eye text-2xl text-white cursor-pointer" ></i></span>
                  <button (click)="removeImage(i)" class="remove" *ngIf="isEditBusinessProfile">Remove</button>
                </div>
              </div>
            </div>
            <div (click)="openUploadPhotoDialog()" class="upload-holder" *ngIf="photoArr?.length < photosUploadLimit && isEditBusinessProfile">
              <label class="upload-photo" for="event-upload1">
                <i class="icon-img_upload text-base text-quicksilver"></i>
                <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">{{'Add Photos' | translate }}</span></div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full py-2">
        <div class="media-upload-holder">
          <div class="flex items-center justify-between">
            <span class="text-quicksilver font-semibold">{{'Company Videos' | translate }} <span class="font-normal"> (Max {{videosUploadLimit}} Videos - up to 128MB/Video)</span></span>
            <a class="text-spiroDiscoBall text-sm font-bold opacity-60 hover:text-red-500" href="javascript:void(0);" (click)="openImageAndVideoDialog(videoArr, false, false)">{{'View all' | translate }}</a>
          </div>
          <div class="flex space-x-2.5 h-full pt-2">
            <div *ngFor="let video of videoArr; let i = index" class="upload-box">
              <div class="rounded relative overflow-hidden h-full w-full group">
                <video class="object-cover w-full h-full" height="100%" width="100%"  preload="metadata">
                  <source [src]="!!(video?.url) ? constants.baseImageURL + video.url + '#t=0.5' : constants.defaultImage" type="video/mp4">
                </video>
                <div class="opacity-0 bg-black bg-opacity-50 flex items-center justify-center group-hover:opacity-100 absolute inset-0 transition-all duration-300">
                  <button class="edit" (click)="editVideoModal(video, i)" *ngIf="isEditBusinessProfile" >Edit</button>
                  <span class="block" (click)="openImageAndVideoDialog([video], false, false, true)"><i class="pi pi-eye text-2xl text-white cursor-pointer" ></i></span>
                  <button (click)="removeVideo(i)" class="remove" *ngIf="isEditBusinessProfile">Remove</button>
                </div>
              </div>
            </div>
            <div (click)="openUploadVideoDialog()" class="upload-holder" *ngIf="videoArr.length < 10 && isEditBusinessProfile">
              <!-- <div class="upload-holder relative" *ngIf="videoArr.length < 2"> -->
              <p-progressSpinner *ngIf="isVideoLoading" [style]="{width: '20px', height: '20px'}" animationDuration=".5s" strokeWidth="4" class="absolute bg-white bg-opacity-25 backdrop-blur-sm inset-0 z-20" styleClass="custom-spinner absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></p-progressSpinner>
              <label class="upload-photo">
                <!--          <input (change)="uploadVideo()" accept="video/mp4" class="appearance-none hidden" id="create-video-upload" name="videos" type="file"/>-->
                <i class="icon-video_upload text-base text-quicksilver"></i>
                <div class="mt-1 flex items-baseline justify-center"><span class="input-titel pt-1">{{'Add video' | translate }}</span></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
          
          <!-- <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">City<span class="text-magicPotion">*</span></label>
            <input [formControlName]="'city'" class="input font-bold" type="text" fuseValidAlphabet/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('city')?.invalid && (businessForm.get('city')?.dirty && businessForm.get('city')?.touched)">
              <span *ngIf="businessForm.get('city')?.errors?.['required']">
                City is required.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">State<span class="text-magicPotion">*</span></label>
            <input [formControlName]="'state'" class="input font-bold" type="text" fuseValidAlphabet/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('state')?.invalid && (businessForm.get('state')?.dirty && businessForm.get('state')?.touched)">
              <span *ngIf="businessForm.get('state')?.errors?.['required']">
                State is required.
              </span>
            </span>
          </div>
          <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <label class="input-titel">Pincode<span class="text-magicPotion">*</span></label>
            <input [formControlName]="'pincode'" class="input font-bold" type="text" fuseValidNumber/>
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('pincode')?.invalid && (businessForm.get('pincode')?.dirty && businessForm.get('pincode')?.touched)">
              <span *ngIf="businessForm.get('pincode')?.errors?.['required']">
                Pincode is required.
              </span>
              <span *ngIf="businessForm.get('pincode')?.errors?.['pattern']">
                Please enter valid Pincode.
              </span>
            </span>
          </div> -->
          <!-- <div class="w-full lg:w-1/2 xl:w-1/3 px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'Country Name' | translate }}.</span>
            <input [formControlName]="'country'" class="input font-bold" type="text"/>
          </div> -->
       
          <div class="w-full px-2 inputHolder pt-4 relative">
            <span class="input-titel">{{'About Our Company' | translate }}<span class="text-magicPotion">*</span></span>
            <div class="w-full bg-white rounded">
              <ckeditor (ready)="onTextEditorReady($event)" [config]="editorConfig" [editor]="detailEditor" [formControlName]="'about'" class="h-44 text-editor" id="about" name="about"></ckeditor>
            </div>
            <!-- <textarea [formControlName]="'about'" class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="4"></textarea> -->
            <span class="absolute top-full text-red-500 text-xs" *ngIf="businessForm.get('about')?.invalid && (businessForm.get('about')?.dirty && businessForm.get('about')?.touched)">
              <span *ngIf="businessForm.get('about')?.errors?.['required']">
                About is required.
              </span>
            </span>
          </div>
        </div>
      </div>
    </form>
    <!-- profile end 2 -->
  </div>
</div>

<!-- Upload Photo -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="photo" title="Upload Photo">
  <form #photosNgForm="ngForm" [formGroup]="photoForm" class="py-6 space-y-5">
    <div class="upload-holder- w-full">
      <h6 class="input-titel text-sm font-bold text-quicksilver flex items-center">Select Photo <p class="text-10 ml-2">15 Images (up to 7MB/Image)</p></h6>

      <div class="block">
        <ngx-dropzone #dropzonePhotos class="flex-wrap" (change)="onSelectImages($event)"  accept="image/jpeg,image/jpg,image/png,image/gif">
          <ngx-dropzone-label>Drop images here</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imagesFiles" [file]="f" [removable]="true" (removed)="onRemoveImages(f)"></ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>

      <div class="text-red-500 text-xs pt-1" *ngIf="rejectedPhotosList?.length">
        Rejected Photos ( Because of Maximum Image Size is {{constants.maxImageSizeInMB}} MB. ) :-
        <div>
          <span *ngFor="let rpl of rejectedPhotosList">{{rpl?.name}}, </span>
        </div>
      </div>

    </div>
    <div class="w-full">
      <span class="input-titel">Details <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : (descriptionLimit > constants.CKEditorCharacterLimit0)}">( {{descriptionLimit}} characters out of {{constants.CKEditorCharacterLimit0}} )</i></span>
      <textarea #imageDescription class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="5" formControlName="description" (keyup)="descriptionLimit = imageDescription.value.length"></textarea>
    </div>
  </form>
  <button (click)="uploadImage()" class="secondary w-full uppercase py-2 anim" [disabled]="isPhotoLoading">{{ isPhotoLoading ? 'Please wait...' : 'Submit' }}</button>
</modal>

<!-- Start Edit Photo Modal -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="photoEdit" title="Edit Photo">
  <form #photoEditForm="ngForm" [formGroup]="photoUpdateForm" class="py-6 space-y-5">
    <div class="upload-holder- w-full">
      <h6 class="input-titel text-sm font-bold text-quicksilver flex items-center">Select Photo <p class="text-10 ml-2">(up to 7MB)</p></h6>

      <label class="upload upload-popup p-0 relative group" id="editPosterUpload">
        <input #editPoster (change)="onEditPosterChange($event)" accept="image/png, image/jpeg, image/gif"  class="editPoster hidden" id="editPoster" type="file" />
      </label>

    </div>
    <div class="w-full">
      <span class="input-titel">Details <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : (descriptionLimit > constants.CKEditorCharacterLimit0)}">( {{descriptionLimit}} characters out of {{constants.CKEditorCharacterLimit0}} )</i></span>
      <textarea #imageDescription class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="5" formControlName="description" (keyup)="descriptionLimit = imageDescription.value.length"></textarea>
    </div>
  </form>
  <button (click)="editUploadImage()" class="secondary w-full uppercase py-2 anim" [disabled]="isPhotoLoading">{{ isPhotoLoading ? 'Please wait...' : 'Submit' }}</button>
</modal>
<!-- End Edit Photo Modal -->

<!-- Video -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="video" title="Upload video" *ngIf="videoForm">
  <form #videosNgForm="ngForm" [formGroup]="videoForm" class="py-6 space-y-5">
    <div class="upload-holder- w-full">
      <h6 class="input-titel text-sm font-bold text-quicksilver flex items-center">Select video <p class="text-10 ml-2"> ( {{ videosUploadLimit - videoArr.length}} videos - up to 128MB/Video)</p></h6>

      <div class="block">
        <ngx-dropzone #dropzoneVideos class="flex-wrap" (change)="onSelectVideos($event)"  accept="video/mp4,video/x-m4v,video/*">
          <ngx-dropzone-label>Drop videos here</ngx-dropzone-label>
          <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of videosFiles" [file]="f" [removable]="true" (removed)="onRemoveVideos(f)"></ngx-dropzone-video-preview>
        </ngx-dropzone>
      </div>

      <div class="text-red-500 text-xs pt-1" *ngIf="rejectedVideosList?.length">
        Rejected Videos ( Because of Maximum Image Size is {{constants.maxVideoSizeInMB}} MB. ) :-
        <div>
          <span *ngFor="let rpl of rejectedVideosList">{{rpl?.name}}, </span>
        </div>
      </div>
    </div>
    <div class="w-full">
      <span class="input-titel">Details <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : (descriptionLimit > constants.CKEditorCharacterLimit0)}">( {{descriptionLimit}} characters out of {{constants.CKEditorCharacterLimit0}} )</i></span>
      <textarea #videoDescription class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="5" formControlName="description" (keyup)="descriptionLimit = videoDescription.value.length"></textarea>
    </div>
  </form>
  <button (click)="uploadVideo()" class="secondary w-full uppercase py-2 anim" [disabled]="isVideoLoading">{{ isVideoLoading ? 'Please wait...' : 'Submit' }}</button>
</modal>

<!-- Start Edit Video Modal -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="videoEdit" title="Edit Video">
  <form #videoEditForm="ngForm" [formGroup]="videoUpdateForm" class="py-6 space-y-5">
    <div class="upload-holder- w-full">
      <h6 class="input-titel text-sm font-bold text-quicksilver flex items-center">Select Video <p class="text-10 ml-2">(up to 128MB)</p></h6>

      <label class="upload upload-popup p-0 relative group" id="editVideoUpload">
        <input #editVideo (change)="onEditVideoChange($event)" accept="video/mp4,video/x-m4v,video/*"  class="editVideo hidden" id="editVideo" type="file" />
      </label>

    </div>
    <div class="w-full">
      <span class="input-titel">Details <i class="text-xs font-medium" [ngClass]="{'text-magicPotion' : (descriptionLimit > constants.CKEditorCharacterLimit0)}">( {{descriptionLimit}} characters out of {{constants.CKEditorCharacterLimit0}} )</i></span>
      <textarea #videoDescription class="outline-none flex items-center w-full bg-white p-2 px-3.5 rounded-md" cols="30" rows="5" formControlName="description" (keyup)="descriptionLimit = videoDescription.value.length"></textarea>
    </div>
  </form>
  <button (click)="editUploadVideo()" class="secondary w-full uppercase py-2 anim" [disabled]="isVideoLoading">{{ isVideoLoading ? 'Please wait...' : 'Submit' }}</button>
</modal>
<!-- End Edit Video Modal -->


<!-- Images and Video Delete conformation -->
<modal class="popup table fixed w-full inset-0 z-40 bg-black bg-opacity-75 h-screen hidden" id="delete-event-pop" title="Are you sure?" [isCloseHidden]="true" [isTitleHidden]="true">
  <div class="flex flex-wrap relative">
    <div class="w-full pb-8">
      <h3 class="w-full pb-2 normal-case">Delete {{deleteItemObj.type}}</h3>
      <p class="normal-case">Are you sure you want to delete {{deleteItemObj.type}}</p>
    </div>
    <div class="flex items-center justify-end space-x-5 w-full">
      <button type="button" class="primary py-2 px-14 anim uppercase" (click)="close()">Cancel</button>    
      <div class="relative">
        <button class="secondary py-2 px-14 anim uppercase" type="submit" (click)="deleteEvent()">
          <span [ngClass]="{'opacity-0': isDeleteLoading}">Delete</span>
        </button>
        <div class="absolute inset-0 text-white flex items-center" *ngIf="isDeleteLoading">
          <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</modal>


<app-image-and-video-preview *ngIf="isOpenPopup" (openClosePopup)="closePop($event)" [isSingleVideo]="isSingleVideo" [isImageOrVideoFlag]="isImage" [isCompanyImagesAndVideo]="companyIAndV" [expectedProp]="imagesOrVideosArr"></app-image-and-video-preview>