<div class="wrapper min-h-full flex flex-col">
  <div class="space-y-8 h-full">
    <!-- profile 1 -->
    <!-- title-holder  -->
    <div class="flex justify-between items-center pt-4">
      <h1>Personal profile</h1>
      <button type="button" class="secondary px-5 py-2">Edit Profile</button>
    </div>
    <!-- profile image-->
    <div class="flex items-center">
      <div>
        <div class="w-44 h-44 rounded-full border-8 border-magicPotion relative mr-9">
          <img src="../assets/images/profile-3.png" alt="profile-3" class="w-full h-full object-cover rounded-full overflow-hidden"/>
          <div class="absolute bottom-0 right-0 flex justify-center items-center w-10 h-10 rounded-full bg-magicPotion z-10"><img src="../assets/images/cameraProfile.png" alt="cameraProfile"/></div>
        </div>
      </div>
      <div>
        <h4>Mobina Mirbagheri</h4>
        <h5 class="text-xl font-bold text-japaneseIndigo pt-2.5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
      </div>
    </div>
    <!-- form Edit  -->
    <div class="w-full">
      <div class="flex flex-wrap justify-between -mx-2">
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">Name</span>
          <input type="text" class="input font-bold" value="Mobina Mirbagheri" disabled/>
        </div>
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">Email</span>
          <input type="text" class="input font-bold" value="mobinamirbagheri@gmail.com" disabled/>
        </div>
      </div>
      <div class="flex flex-wrap justify-between -mx-2">
        <div class="w-full lg:w-1/2 px-2 pt-3">
          <span class="input-titel">Phone Number</span>
          <div class="flex items-center h-auto space-x-3 mt-1">
            <div class="">
              <select class="text-base text-japaneseIndigo bg-white rounded-md flex space-x-3 profile-arrow outline-0 whitespace-nowrap pl-5 pr-5 xl:pr-10 py-3.5 relative w-20 xl:w-28">
                <option>+91</option>
                <option>+625</option>
                <option>+001</option>
              </select>
            </div>
            <div class="max-w-full w-full inputHolder">
              <input type="text" class="input font-bold" value="96325 85214" disabled/>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">Date Of Birth</span>
          <input type="text" class="input font-bold" value="22 January 1975" disabled/>
        </div>                 
      </div>
      <div class="flex flex-wrap justify-between -mx-2">
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">City</span>
          <input type="text" class="input font-bold" value=""/>
        </div>
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">pincode</span>
          <input type="text" class="input font-bold" value=""/>
        </div>
      </div>
      <div class="flex flex-wrap justify-between -mx-2">
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">State</span>
          <input type="text" class="input font-bold" value=""/>
        </div>
        <div class="w-full lg:w-1/2 px-2 inputHolder pt-3">
          <span class="input-titel">Country</span>
          <input type="text" class="input font-bold" value=""/>
        </div>
      </div>
      <div class="w-full pt-3">
        <span class="input-titel">About Me</span>
        <textarea  cols="30" rows="5" class="outline-none flex items-center w-full bg-white resize-none p-2 px-3.5 rounded-md placeholder:text-base placeholder:leading-6 placeholder:font-bold placeholder:text-japaneseIndigo" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." disabled></textarea>
      </div>
    </div>
      <!-- profile end 1 -->
    <!-- profile 2 -->
    <!-- title-holder  -->
    <div class="flex justify-between items-center pt-4">
      <h1>Business profile </h1>
      <button type="button" class="secondary px-5 py-2">Edit Profile</button>
    </div>
    <!-- profile image-->
    <div class="flex items-center">
      <div>
        <div class="w-44 h-44 rounded-full border-8 border-magicPotion relative mr-9">
          <img src="../assets/images/profile-3.png" alt="profile-3" class="w-full h-full object-cover rounded-full overflow-hidden"/>
          <div class="absolute bottom-0 right-0 flex justify-center items-center w-10 h-10 rounded-full bg-magicPotion z-10"><img src="../assets/images/cameraProfile.png" alt="cameraProfile"/></div>
        </div>
      </div>
      <div>
        <h4>Mobina Mirbagheri</h4>
        <h5 class="text-xl font-bold text-japaneseIndigo pt-2.5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
      </div>
    </div>
    <!-- form Edit  -->
    <div class="w-full">
      <div class="flex flex-wrap justify-between -mx-2">
        <div class="w-full lg:w-1/2 px-2 pt-3 inputHolder">
          <span class="input-titel">Name</span>
          <input type="text" class="input font-bold" value="Mobina Mirbagheri" disabled/>
        </div>
        <div class="w-full lg:w-1/2 px-2 pt-3 inputHolder">
          <span class="input-titel">Email</span>
          <input type="text" class="input font-bold" value="mobinamirbagheri@gmail.com" disabled/>
        </div>
      </div>
      <div class="flex flex-wrap justify-between pt-3 -mx-2">
        <div class="w-full lg:w-1/2 px-2 pt-3">
          <span class="input-titel">Phone Number</span>
          <div class="flex items-center h-auto space-x-3 mt-1">
            <div class="">
              <select class="text-base text-japaneseIndigo bg-white rounded-md flex space-x-3 profile-arrow outline-0 whitespace-nowrap pl-5 pr-5 xl:pr-10 py-3.5 relative w-20 xl:w-28">
                <option>+91</option>
                <option>+625</option>
                <option>+001</option>
              </select>
            </div>
            <div class="max-w-full w-full inputHolder">
              <input type="text" class="input font-bold" value="96325 85214" disabled/>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-2 pt-3 inputHolder">
          <span class="input-titel">Address</span>
          <input type="text" class="input font-bold" value="Akshya Nagar 1st Block 1st Cross, Rammurthy nagar," disabled/>
        </div>
      </div>
      <div class="flex flex-wrap justify-between pt-3 -mx-2">
        <div class="w-full lg:w-1/2 px-2 pt-3 inputHolder">
          <span class="input-titel">Date Of Birth</span>
          <input type="text" class="input font-bold" value="22 January 1975" disabled/>
        </div>
        <div class="w-full lg:w-1/2 px-2 pt-3 inputHolder">
          <span class="input-titel">Country</span>
          <input type="text" class="input font-bold" value="India" disabled/>
        </div>
      </div>
      <div class="w-full pt-3">
        <span class="input-titel">About Me</span>
        <textarea  cols="30" rows="5" class="outline-none flex items-center w-full bg-white resize-none p-2 px-3.5 rounded-md placeholder:text-base placeholder:leading-6 placeholder:font-bold placeholder:text-japaneseIndigo" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." disabled></textarea>
      </div>
    </div>
    <!-- profile end 2 -->
  </div>
</div>